{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'FAQ Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'FAQ Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if faq is defined and faq %}
                    <a href="{{ path('app_admin_faq_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if faq is defined and faq %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_faq_store') }}" method="post">
                    <div class="form-group">
                        <label for="inputTitle">{{ 'Title'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputTitle" name="title"
                            placeholder="{{ 'Enter title (required)'|trans }}" value="{{ faq.title }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputDescription">{{ 'Description'|trans }}: <span
                                class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" id="inputDescription" name="description" rows="10"
                            placeholder="{{ 'Enter description (required)'|trans }}"
                            required>{{ faq.description }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-dark mt-2">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" value="{{ faq.id }}" name="faqId">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Title'|trans }}:</span>
                        {{ faq.title|capitalize }} # {{ faq.id }}
                    </p>
                    <p>
                        <span class="text-bold mr-2">{{ 'Description'|trans }}:</span>
                        {{ replaceLinkWithHref(faq.description)|raw }}
                    </p>

                    <p title="{{ faq.updatedAt|date('Y-m-d H:i:s') }}">
                        <span class="text-bold mr-2">{{ 'Updated at'|trans }}:</span>
                        {{ faq.updatedAt|date }}
                    </p>

                    <p title="{{ faq.createdAt|date('Y-m-d H:i:s') }}">
                        <span class="text-bold mr-2">{{ 'Created at'|trans }}:</span>
                        {{ faq.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_faq_index',
                    linkText: 'Back to FAQ'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}