{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'FAQ'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 pt-2 h4-title">{{ 'FAQ'|trans }}</h4>
            </div>
            <div class="col-8">
                <div class="breadcrumb float-right mt-1">
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#newFAQModal">
                        <span class="fas fa-plus text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Add new FAQ'|trans }}</span>
                    </button>


                    {% if faq is defined and faq and count(faq) > 0 %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportFAQModal">
                        <span class="fas fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deleteAllFaqModal">
                        <span class="fas fa-trash text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoFaqModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% include "admin/faq/partial/table_content.html.twig" %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include "admin/faq/modal/add_new_faq.html.twig" %}
{% include "admin/faq/modal/export.html.twig" %}
{% include 'admin/faq/modal/delete_faq.html.twig' %}
{% include 'admin/faq/modal/delete_all.html.twig' %}
{% include 'admin/faq/modal/infos.html.twig' %}

{% endblock %}