{% extends 'base.html.twig' %}

{% block title %} {{ 'Get started for free'|trans }} {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Get started for free'|trans }}</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            {% include 'component/message/custom_type_message.html.twig' %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">

            <form class="row g-2" action="{{ path('app_register_new') }}" method="post">
                <div class="col-12">
                    <label for="inputUsername" class="form-label">{{ 'Username'|trans }}:</label>
                    <input type="text" name="username" id="inputUsername" class="form-control"
                        placeholder="{{ 'Type username'|trans }}" required autofocus>
                </div>
                <div class="col-12">
                    <label for="inputEmail" class="form-label">{{ 'E-mail Address'|trans }}:</label>
                    <input type="email" name="email" id="inputEmail" class="form-control"
                        placeholder="{{ 'Type email address'|trans }}" autocomplete="email" required>
                </div>
                <div class="col-12">
                    <label for="inputPassword" class="form-label">{{ 'Password'|trans }}:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        autocomplete="current-password" placeholder="{{ 'Type password'|trans }}" required>
                    {% include 'component/form_show_hide_password.html.twig' %}
                    <img src="{{ asset('assets/img/svg/shield-shaded.svg') }}" data-bs-toggle="modal"
                        data-bs-target="#strongPasswordModalCenter" class="float-end pointer" alt="Info"
                        style="margin-top: -55px;">
                </div>
                <div class="col-12">
                    <p class="mt-2">{{ 'If you continue, you agree to our'|trans }}
                        <a href="{{ path('app_meta_privacy_policy') }}" class="a-animate"> 
                            {{ 'Privacy Policy'|trans }}
                        </a>
                        {{ 'and'|trans }}
                        <a href="{{ path('app_meta_cookies') }}" class="a-animate"> {{ 'Cookies'|trans }}</a> 
                        {{'Usage'|trans }}.
                    </p>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">{{ 'Create Account'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4">
            <p>{{ 'Already have an account?'|trans }}
                <a href="{{ path('app_login') }}" class="a-animate">{{ 'Login'|trans }}</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <p>{% include 'component/back_to_homepage_link.html.twig' %}</p>
        </div>
    </div>
</div>

{% include 'account/registration/modal/strong_password_info.html.twig' %}

{% endblock %}