{% if authers is defined and authers %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Image'|trans }}</th>
                <th scope="col">{{ 'Auther'|trans }}</th>
                <th scope="col">{{ 'About'|trans }}</th>
                <th scope="col">{{ 'IsProfilePublic'|trans }}</th>
                <th scope="col">{{ 'ArticleCounts'|trans }}</th>
                <th scope="col">{{ 'Updated'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in authers %}
                {% if row.user.isWriter %}
                <tr class="tr-over-bg font-size-14">
                    <td>
                        <img src="{{ asset('assets/uploads/avatar/' ~ row.user.profile.name) }}" alt="..." class="sm-img"
                            onclick="window.open(this.src)">
                    </td>
                    <td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <form action="{{ path('app_admin_users_edit', {id: row.user.id}) }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <span class="text-primary pointer mr-3" onclick="this.closest('form').submit();">
                                    {{ row.username|capitalize }}
                                </span>
                                <input type="hidden" value="{{ backToRoute is defined ? backToRoute : '' }}" name="route">
                            </form>
                        {% else %}
                            <span>{{ row.username|capitalize }}</span>
                        {% endif %}
                    </td>
                    <td title="{{ row.about }}">{{ row.about ? row.about|slice(0, 45) ~ '...' : dash() }}</td>
                    <td>{{ row.isProfilePublic ? faThumbsUp() : faThumbsDown() }}</td>
                    <td>{{ row.articlesCount }}</td>
                    <td title="{{ row.updatedAt|date('Y-m-d H:i') }}">
                        {{ timeAgo(row.updatedAt) }}
                    </td>
                    <td title="{{ row.createdAt|date('Y-m-d H:i') }}">
                        {{ timeAgo(row.createdAt) }}
                    </td>
    
                    <td class="d-flex">
                        <form action="{{ path('app_admin_blog_auther_edit', {id: row.id}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span class="fa fa-edit fa-sm text-primary pointer mr-3"
                                onclick="this.closest('form').submit();"></span>
                            <input type="hidden" name="uId" value="{{ row.user.id }}">
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
    {% include 'admin/component/no_data_found.html.twig' %}
{% endif %}