{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Accounts Deleted'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Accounts Deleted'|trans }}</h4>
            </div>
            <div class="col-4">
                <div class="breadcrumb float-right">
                    {% if users is defined and users and is_granted('ROLE_SUPER_ADMIN') %}
                        <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#transformDataModal">
                            <span class="fa fa-user-secret fa-sm text-danger pointer"></span>
                            <span class="sm-md-d-none ml-1 pr-1">{{ 'Transform Data'|trans }}</span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% include 'admin/user/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if users is defined and users %}
    {% include 'admin/user/modal/delete_user.html.twig' %}
    {% include 'admin/user/modal/transform_data.html.twig' %}
{% endif %}

{% endblock %}