{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Accounts Disabled'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Accounts Disabled'|trans }}</h4>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-right"></ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/user/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>


{% include 'admin/user/modal/delete_user.html.twig' %}

{% endblock %}