{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit User'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit User'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if user is defined and user %}
                    <a href="{{ path('app_admin_user_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if user is defined and user and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_users_store') }}" method="post">
                    <div class="form-group">
                        <label for="inputName">{{ 'Username'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputName" name="username"
                            placeholder="{{ 'Enter name (required)'|trans }}" value="{{ user.username }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">{{ 'E-mail address'|trans }}: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                            placeholder="{{ 'Enter email (required)'|trans }}" value="{{ user.email }}" required>
                        <small class="text-muted">{{ 'Email address must not be changed'|trans }}</small>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="userRoleSelect">{{ 'User Role'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <select class="form-control" id="userRoleSelect" name="role">
                                    {% for key, value in roles %}
                                    <option value="{{ key }}" {{ value==user.roles[0] ? 'selected' : '' }}>
                                        {{ key }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col">
                                <label for="inputLoginCounts">{{ 'Login counts'|trans }}:</label>
                                <input type="number" class="form-control" id="inputLoginCounts" name="counts"
                                    placeholder="{{ 'Reset login counts to 0'|trans }}" value="{{ user.loginCounts }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTempEmail">{{ 'Temp Email address'|trans }}:</label>
                        <input type="email" class="form-control" id="inputTempEmail" name="tempEmail"
                            placeholder="{{ dash() }}" value="{{ user.tempEmail }}">
                    </div>

                    <div class="form-group">
                        <label for="inputToken">{{ 'Token'|trans }}:</label>
                        <input type="text" class="form-control" id="inputToken" name="token" placeholder="{{ dash() }}"
                            value="{{ user.token }}">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputUpdated">{{ 'Modified'|trans }}:</label>
                                <input type="text" class="form-control" id="inputUpdated" name="updated"
                                    placeholder="{{ 'Y-m-d H:i' }}" value="{{ user.updatedAt|date('Y-m-d H:i') }}"
                                    required>
                            </div>

                            <div class="form-group col">
                                <label for="inputCreated">{{ 'Created'|trans }}:</label>
                                <input type="text" class="form-control" id="inputCreated" name="created"
                                    placeholder="{{ 'Y-m-d H:i:s' }}" value="{{ user.createdAt|date('Y-m-d H:i') }}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="verified" name="verified" {{ user.verified
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="verified">{{ 'Account is verified'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isWriter" name="isWriter" {{ user.isWriter
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="isWriter">
                            {{ 'Is a Writer'|trans }}
                            <a href="" class="flag" data-toggle="modal" data-target="#writerConfigModalCenter">
                                Please click to see Infos</a>
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="disabled" name="disabled" {{ user.disabled
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="disabled">{{ 'Account is disabled'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="deleted" name="deleted" {{ user.deleted
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="deleted">{{ 'Account is deleted'|trans }}</label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-dark">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" value="{{ route }}" name="route">
                    <input type="hidden" value="{{ user.id }}" name="uId">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">

                    <div class="image mb-3">
                        {% if user.profile.isUploaded %}
                        <img src="{{ asset('assets/uploads/avatar/' ~ user.profile.name) }}" alt="User Image"
                            width="120" height="120">
                        {% endif %}
                    </div>

                    <p><span class="text-bold mr-2">{{ 'Username'|trans }}:</span>{{ user.username|capitalize }}
                        ({{ role(user.roles[0]) }}) # {{ user.id }}</p>
                    <p><span class="text-bold mr-2">{{ 'E-mail address'|trans }}:</span>{{ user.email }}</p>
                    <p><span class="text-bold mr-2">{{ 'Login counts'|trans }}:</span>{{ user.loginCounts }}</p>
                    <p><span class="text-bold mr-2">{{ 'Temp Email address'|trans }}:</span>
                        {{ user.tempEmail ?? dash() }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Token'|trans }}:</span>
                        {{ user.token ? 'Yes'|trans : dash() }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Account is verified'|trans }}:</span>{{ user.verified ?
                        faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Is Wirter'|trans }}:</span>{{ user.isWriter ?
                        faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Account is disabled'|trans }}:</span>{{ user.disabled ?
                        faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Account is deleted'|trans }}:</span>{{ user.deleted ?
                        faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p title="{{ user.lastLoggedIn|date }}"><span class="text-bold mr-2">
                            {{ 'Last logged in'|trans }}:</span>{{ user.lastLoggedIn|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ user.lastPasswordUpdated|date }}"><span class="text-bold mr-2">{{ 'Last password
                            updated at'|trans }}:</span>{{ user.lastPasswordUpdated|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ user.updatedAt|date }}"><span class="text-bold mr-2">{{ 'Updated at'|trans }}:</span>{{
                        user.updatedAt|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ user.createdAt|date }}"><span class="text-bold mr-2">{{ 'Created at'|trans }}:</span>{{
                        user.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_user_index',
                    linkText: 'Back to Users'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/user/modal/writer_config.html.twig' %}

{% endblock %}