{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Users'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Users'|trans }}</h4>
            </div>
            <div class="col-4">
                <div class="breadcrumb float-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Add new User'|trans }}" data-toggle="modal"
                        data-target="#addUserModal">
                        <span class="fa fa-user-plus fa-sm text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'New User'|trans }}</span>
                    </button>

                    {% if users is defined and users %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Export all Messages'|trans }}"
                        data-toggle="modal" data-target="#exportUsersModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export All'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoUserModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/user/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/user/modal/delete_user.html.twig' %}
{% include 'admin/user/modal/export.html.twig' %}
{% include 'admin/user/modal/add_new_user.html.twig' %}
{% include 'admin/user/modal/general_infos.html.twig' %}

{% endblock %}