{% extends 'base.html.twig' %}

{% block title %} {{ 'Notification Details'|trans }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

<div class="container mt-5">

    {% include 'component/back_to_profile.html.twig' with {title:'Notification Details'|trans} %}

    <div class="row mb-5">
        <div class="col-md-12">
            {% if notification is defined and notification %}
            <div class="shadow-b ps-3 pe-3 pb-4">
                <h4 class="pt-4">{{ notification.subject }}</h4>
                <p>{{ replaceLinkWithHref(notification.message)|raw }}</p>
                <i class="text-muted" title="{{ notification.createdAt|date('Y-m-d H:i:s') }}">
                    {{ 'Arrived'|trans }} {{ timeAgo(notification.createdAt) }}
                </i>
            </div>
            {% endif %}

            {% include 'component/back_to_route.html.twig' with {
            routeName: 'app_profile_notification_index',
            linkText: 'Back to Notifications'|trans,
            class: 'mt-3'
            } %}

        </div>
    </div>
</div>

<p style="height: 50vh;"></p>

{% include 'layout/footer.html.twig' %}

{% endblock %}