{% if subscribers is defined and subscribers %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-bg">
                <tr class="font-size-14">
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Email'|trans }}</th>
                    <th scope="col">{{ 'Subscribed'|trans }}</th>
                    <th scope="col">{{ 'Token'|trans }}</th>
                    <th scope="col">{{ 'Created'|trans }}</th>
                    <th scope="col">{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {% for subscriber in subscribers %}

                <tr class="tr-over-bg font-size-14">
                    <td>{{ subscriber.name|capitalize }}</td>
                    <td title="{{ subscriber.email }}"><span class="fa fa-envelope text-secondary pointer"></span></td>
                    <td>{{ subscriber.isSubscribed ? faThumbsUp() : faThumbsDown() }}</td>
                    <td>{{ subscriber.token ? faCircle('text-success') : faCircle('text-danger') }}</td>

                    <td><span title="{{ subscriber.createdAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(subscriber.createdAt) }}
                        </span>
                    </td>
                    <td class="d-flex">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_newsletter_subscriber_show', {id:subscriber.id}) }}">
                            <span class="fa fa-edit text-primary pointer mr-3" title="{{ 'Edit'|trans }}"></span>
                        </a>
                        {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}