{% if testimonials is defined and testimonials %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-bg">
                <tr class="font-size-14">
                    <th scope="col">{{ 'Image'|trans }}</th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Surname'|trans }}</th>
                    <th scope="col">{{ 'Email'|trans }}</th>
                    <th scope="col">{{ 'Postion'|trans }}</th>
                    <th scope="col">{{ 'Description'|trans }}</th>
                    <th scope="col">{{ 'Published'|trans }}</th>
                    <th scope="col">{{ 'Token'|trans }}</th>
                    <th scope="col">{{ 'Deleted'|trans }}</th>
                    <th scope="col">{{ 'Modified'|trans }}</th>
                    <th scope="col">{{ 'Created'|trans }}</th>
                    <th scope="col">{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {% for testimonial in testimonials %}

                <tr class="tr-over-bg font-size-14">
                    <td>
                        {% if testimonial.avatar %}
                        <img src="{{ asset('assets/img/testimonial/' ~ testimonial.avatar) }}" alt="..." class="sm-img"
                            onclick="window.open(this.src)">
                        {% endif %}
                    </td>
                    <td>{{ testimonial.firstName|capitalize }}</td>
                    <td>{{ testimonial.lastName|capitalize }}</td>
                    <td>
                        {% if testimonial.email %}
                        <span class="fa fa-envelope text-secondary" title=" {{ testimonial.email }}"></span>
                        {% else %}
                        ---
                        {% endif %}
                    </td>
                    <td>{{ testimonial.position ? testimonial.position|capitalize : dash() }}</td>
                    <td>
                        <span title="{{ testimonial.description }}">
                            {{ testimonial.description ? testimonial.description|slice(0, 45) ~ '...' : dash() }}
                        </span>
                    </td>
                    <td>{{ testimonial.isPublished ? faThumbsUp() : faThumbsDown() }}</td>
                    <td>{{ testimonial.token ? faCircle('text-success') : faCircle('text-light-50') }}</td>
                    <td>{{ testimonial.isDeleted ? faCircle('text-danger') : faCircle('text-light-50') }}</td>
                    <td><span title="{{ testimonial.updatedAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(testimonial.updatedAt) }}
                        </span>
                    </td>
                    <td><span title="{{ testimonial.createdAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(testimonial.createdAt) }}
                        </span>
                    </td>
                    <td class="d-flex">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_testimonial_show', {id:testimonial.id}) }}">
                            <span class="fa fa-edit text-primary pointer mr-3" title="{{ 'View?'|trans }}"></span>
                        </a>
                        {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}