{% if faq is defined and faq %}
<section class="container-fluid pt-5 pb-5 bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="pt-5 pb-5">
                    <h3 class="text-center fs-6 m-color pt-5">Faq</h3>
                    <h2 class="text-center">Frequently Asked Questions</h2>
                    <p class="text-center pb-3 text-muted">There are many variations of passages of Lorem</p>
                </div>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-2 g-3 pb-5">

            {% for i, row in faq %}
            {% set key = hash(i)%}
            <div class="col">
                <div class="card border-0 shadow-sm">
                    <div class="p-1">
                        <div class="accordion accordion-flush" id="accordionFlush_{{key}}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading_{{key}}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse_{{key}}" aria-expanded="false"
                                        aria-controls="flush-collapse_{{key}}">
                                        {{ row.title }}
                                    </button>
                                </h2>
                                <div id="flush-collapse_{{key}}" class="accordion-collapse collapse"
                                    aria-labelledby="flush-heading_{{key}}" data-bs-parent="#accordionFlush_{{key}}">
                                    <div class="accordion-body">
                                        {{ replaceLinkWithHref(row.description)|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        {% if app.request.requestUri == path('app_home')%}
        <div class="row">
            <div class="col text-center">
                <small>Or</small>
                <a href="{{path('app_contact_form_index')}}" class="text-muted text-decoration-underline">
                    <small>Ask your own Question</small>
                </a>
            </div>
        </div>
        {% endif %}

    </div>
</section>
{% endif %}