{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit or Delete Category'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit or Delete Category'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if category is defined and category %}
                        <a href="{{ path('app_admin_blog_categories_index') }}">
                            <span class="fa fa-window-close fa-lg text-secondary pointer" title="{{ 'Close'|trans }}"></span>
                        </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if category is defined and category %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_blog_category_store') }}" method="post">
                    <div class="form-group">
                        <label for="inputName">{{ 'Title'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputName" name="title"
                            placeholder="{{ 'Enter title (required)'|trans }}" value="{{ category.title }}" required autofocus>
                        <small class="text-muted">{{ 'Min. 3 Chars'|trans }}</small>
                    </div>

                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="del" name="delete">
                        <label class="form-check-label" for="del">
                            {{ 'Delete this category (All related articles will also be deleted.)'|trans }}
                            <span>{{ articlesCountInCategory }}</span>
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-dark">{{ 'Submit'|trans }}</button>

                    <input type="hidden" value="{{ route }}" name="route">
                    <input type="hidden" value="{{ category.id }}" name="id">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Title'|trans }}:</span>
                        {{ category.title }} # {{ category.id }}
                    </p>

                    <p title="{{ category.updatedAt|date }}"><span class="text-bold mr-2">
                        {{ 'Updated at'|trans }}:</span>{{ category.updatedAt|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ category.createdAt|date }}"> <span class="text-bold mr-2">
                        {{ 'Created at'|trans }}:</span>
                        {{ category.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                        routeName: 'app_admin_blog_categories_index',
                        linkText: 'Back to Categories'|trans
                    } %}
                </div>
            </div>
            {% else %}
                {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}