{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Categories'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Categories'|trans }}</h4>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Add new Category'|trans }}" data-toggle="modal"
                        data-target="#newCategoryModal">
                        <span class="fa fa-plus fa-sm text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Add Category'|trans }}</span>
                    </button>

                    {% if categories is defined and categories %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportCategoriesModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoCategoryModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/blog/category/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/blog/category/modal/add.html.twig' %}
{% include 'admin/blog/category/modal/export.html.twig' %}
{% include 'admin/blog/category/modal/infos.html.twig' %}

{% endblock %}