{% if articles is defined and articles %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Auther'|trans }}</th>
                <th scope="col">{{ 'Category'|trans }}</th>
                <th scope="col">{{ 'Title'|trans }}</th>
                <th scope="col">{{ 'Tags'|trans }}</th>
                <th scope="col">{{ 'ReadTime'|trans }}</th>
                <th scope="col">{{ 'Published'|trans }}</th>
                <th scope="col">{{ 'Comments'|trans }}</th>
                <th scope="col">{{ 'isHead'|trans }}</th>
                <th scope="col">{{ 'Updated'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in articles %}
            <tr class="tr-over-bg font-size-14">
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <form action="{{ path('app_admin_users_edit', {id: row.auther.user.id}) }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <span class="text-primary pointer mr-3" onclick="this.closest('form').submit();">
                            {{ row.auther.username|capitalize }}
                        </span>
                        <input type="hidden" value="{{ backToRoute is defined ? backToRoute : '' }}" name="route">
                    </form>
                    {% else %}
                        <span>{{ row.auther.username|capitalize }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_admin_blog_category_edit', {id:row.category.id}) }}">
                        {{ row.category.title }}
                    </a>
                    {% else %}
                        {{ row.category.title }}
                    {% endif %}
                </td>
                <td title="{{ row.title }}">
                    {{ row.title|slice(0, 20) ~ '...' }}

                    {% if row.isPublished %}
                        <a href="{{ path('app_blog_view', {slug:slug(row.title)}) }}" target="_blank">
                            <span class="fa fa-external-link-alt fa-sm ms-1"></span>
                        </a>
                    {% endif %}
                </td>
                <td title="{{ row.tags }}">{{ row.tags|slice(0, 20) ~ '...' }}</td>
                <td>{{ row.readTime }}</td>
                <td>{{ row.isPublished ? faThumbsUp() : faThumbsDown() }}</td>
                <td>{{ row.isCommentsAllowed ? faThumbsUp() : faThumbsDown() }}</td>
                <td>{{ row.isHead ? 'Yes' : dash() }}</td>
                <td title="{{ row.updatedAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(row.updatedAt) }}
                </td>
                <td title="{{ row.createdAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(row.createdAt) }}
                </td>

                <td class="d-flex">
                    {% if row.isPublished and not is_granted('ROLE_SUPER_ADMIN') %}
                        {% include "admin/component/no_edit.html.twig" %}
                    {% else %}
                    <a href="{{ path('app_admin_blog_article_edit', {id:row.id}) }}">
                        <span class="fa fa-edit fa-sm text-primary mr-3" title="{{ 'Edit'|trans }}"></span>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
    {% include 'admin/component/no_data_found.html.twig' %}
{% endif %}