{% extends 'mails/layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% include 'mails/layout/header.html.twig' %}

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td></td>
            <td class="container">
                <div class="content">

                    <!-- START CENTERED WHITE CONTAINER -->
                    <table role="presentation" class="main">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <p>Hi {{ username|capitalize }},</p>

                                            <p>You have requested a copy from your message on {{ appName() }}.</p>

                                            <p><b>{{ subject }}</b></p>

                                            <p>{{ message }}</p>

                                            <p>Thanks, <br> The {{ appName() }} Team</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>
                    <!-- END CENTERED WHITE CONTAINER -->

                    <!-- START FOOTER -->
                    {% include 'mails/layout/footer.html.twig' %}
                    <!-- END FOOTER -->

                </div>
            </td>
            <td></td>
        </tr>
    </table>

{% endblock %}