{% extends 'mails/layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% include 'mails/layout/header.html.twig' %}

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td></td>
            <td class="container">
                <div class="content">

                    <!-- START CENTERED WHITE CONTAINER -->
                    <table role="presentation" class="main">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <p>Hi {{ username|capitalize }},</p>

                                            <p>Your password has been changed. To make sure that it was really you, the
                                                one who changed the password. We want you to know.</p>

                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                                   class="btn btn-primary">
                                                <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <table role="presentation" border="0" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ absolute_url(path('app_forgot_password_request')) }}"
                                                                       target="_blank">Reset Password</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <p>Or you can visit the following link to reset your password:
                                                <a href="{{ absolute_url(path('app_forgot_password_request')) }}"
                                                   target="_blank">{{ absolute_url(path('app_forgot_password_request')) }}</a>.
                                            </p>

                                            <p>We have sent you this email because of your account on {{ appName() }}
                                                .</p>

                                            <p>Thanks, <br> The {{ appName() }} Team</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>
                    <!-- END CENTERED WHITE CONTAINER -->

                    <!-- START FOOTER -->
                    {% include 'mails/layout/footer.html.twig' %}
                    <!-- END FOOTER -->

                </div>
            </td>
            <td></td>
        </tr>
    </table>

{% endblock %}