{% extends 'mails/layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% include 'mails/layout/header.html.twig' %}

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td></td>
            <td class="container">
                <div class="content">

                    <!-- START CENTERED WHITE CONTAINER -->
                    <table role="presentation" class="main">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <p>Hi {{ username|capitalize }},</p>

                                            <p>To reset your password, please visit the following link</p>

                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                                   class="btn btn-primary">
                                                <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <table role="presentation" border="0" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ absolute_url(url('app_reset_password', {token: token})) }}"
                                                                       target="_blank">Verify Email</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <p>The Verify Email as link: <a
                                                        href="{{ absolute_url(url('app_reset_password', {token: token})) }}"
                                                        target="_blank">{{ absolute_url(url('app_reset_password', {token: token})) }}</a>
                                            </p>

                                            <p>This link will expire in 30 minutes.</p>

                                            <p>If you did not request this, please ignore this email. Maybe someone has
                                                mistyped his email.</p>

                                            <p>Thanks, <br> The {{ appName() }} Team</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>
                    <!-- END CENTERED WHITE CONTAINER -->

                    <!-- START FOOTER -->
                    {% include 'mails/layout/footer.html.twig' %}
                    <!-- END FOOTER -->

                </div>
            </td>
            <td></td>
        </tr>
    </table>

{% endblock %}