{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="addUserModalLabel">
                    {{ 'Add new User'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_users_new') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="form-group">
                        <p>{{ 'Make sure the username and email typed correctly. Account will be automatically verified.'|trans }}</p>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername">Username: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputUsername"
                            placeholder="{{ 'Type username'|trans }}" name="username" required autofocus>
                        <small class="text-muted">{{ 'Min. 3 Chars'|trans }}</small>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email address: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="{{ 'Type email'|trans }}"
                            name="email" required>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sendOtp" checked disabled>
                            <label class="form-check-label" for="sendOtp">
                                {{ 'Send OTP to user'|trans }} <span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Okay, Add User'|trans }}</button>
                    <input type="hidden" name="sendEmailAndOtp" value="on">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}