{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteUserModalLabel">
                    {{ 'Delete User Permanently'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_users_delete') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="rofm-group">
                        <p>
                            {{'All Data related to this user will be deleted. This action cannot be undone!'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="aDEmail" name="accountDeletedEmail"
                                checked>
                            <label class="form-check-label" for="aDEmail">
                                {{ 'User must be informed that the account and all related data has been permanently deleted'|trans }}
                            </label>
                        </div>
                    </div>

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">{{ 'Cancel'|trans
                        }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                    <input type="hidden" name="uId" id="uId">
                    <input type="hidden" name="route" value="{{ app.request.get('_route') }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}