{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="infoUserModal" tabindex="-1" role="dialog" aria-labelledby="infoUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoUserModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to users'|trans }}:</h5>
                    <ul>
                        <li>{{ 'Keywords for searching are Username or E-mail'|trans }}</li>
                        <li>{{ 'Edit Button is for edit and view Details from user'|trans }}</li>
                        <li>{{ 'Search is not availabe in details Page'|trans }}</li>
                        <li>{{ 'Deleting any user will be also all related Data permanently deleted'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}