<!-- Logout Modal -->
<div class="modal fade" id="LogoutModalCenter" tabindex="-1" role="dialog" aria-labelledby="LogoutModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="LogoutModalCenterTitle">{{ 'Log out'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'Are you sure to logout completely from system?'|trans }}</p>
            </div>
            <div class="modal-footer">
                <form action="{{ path('app_logout') }}" method="get">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Log me out'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
</div>