{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="transformDataModal" tabindex="-1" role="dialog" aria-labelledby="transformDataModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="transformDataModalLabel">
                    {{ 'Transform Users Data'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_user_job_tranfom') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">
                    <p class="text-muted">
                        <span class="fa fa-info-circle text-info"></span>
                        {{'Username and email for users, that recently their account has been deleted, will be transformed. Users will not be informed via email and this action cannot be undone!'|trans }}
                    </p>

                    {% include 'component/form_current_password_field.html.twig' %}

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}