{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="writerConfigModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="writerConfigModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="writerConfigModalCenterTitle">
                    {{ 'User as a Writer config'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <b>If activated ..</b>
                    <ul>
                        <li>You have to give the user at least the role EDITORE</li>
                        <li>The user (Auther) will be informed via Email - something like a welcome Message</li>
                        <li>User ( will be Auther later on) has limited permission to Dashboard</li>
                    </ul>
                    <b>If deactivated ..</b>
                    <ul>
                        <li>You have to give the user (Auther) the role USER</li>
                        <li>Auther will not be informed - no email will be sent</li>
                        <li>Articles written by Auther
                            <i class="text-danger">must be manually transferd to another Auther</i>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    {{ 'Ok, I understood'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}