{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Add new Article'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Add new Article'|trans }}</h4>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-right">
                    <a href="{{ path('app_admin_blog_articles_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <form action="{{ path('app_admin_blog_article_new') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group" title="Article Head-Image must have size 850x350">
                        <input class="form-control p-1" name="image" type="file"
                            accept="image/x-png,image/jpg,image/jpeg">
                    </div>
                </div>
                <div class="col-md-2" title="Article must be belong to a Category">
                    {% if categories is defined and categories %}
                    <div class="form-group">
                        <select class="form-control" name="category">
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.title|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <input class="form-control" name="title" type="text" placeholder="No Categories found"
                            aria-label="Article title" readonly disabled>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="form-group" title="Article Head-title: it must be 10 words">
                        <input class="form-control" name="title" type="text" placeholder="Title max. 10 Words"
                            aria-label="Article title">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" title="Article Tages, see availabe in sidebar">
                        <input class="form-control" name="tags" type="text"
                            placeholder="Tag1, Tag2, Tag3" aria-label="Article Tags">
                    </div>
                </div>
                <div class="col-md-1">
                    {% if readTime is defined and readTime %}
                    <div class="form-group" title="Article Read Time">
                        <select class="form-control" name="readTime">
                            {% for txt in readTime %}
                            <option value="{{ txt }}">{{ txt }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    <div id="toolbar"></div>
                    <div id="editor"></div>
                </div>
            </div>

            <div class="mt-5 pt-2">
                <button type="submit" class="btn btn-dark" id="formSave">Add Article</button>
            </div>
        </form>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}