{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit Article Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit Article Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if article is defined and article %}
                    <a href="{{ path('app_admin_blog_articles_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row mb-2">
            <div class="col-md-12">

                <ol class="float-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#updateImageModal">
                        <span class="fa fa-edit fa-sm text-blue pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Update Image'|trans }}</span>
                    </button>

                    {% if article is defined and article and count(article.getComments) > 0 %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteCommentsAndRepliesyModal">
                        <span class="fa fa-trash fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete Comments & Replies'|trans }}</span>
                    </button>
                    {% endif %}

                    {% endif %}
                </ol>

            </div>
        </div>

        <form action="{{ path('app_admin_blog_article_store') }}" method="post">
            <div class="row ">
                {% if article is defined and article %}
                <div class="col-md-2">
                    {% if categories is defined and categories %}
                    <div class="form-group">
                        <select class="form-control" name="category">
                            {% for category in categories %}
                            <option {{ article.category.title==category.title ? 'selected' : '' }}
                                value="{{ category.id }}">
                                {{ category.title|capitalize }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input class="form-control" name="title" type="text" placeholder="Type Title"
                            value="{{article.title}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input class="form-control" name="tags" type="text" placeholder="Type Tags"
                            value="{{article.tags}}">
                    </div>
                </div>
                <div class="col-md-2">
                    {% if readTime is defined and readTime %}
                    <div class="form-group">
                        <select class="form-control" name="readTime">
                            {% for txt in readTime %}
                            <option value="{{ txt }}" {{article.readTime==txt ? 'selected' : '' }}>
                                {{ txt }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div id="toolbar"></div>
                        <div id="editor">{{article.content|raw}}</div>
                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" {{ article.isPublished ? 'checked' : '' }}
                            id="isPublished" name="isPublished">
                        <label class="form-check-label" for="isPublished">
                            {{ 'Is Article Published'|trans }}
                        </label>
                    </div>

                    {% if article.isHead == false %}
                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="isHead" name="isHead">
                        <label class="form-check-label" for="isHead">
                            {{ 'Is a Head Article'|trans }}
                            <span class="text-secondary">
                                ({{ 'If checked, then this Article will be the Head one and the others will be marked to
                                false.'|trans }})
                            </span>
                        </label>
                    </div>
                    {% else %}
                    <input type="hidden" name="isHead" value="on">
                    {% endif %}

                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="isCommantable" name="isCommantable" {{
                            article.isCommentsAllowed ? 'checked' : '' }}>
                        <label class="form-check-label" for="isCommantable">
                            {{ 'Is Article allowed to be commented by users'|trans }}
                        </label>
                    </div>
                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="isDeleted" name="isDeleted" {{
                            article.isDeleted ? 'checked' : '' }}>
                        <label class="form-check-label" for="isDeleted">
                            {{ 'Is Removed'|trans }}
                        </label>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <button class="btn btn-dark" type="submit" id="formSave">{{ 'Save Changes'|trans }}</button>
                        <input type="hidden" name="id" value="{{article.id}}">
                        <input type="hidden" name="uId" value="{{article.auther.id}}">
                    </div>
                </div>
                {% else %}
                {% include 'admin/component/no_data_found.html.twig' %}
                {% endif %}
            </div>
        </form>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if article is defined and article %}
{% include 'admin/blog/article/modal/update_image.html.twig' %}
{% include 'admin/blog/article/modal/delete_comment_and_replies.html.twig' %}
{% endif %}

{% endblock %}