{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Articles'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 h4-title">{{ 'Articles'|trans }}</h4>
            </div>
            <div class="col-8">
                <ol class="breadcrumb float-right">
                    <a href="{{ path('app_admin_blog_article_new') }}" class="btn bg-white btn-sm mr-1">
                        <span class="fa fa-plus fa-sm text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Add Article'|trans }}</span>
                    </a>

                    {% if articles is defined and articles %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#transferArticlesModal">
                        <span class="fa fa-user-lock fa-sm text-blue pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Transfer Articles'|trans }}</span>
                    </button>
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deleteArticlesModal">
                        <span class="fa fa-trash fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Empty Bin'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoArticleModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/blog/article/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if articles is defined and articles %}
{% include 'admin/blog/article/modal/empty_bin.html.twig' %}
{% include 'admin/blog/article/modal/transfer_articles.html.twig' %}
{% include 'admin/blog/article/modal/infos.html.twig' %}
{% endif %}

{% endblock %}