{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Search Articles'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 pt-1 h4-title">
                    {{ 'Result'|trans }}
                    "<i class="text-secondary">{{ keyword is defined and keyword ? keyword|capitalize : '' }}</i>"
                    (<span class="text-success">{{ articles is defined and articles ? count(articles) : 0 }}</span>)
                </h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% include 'admin/component/back_to_route_after_search.html.twig' with {route:route} %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/blog/article/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}