{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="inviteCustomerTestimonialModal" tabindex="-1" role="dialog"
    aria-labelledby="inviteCustomerTestimonialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="inviteCustomerTestimonialModalLabel">
                    {{ 'Invite Customer'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_api_testimonial_new') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <p>An email with a Link will be sent to customer. The customer will be able then to add a new Testimonial.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    placeholder="{{ 'First Name'|trans }} *" autofocus required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    placeholder="{{ 'Last Name'|trans }} *" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="{{ 'Email'|trans }} *" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="confirm" name="confirm" required>
                                <label class="form-check-label text-secondary" for="confirm">
                                    {{ 'I confirm that the Infos typed correctly.'|trans}}    
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 text-right">
                        <i class="text-info small">Fields with (*) are required.</i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-warning">{{ 'Send Invitation'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}