@font-face {
    font-family: 'Lato';
    font-weight: normal;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

html,
body {
    font-family: 'Lato', sans-serif;
}

/* reset default */
.form-control, .form-select, .btn, .alert, .modal-content, .card-body, .navbar-toggler, .dropdown-menu, .btn-group-sm > .btn, .nav-pills .nav-link {
    border-radius: 0;
}

.form-control, .form-select, input:focus, textarea:focus {
    box-shadow: none !important;
    outline: none
}

.form-group {
    margin-bottom: 7px;
}

.navbar-light .btn-navbar, .navbar-light .form-control-navbar {
    background-color: #f9f9f9 !important;
    border-color: #e5e5e5 !important;
    color: #868383 !important;
}

.text-muted {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.text-light-50 {
    color: #ccc;
}

.font-size-14 {
    font-size: 14px;
    word-spacing: 0;
    opacity: 0.8;
}

.modal-title-upper {
    font-size: 16px;
    word-spacing: 0;
    color: #454545;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
}

label {
    margin-bottom: 0;
    color: #454545;
    font-weight: 400;
}

.col-form-label {
    padding: 0;
    color: #454545;
    font-weight: 400;
}

.alert-fixed-z-index {
    position: fixed;
    top: 3px;
    right: -3px;
    z-index: 1080
}

.alert-success {
    background-color: #bff1cb;
    color: #0f401b;
    border: none;
    border-left: 3px solid #0f401b;
}

.alert-warning {
    color: #81620b;
    background-color: #f9e7af;
    border: none;
    border-left: 3px solid #bd9319;
}

.alert-info {
    color: #1d5a64;
    background-color: #d1ecf1;
    border: none;
    border-left: 3px solid #0d6c7a;
}

.h2-title {
    font-size: 1.4rem;
    letter-spacing: 0;
    opacity: 0.9;
    color: #6c6c6c;
    font-weight: 600;
}

.h4-title {
    font-size: 20px;
    letter-spacing: 0;
    opacity: 0.9;
    color: #424141;
    font-weight: 600;
}

.h5-title {
    font-size: 18px;
    letter-spacing: 0;
    opacity: 0.9;
    color: #6c6c6c;
    font-weight: 600;
}

.table-head-bg {
    background-color: #ffffff;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}

.text {
    word-spacing: 0;
    opacity: 0.8;
}

.text-16 {
    font-size: 16px;
    word-spacing: 0;
    opacity: 0.8;
}

.ql-container.ql-snow {
    background-color: #fff;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

::-moz-selection{
    background-color:#ffdf00;color:#000
}

::selection{
    background-color:#fd0;color:#000
}

.code, .status {
    background: #ffc107;
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 10px;
    font-style: oblique;
    color: #000000;
    letter-spacing: 0;
    text-transform: uppercase;
}

.flag {
    background: #a9cb00;
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 10px;
    font-style: oblique;
    color: #101010;
    letter-spacing: 0;
    text-transform: uppercase;
}

.status-deleted {
    background: #e90303;
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 10px;
    font-style: oblique;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
}

.tr-over-bg {
    border-left: 2px solid #eee;
}

.tr-over-bg:hover {
    background-color: rgba(190, 190, 190, 0.589) !important;
    border-left: 2px solid #32a1fc;
}

.item-active {
    background-color: rgba(255,255,255,.1);
}

.border-r-none {
    border-right: none;
}

.sm-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.fs-15 {
    font-size: 15px !important;
}

.sidebar-header {
    font-size: 13px !important;
    color: #777777 !important;
    font-weight: bold;
    user-select: none;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .sm-d-none {
        display: none;
    }

    .t2-title {
        font-size: 20px;
    }

    .h4-title {
        font-size: 18px;
    }
}

@media (max-width: 1050px) {
    .sm-md-d-none {
        display: none;
    }
}

body {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}