{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'System Logs Archived'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-2 h4-title">{{ 'System Logs Archived'|trans }}</h4>
            </div>
            <div class="col-4">
                <div class="breadcrumb float-right mt-1">
                    {% if systemLogs is defined and systemLogs and is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deleteAllArchivedModal"
                        title="{{ 'Delete All Archived Logs'|trans }}">
                        <span class="fas fa-trash fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportLogsModal"
                        title="{{ 'Delete All Logs'|trans }}">
                        <span class="fas fa-download fa-sm text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#removeIPsModal">
                        <span class="fa fa-trash fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Remove IPs'|trans }}</span>
                    </button>
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoSystemLogsModal"
                        title="{{ 'Delete All Logs'|trans }}">
                        <span class="fas fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Infos'|trans }}</span>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% include "admin/log/partial/table_content.html.twig" %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if systemLogs is defined and systemLogs %}
{% include "admin/log/modal/delete_all_archived.html.twig" %}
{% include "admin/log/modal/remove_ip_adrresses_from_logs.html.twig" %}
{% include 'admin/log/modal/export.html.twig' %}
{% include 'admin/log/modal/infos.html.twig' %}
{% endif %}

{% endblock %}