{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'System Logs'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 pb-1 h4-title">{{ 'System Logs'|trans }}</h4>
            </div>
            <div class="col-4">
                <div class="breadcrumb float-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') and systemLogs is defined and systemLogs %}
                    <div class="breadcrumb float-right mt-1">
                        <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deleteAllModal"
                            title="{{ 'Delete All Logs'|trans }}">
                            <span class="fas fa-trash-alt fa-sm text-danger pointer"></span>
                            <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All Logs'|trans }}</span>
                        </button>

                        <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#archiveallLogsModal"
                            title="{{ 'Archive All Logs'|trans }}">
                            <span class="fas fa-archive text-secondary pointer"></span>
                            <span class="sm-md-d-none ml-1 pr-1">{{ 'Archive all'|trans }}</span>
                        </button>

                        <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoSystemLogsModal"
                            title="{{ 'Delete All Logs'|trans }}">
                            <span class="fas fa-info-circle text-info pointer"></span>
                            <span class="sm-md-d-none ml-1 pr-1">{{ 'Infos'|trans }}</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% include "admin/log/partial/table_content.html.twig" %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/log/modal/delete_all.html.twig' %}
{% include 'admin/log/modal/archive_all.html.twig' %}
{% include 'admin/log/modal/infos.html.twig' %}

{% endblock %}