{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'System Logs Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'System Log Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if systemLog is defined and systemLog %}
                    <a href="{{ path('app_admin_log_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if systemLog is defined and systemLog and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-12">
                <div class="bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Event'|trans }}:</span>
                        {{ systemLog.event|capitalize }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Message'|trans }}:</span>{{ systemLog.message }}</p>

                    <p><span class="text-bold mr-2">{{ 'Is Archived'|trans }}:</span>
                        {{ systemLog.isArchived ? faCircle('text-success') : faCircle('text-danger') }}</p>

                    <p><span class="text-bold mr-2">{{ 'IP'|trans }}:</span>{{ systemLog.ip }}</p>

                    <p title="{{ systemLog.createdAt|date }}">
                        <span class="text-bold mr-2">{{ 'Created at'|trans }}:</span>
                        {{ systemLog.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>

                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                        routeName: 'app_admin_log_index',
                        linkText: 'Back to System Logs'|trans
                    } %}
                </div>

            </div>
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}