{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="notificationModalLabel">{{ 'New Notification'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_notification_new') }}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputSubject">{{ 'Subject'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="subject" id="inputSubject"
                            placeholder="{{ 'Type subject. Max. 3-5 Words'|trans }}" autofocus required>
                    </div>

                    <div class="form-group">
                        <label for="notification">{{ 'Notification'|trans }}: <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="notification" name="message" rows="7"
                            placeholder="Example: Duis autem vel eum iriure dolor in hendrerit on https://example.de in vulputate velit esse molestie."
                            required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="userSelect">{{ 'Target User(s)'|trans }}:</label>
                        <select multiple class="form-control h-auto" id="userSelect" name="uId[]">
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username|capitalize }} ..... {{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="all" name="all">
                        <label class="form-check-label" for="all">{{ 'Add Notification to all Users'|trans }}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Add Notification'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}