{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteAllNotificationModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteAllNotificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteAllNotificationLabel">
                    {{ 'Delete All Notification'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_notification_job_delete_all') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="form-group">
                        <p>
                            {{ 'Are you sure to delete all Notifications?'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}