{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteNotificationModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteNotificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteNotificationLabel">
                    {{ 'Delete Notification'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_notification_delete') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="form-group">
                        <p>
                            {{ 'Are you sure to delete the Notification?'|trans }}
                        </p>
                    </div>
                    
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="allUsers" name="all">
                        <label class="form-check-label" for="allUsers">
                            {{ 'Delete like this Notification for all users'|trans }}
                        </label>
                    </div>

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                    <input type="hidden" id="nId" name="nId">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}