{% extends 'base.html.twig' %}

{% block title %} {{ 'Two-Step Verification'|trans }} {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Two-Step Verification'|trans }}</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <p>{{ 'For security reasons a OTP has been sent to your configured email. Please type your OTP bellow to be
                able to access'|trans }}.</p>
            {% include 'component/message/custom_type_message.html.twig' %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="row g-2" action="{{ path('app_profile_security_2fa_check_otp') }}" method="post">
                <div class="col-12">
                    <label for="inputTwoFA" class="form-label">{{ 'One-Time-Password'|trans }}:</label><span
                        class="float-end">
                        <a href="#" data-bs-toggle="modal" class="a-animate" data-bs-target="#resendOtpModal">{{
                            'Resend?'|trans }}</a></span>
                    <input type="text" name="2fa" id="inputTwoFA" class="form-control" onkeyup="sixDigits(this);"
                        placeholder="{{ 'Type your OTP'|trans }}" autocomplete="email" required autofocus>
                </div>

                <div class="col-12">
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="ignoreBrowser" name="ignoreBrowser">
                        <label class="form-check-label" for="ignoreBrowser">
                            {{ 'Do not require OTP on this browser'|trans }}
                        </label>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">{{ 'Continue'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4 mb-4">
            {% include 'component/back_to_homepage_link.html.twig' %}
        </div>
    </div>
</div>


<script defer>
    function sixDigits(input) {
        let regx = /\D/gi;
        input.value = input.value.replace(regx, '');
        input.value = input.value.slice(0, 6)
    }
</script>

{% include 'account/profile/modal/resend_otp.html.twig' %}

{% endblock %}