{% extends 'base.html.twig' %}

{% block title %} {{ 'Profile'|trans }} :: {{ 'Account Setting'|trans }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<div class="container mt-5">

    {% include 'component/back_to_profile.html.twig' with {title:'Account Setting'|trans} %}

    {% if localeOptions is defined and localeOptions %}
    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6 pt-3">

                    {% set lang = app.user.getLocale %}

                    <p><b class="text-secondary text-15">{{ 'Language Setting'|trans }}</b></p>
                    <p>{{ 'Choose your preferred Language'|trans }}.
                        {{ 'Your current Language is'|trans }}:
                        <span class="status text-uppercase text-primary">{{ lang }}</span>
                    </p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end">

                        <form action="{{ path('app_profile_account_setting_store_locale') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <select class="form-select form-select-sm pointer" aria-label="form-select-sm" name="lang"
                                onchange="this.closest('form').submit();">

                                {% for key, value in localeOptions %}
                                <option value="{{ key }}" {{ key==lang ? 'selected' : '' }}>
                                    {{ value }}
                                </option>
                                {% endfor %}

                            </select>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6 pt-3">
                    <p><b class="text-secondary text-15">{{ 'Disable Account'|trans }}</b></p>
                    <p>{{ 'You can deactivate your account for later on'|trans }}.</p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end">
                        <a href="#" class="text-danger a-animate-red" data-bs-toggle="modal"
                            data-bs-target="#disableAccountModal">{{ 'Disable Account'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6 pt-3">
                    <p><b class="text-secondary text-15">{{ 'Account Removal'|trans }}</b></p>
                    <p>{{ 'Your account and all related data will be deleted within 6 months'|trans }}</p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end">
                        <a href="#" class="text-danger a-animate-red" data-bs-toggle="modal"
                            data-bs-target="#deleteAccountModal">{{ 'Delete Account'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'account/profile/partial/back_to_profile_link.html.twig' %}

    {% include 'account/profile/modal/disable_account.html.twig' %}
    {% include 'account/profile/modal/delete_account.html.twig' %}

</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}