{% extends 'base.html.twig' %}

{% block title %} {{ 'Profile'|trans }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<div class="container mt-4">

    <div class="row mb-3">
        <div class="col-md-2">
            <h4 class="h4-title">{{ 'Profile'|trans }}</h4>
        </div>
    </div>

    <div class="row py-2 bg-light g-0 rounded-2">
        <div class="col-md-12">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="row">
                <div class="col">
                    <div class="float-end">
                        <a href="{{ path('app_admin_index') }}" class="small pe-3">Dashboard</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card my-2 border-0">
                <div class="row g-0 p-3 bg-light">
                    <div class="col-xl-2 text-xl-center">
                        {% if profile is defined and profile %}
                        <div>
                            <img src="{{ asset('assets/uploads/avatar/' ~ profile.name) }}"
                                class="user-select-none rounded-pill" width="175" height="175" alt="Avatar">
                        </div>
                        <a href="#add-or-remove-image" class="small sm-pl-45 " data-bs-toggle="modal"
                            data-bs-target="#avatarModal">Edit Image</a>
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text mb-1"><b>{{ 'Username'|trans }}: </b>{{
                                app.user.username|capitalize }}
                            </p>
                            <p class="card-text mb-1"><b>{{ 'E-mail'|trans }}: </b>
                                <span title="{{ app.user.email }}">{{
                                    secureEmail(app.user.email) }}</span>
                            </p>
                            <p class="card-text mb-1" title="{{ app.user.createdAt|date('Y-m-d H:i') }}"><b>
                                    {{ 'Account created'|trans }}: </b> {{
                                timeAgo(app.user.createdAt) }}</p>
                            <p class="card-text mb-1" title="{{ app.user.lastLoggedIn|date('Y-m-d H:i') }}"><b>
                                    {{ 'Last logged in'|trans }}: </b> {{
                                timeAgo(app.user.lastLoggedIn) }}</p>
                            <p class="card-text mb-1"><b>{{ 'Login counts'|trans }}:
                                </b> {{ app.user.loginCounts }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h4 class="h4-title mb-3">{{ 'Setting'|trans }}</h4>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">

        {# Personal Data #}
        <div class="col">
            <div class="card card-shadow pt-3 pb-3 shadow-b border-0">
                <div class="row">
                    <div class="col-2">
                        <div class="card-img-left-container">
                            <div class="card-img-left card-img-left-bg-light-blue">
                                <img src="{{ asset('assets/img/svg/person.svg') }}" alt="user icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'Personal Data'|trans }}</h5>
                            <p class="card-text text-muted">{{ 'Change username, email and password'|trans }}</p>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="card-img-right">
                            <a href="{{ path('app_profile_personal_data_index') }}">
                                <i class="bi bi-chevron-right chevron-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Security #}
        <div class="col">
            <div class="card card-shadow pt-3 pb-3 shadow-b border-0">
                <div class="row">
                    <div class="col-2">
                        <div class="card-img-left-container">
                            <div class="card-img-left card-img-left-bg-light-green">
                                <img src="{{ asset('assets/img/svg/shield-check.svg') }}" alt="shield check icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'Security'|trans }}</h5>
                            <p class="card-text text-muted">{{ 'Enable or disable Two-Factor Authentication'|trans }}
                            </p>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="card-img-right">
                            <a href="{{ path('app_profile_security_index') }}">
                                <i class="bi bi-chevron-right chevron-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Account Setting #}
        <div class="col">
            <div class="card card-shadow pt-3 pb-3 shadow-b border-0">
                <div class="row">
                    <div class="col-2">
                        <div class="card-img-left-container">
                            <div class="card-img-left card-img-left-bg-light-yellow">
                                <img src="{{ asset('assets/img/svg/gear.svg') }}" alt="gear icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'Account Setting'|trans }}</h5>
                            <p class="card-text text-muted">{{ 'Disable or request to delete your account'|trans }}</p>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="card-img-right">
                            <a href="{{ path('app_profile_account_setting_index') }}">
                                <i class="bi bi-chevron-right chevron-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Notification #}
        <div class="col">
            <div class="card card-shadow pt-3 pb-3 shadow-b border-0">
                <div class="row">
                    <div class="col-2">
                        <div class="card-img-left-container">
                            <div class="card-img-left card-img-left-bg-light-red">
                                <img src="{{ asset('assets/img/svg/bell.svg') }}" alt="bell icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'Notifications'|trans }}</h5>
                            <p class="card-text text-muted">{{ 'Easy control your Notifications'|trans }}
                                {% if notifications is defined and notifications and count(notifications) > 0 %}
                                <span class="spinner-grow spinner-grow-sm text-wrning small" role="status"
                                    aria-hidden="true" title="{{ 'New Notification arrived' }}"></span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="card-img-right">
                            <a href="{{ path('app_profile_notification_index') }}">
                                <i class="bi bi-chevron-right chevron-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h4 class="h4-title">{{ 'Support'|trans }}</h4>
            <p> {{ 'Any issue related to your account, please use the'|trans }}
                <a href="{{ path('app_contact_form_index') }}" class="a-animate" rel="noindex,nofollow">{{ 'Contact
                    Form'|trans }}</a>
                {{ 'or'|trans }} <a href="mailto:{{ supporterEmail }}" class="a-animate" rel="noindex,nofollow">{{
                    'email us'|trans }}</a> {{ 'directly'|trans }}.
            </p>
        </div>
    </div>

    {% include 'account/profile/modal/change_or_uoload_avatar.html.twig' %}

</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}