{% extends 'base.html.twig' %}

{% block title %} {{ 'Log Activities'|trans }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">

            {% if logs is defined and logs %}

            {% include 'component/back_to_profile.html.twig' with {title:'Recent Log Activities'|trans,
            route:'app_profile_security_index'} %}

            <p>{{ 'Overview Devices and Browsers used to Login for your account'|trans }}</p>

            <div class="table-responsive mt-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'Event'|trans }}</th>
                            <th scope="col">{{ 'Description'|trans }}</th>
                            <th scope="col">{{ 'Last Login'|trans }}</th>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th scope="col">{{ 'Action'|trans }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for log in logs %}
                        <tr>
                            <td class="text-black-50">{{ loop.index }}</td>
                            <td class="text-black-50">{{ log.action }}</td>
                            <td class="text-black-50">{{ log.description }}</td>
                            <td class="text-black-50">
                                <span title="{{ log.createdAt|date('Y-m-d H:i') }}">
                                    {{ timeAgo(log.createdAt) }}
                                </span>
                            </td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                <form action="{{ path('app_profile_security_logs_delete_one') }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <small class="bi bi-trash pointer text-danger" title="Delete?"
                                        onclick="this.closest('form').submit();"></small>
                                    <input type="hidden" name="id" value="{{log.id}}">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>{% if is_granted('ROLE_SUPER_ADMIN') %}
                <th scope="col">{{ 'Action'|trans }}</th>
                {% endif %}
            </div>

            <div class="mb-4">
                <div class="row mt-3">
                    <div class="col-md-8">

                        <h4 class="h4-title">{{ 'Log Activities Limit'|trans }}</h4>
                        <p>{{ 'Logging these activities is for you. Please choose the limit that must be saved. The rest
                            will be automatically deleted'|trans }}</p>

                        <div class="px-3 py-3 logs-limit-bg">
                            <form action="{{ path('app_profile_security_logs_store_limit') }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <span class="me-2">Limit:</span>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="option" id="inlineRadio4"
                                        onchange="this.closest('form').submit();" {{ logsLimit is defined and
                                        logsLimit==4 ? 'checked' : '' }} value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="option" id="inlineRadio6"
                                        onchange="this.closest('form').submit();" {{ logsLimit is defined and
                                        logsLimit==6 ? 'checked' : '' }} value="6">
                                    <label class="form-check-label" for="inlineRadio6">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="option" id="inlineRadio8"
                                        onchange="this.closest('form').submit();" {{ logsLimit is defined and
                                        logsLimit==8 ? 'checked' : '' }} value="8">
                                    <label class="form-check-label" for="inlineRadio8">8</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="option"
                                        onchange="this.closest('form').submit();" {{ logsLimit is defined and
                                        logsLimit==1000 ? 'checked' : '' }} id="inlineRadioAll" value="1000">
                                    <label class="form-check-label" for="inlineRadioAll">1000</label>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-3 mb-4">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="h4-title">{{ 'Log Activities Notification'|trans }}</h4>
                        <p>{{ 'Send Logs to my email when any access to my account happened'|trans }}</p>

                        <form action="{{ path('app_profile_security_logs_send_log') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {% include 'component/field/checkbox_as_switch.html.twig' with {
                            name:'sendLog',
                            text:'Send Log to my email adress'|trans,
                            checked:isSendingLogEnabled,
                            asSubmit:true
                            } %}

                        </form>
                    </div>
                </div>
            </div>

            {% else %}
            <h4 class="h4-title">{{ 'Log Activities'|trans }}</h4>

            <p>{{ 'Log Activities could not be found.'|trans }}.</p>

            {% include 'account/profile/partial/back_to_profile_link.html.twig' %}

            <p style="margin-bottom: 300px;"></p>
            {% endif %}

        </div>
    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}