{% extends 'base.html.twig' %}

{% block title %} {{ 'Notification'|trans }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">

            {% if allNotifications is defined and allNotifications %}

            {% include 'component/back_to_profile.html.twig' with {
                title:'Recent Notification'|trans,
                route:'app_profile_index'
            }%}

            <div class="table-responsive mt-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'Subject'|trans }}</th>
                            <th scope="col">{{ 'Message'|trans }}</th>
                            <th scope="col">{{ 'Arrived'|trans }}</th>
                            <th scope="col">{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for notification in allNotifications %}
                        <tr>
                            <td class="text-black-50">{{ loop.index }}</td>
                            <td class="text-black-50">{{ notification.subject|slice(0, 15) ~ '...' }}</td>
                            <td class="text-black-50">{{ notification.message|slice(0, 45) ~ '...' }}</td>
                            <td class="text-black-50">
                                <span title="{{ notification.createdAt|date('Y-m-d H:i') }}">
                                    {{ timeAgo(notification.createdAt) }}
                                </span>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <form action="{{ path('app_profile_notification_show', {id:notification.id}) }}"
                                        method="post">
                                        <img src="{{ asset('assets/img/svg/view_notification.svg') }}"
                                            class="pointer me-3" title="{{ 'View?'|trans }}" alt="View Icon"
                                            onclick="this.closest('form').submit();">
                                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}">
                                    </form>
                                    <form action="{{ path('app_profile_notification_delete') }}" method="post">
                                        <img src="{{ asset('assets/img/svg/delete_notification.svg') }}" class="pointer"
                                            title="{{ 'Delete?'|trans }}" alt="Delete Icon"
                                            onclick="this.closest('form').submit();">
                                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}">
                                        <input type="hidden" name="nId" value="{{ notification.id }}">
                                        <input type="hidden" name="delete" value="on">
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            {% include 'component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

            {% else %}
            <h4 class="h4-title">{{ 'No Notification Found'|trans }}</h4>
            <p class="text-black-50">{{ 'If new notification arrive, you will find it here'|trans }}.</p>
            {% include 'account/profile/partial/back_to_profile_link.html.twig' %}
            {% endif %}

        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <h4 class="h4-title">{{ 'New Notification'|trans }}</h4>
            <form action="{{ path('app_profile_notification_notify_via_email') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% include 'component/field/checkbox_as_switch.html.twig' with {
                name:'notifyMe',
                text:'Let me know via email when a new Notification arrived'|trans,
                checked:isActiveSendNotification is defined and isActiveSendNotification,
                asSubmit:true
                } %}

            </form>
        </div>
    </div>

    {% if pagination is defined and pagination and pagination.total > 8 %}
    <div class="row mb-5">
        <div class="col-md-12">
            <h4 class="h4-title">{{ 'Delete Old Notifications'|trans }}</h4>
            <form action="{{ path('app_profile_notification_delete_old_notifications') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% include 'component/field/checkbox_as_switch.html.twig' with {
                name:'deleteOldNotifications',
                text:'Delete old Notifications automatically after six months from now'|trans,
                checked:autoDeleteNotifications is defined and autoDeleteNotifications,
                asSubmit:true
                } %}

            </form>
        </div>
    </div>
    {% endif %}
</div>

<p style="height: 50vh;"></p>

{% include 'layout/footer.html.twig' %}

{% endblock %}