{% extends 'base.html.twig' %}

{% block title %} {{ 'Profile'|trans }} :: {{ 'Personal Data'|trans }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<div class="container mt-5">

    {% include 'component/back_to_profile.html.twig' with {title:'Personal Data'|trans} %}

    <div class="row mb-3 card-shadow shadow-b pt-3 pb-2 m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6">
                    <p><b class="text-secondary text-15">{{ 'Change Username'|trans }}</b></p>
                    <p>{{ 'You will be addressed with your username and not with email'|trans }}.</p>
                </div>
                <div class="col-md-6">
                    <div class="float-end">
                        <a href="#" data-bs-toggle="modal" class="a-animate" data-bs-target="#changeNameModal">{{
                            'Change Username'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-shadow shadow-b pt-3 pb-2 m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6">
                    <p><b class="text-secondary text-15">{{ 'Change Email Address'|trans }}</b></p>
                    <p>{{ 'Email confirmation will be required'|trans }}.</p>
                    <p>{{ 'You cannot use the new email, until you verify it'|trans }}</p>
                </div>
                <div class="col-md-6">
                    <div class="float-end">
                        <a href="#" data-bs-toggle="modal" class="a-animate" data-bs-target="#changeEmailModal">{{
                            'Change Email Address'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-shadow shadow-b pt-3 pb-2 m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6">
                    <p><b class="text-secondary text-15">{{ 'Update Password'|trans }}</b></p>
                    <p>{{ 'You will be asked for you current password'|trans }}.</p>
                    <p>{{ 'Last password updated at'|trans }}
                        <span class="text-danger status" title="{{ app.user.lastPasswordUpdated|date('Y-m-d H:i:s') }}">
                            {{ app.user.lastPasswordUpdated|date }}
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#changePasswordModal" class="a-animate">
                            {{ 'Change Password'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-shadow shadow-b pt-3 pb-2 m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6">
                    <p><b class="text-secondary text-15">{{ 'Export Personal Data'|trans }}</b></p>

                    <p>{{ 'Export your personal data as JSON File'|trans }}. {{ 'Please keep your Data after that in
                        safe place'|trans }}</p>

                </div>
                <div class="col-md-6">
                    <div class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exportDataModal" class="a-animate">
                            {{ 'Export my Data'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'account/profile/partial/back_to_profile_link.html.twig' %}

    {% include 'account/profile/modal/change_username.html.twig' %}
    {% include 'account/profile/modal/change_email.html.twig' %}
    {% include 'account/profile/modal/change_password.html.twig' %}
    {% include 'account/profile/modal/export_personal_data.html.twig' %}

</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}