{% extends 'base.html.twig' %}

{% block title %} {{ 'Profile'|trans }} :: {{ 'Security'|trans }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<div class="container mt-5">

    {% include 'component/back_to_profile.html.twig' with {title:'Security'|trans} %}

    {% set devices = auth.user.twoFactorAuthDevices.count %}
    {% if devices > 0 %}
    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6 pt-3">
                    <p><b class="text-secondary text-15">{{ 'Delete Verified Devices'|trans }}</b></p>
                    <p>{{ 'You will be asked for you current password'|trans }}.</p>
                    <p>{{ 'Count accepted devices during 2fa'|trans }}: <span class="text-primary">({{ devices
                            }})</span></p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteDevicesModal" class="a-animate">
                            {{ 'Delete Verified Devices'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-6 pt-3">
                    <p><b class="text-secondary text-15">{{ 'Two-Factor Authentication'|trans }}</b></p>
                    <p>
                        {{ 'You can protect your account with an extra layer of security. Once it has been configured,
                        you will be asked to enter a OTP after login (An email or SMS will be sent to you) in order to
                        sign in'|trans }}
                    </p>
                    <p>{{ 'Currently is'|trans }}
                        {% if auth and auth.enabled %}
                        <span class="text-success status">{{ 'Enabled'|trans }}</span>
                        {% else %}
                        <span class="text-danger status">{{ 'Disabled'|trans }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end justify-content-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#twoFactorAuthModal" class="a-animate">
                            {{ auth and auth.enabled ? 'Disable'|trans : 'Enable'|trans }} {{ 'Two-Factor Auth'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-shadow shadow-b m-0">
        <div class="col-md-12">

            <div class="row p-3">
                <div class="col-md-6 pt-3">
                    <p><b class="text-secondary text-15">{{ 'Logs Managements'|trans }}</b></p>
                    <p>{{ 'Mange Logs related to your account'|trans }}.</p>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="float-end">
                        <a href="{{ path('app_profile_security_logs_index') }}" class="a-animate">{{ 'Logs
                            Managements'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'account/profile/partial/back_to_profile_link.html.twig' %}

    {% include 'account/profile/modal/2fa.html.twig' %}
    {% include 'account/profile/modal/delete_verified_devices.html.twig' %}

</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}