{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="teamModalLabel">{{ 'Add New Team Member'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_team_new') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <p>
                        {{'Make sure the data are correct typed.'|trans }}
                    </p>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    placeholder="{{ 'First Name'|trans }} *" autofocus required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    placeholder="{{ 'Last Name'|trans }} *" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="position" id="position"
                                    placeholder="{{ 'Position'|trans }} *" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input class="form-control upload-avatar" type="file" id="formFile" name="avatar"
                                    title="{{ 'Upload Team member Image 375x375'|trans }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="{{ 'Email'|trans }}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" id="phone"
                                    placeholder="{{ 'Phonenumber'|trans }}">
                            </div>
                        </div>
                    </div>


                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isActive" name="isActive" checked>
                        <label class="form-check-label" for="isActive">
                            {{ 'Active directly after create'|trans}}</label>
                    </div>

                    <div class="mb-2 text-right">
                        <small class="text-info">Fields with (*) are required.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Add Member'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}