{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade removeModalAfterClick" id="exportTeamsModal" tabindex="-1" role="dialog"
    aria-labelledby="exportTeamsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="exportTeamsModalLabel">
                    {{ 'Export Teams Members Data'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_team_export') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="form-group">
                        <p>{{ 'Are you sure to export teams members data?'|trans }}</p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                    {% include 'admin/component/export_data_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary rmModal">{{ 'Export them'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}