{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="uploadImageLabel">{{ 'Upload Team Member Image'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{path('app_admin_team_job_upload_image_store')}}" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <p class="text-dark">
                            {{'Uploading team member image, will be then public.'|trans }}
                        </p>

                        <div class="mb-3">
                            <input class="form-control upload-avatar" type="file" id="formFile" name="avatar"
                                aria-describedby="avatarHelpBlock" required>
                            <div id="avatarHelpBlock" class="small text-secondary">
                                Image size 375x375 and ext. (.jpg, .jepg or .png)
                            </div>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="isRealImage" name="isRealImage"
                                required>
                            <label class="form-check-label" for="isRealImage">
                                {{ 'I confirm that the correct image will be uploaded.'|trans}}</label>
                        </div>

                        <input type="hidden" value="{{team.id}}" name="id">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light sm-d-none" data-dismiss="modal">
                        {{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Upload'|trans }}</button>
                    <input type="hidden" id="nId" name="tId">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}