{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit Subscriber Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit Subscriber Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if subscriber is defined and subscriber %}
                    <a href="{{ path('app_admin_newsletter_subscribers_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row ">
            {% if subscriber is defined and subscriber and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_newsletter_subscriber_store') }}" method="post">
                    <div class="form-group">
                        <label for="inputName">{{ 'Name'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputName" name="name"
                            placeholder="{{ 'Enter name (required)'|trans }}" value="{{ subscriber.name }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">{{ 'E-mail Address'|trans }}: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                            placeholder="{{ 'Enter email (required)'|trans }}" value="{{ subscriber.email }}" readonly
                            required>
                        <small class="text-muted">{{ 'Email address must not be changed'|trans }}</small>
                    </div>

                    <div class="form-group">
                        <label for="inputToken">{{ 'Token'|trans }}:</label>
                        <input type="text" class="form-control" id="inputToken" name="token" placeholder="{{ dash() }}"
                            value="{{ subscriber.token }}" readonly>
                        <small class="text-muted">{{ 'Token must not be empty for unsubscription reason'|trans
                            }}</small>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="subscribed" name="subscribed" {{
                            subscriber.isSubscribed ? 'checked' : null }}>
                        <label class="form-check-label" for="subscribed">{{ 'Is Subscribed'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="delete" name="delete">
                        <label class="form-check-label" for="delete">
                            {{ 'Delete this subscriber permanentelly'|trans }}</label>
                    </div>

                    <button type="submit" class="btn btn-dark">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" value="{{ subscriber.id }}" name="newsId">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Name'|trans }}:</span>
                        {{ subscriber.name|capitalize }} # {{ subscriber.id }}
                    </p>
                    <p>
                        <span class="text-bold mr-2">{{ 'E-mail address'|trans }}:</span> {{ subscriber.email }}
                    </p>
                    <p>
                        <span class="text-bold mr-2">{{ 'Is Subscribed'|trans }}:</span>
                        {{ subscriber.isSubscribed ? faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p title="{{ subscriber.updatedAt|date('Y-m-d H:i:s') }}">
                        <span class="text-bold mr-2">{{ 'Updated at'|trans }}:</span>
                        {{ subscriber.updatedAt|date }}
                    </p>

                    <p title="{{ subscriber.createdAt|date('Y-m-d H:i:s') }}">
                        <span class="text-bold mr-2">{{ 'Created at'|trans }}:</span>
                        {{ subscriber.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_newsletter_subscribers_index',
                    linkText: 'Back to Subscribers'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}