{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Newsletter Subscribers'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 h4-title">{{ 'Newsletter Subscribers'|trans }}</h4>
            </div>
            <div class="col-8">
                <div class="breadcrumb float-right mt-1">

                    {% if subscribers is defined and subscribers and is_granted('ROLE_SUPER_ADMIN')%}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportSubscribersModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteAllSubscribersModal">
                        <span class="fa fa-cog text-warning pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Clean up'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteAllPermanentlyModal">
                        <span class="fa fa-trash text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoNewsletterModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/newsletter/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if subscribers is defined and subscribers %}
{% include 'admin/newsletter/modal/export.html.twig' %}
{% include 'admin/newsletter/modal/delete_subscribers_based_on_date_permanently.html.twig' %}
{% include 'admin/newsletter/modal/delete_all.html.twig' %}
{% include 'admin/newsletter/modal/general_infos.html.twig' %}
{% endif %}

{% endblock %}