{% extends 'base.html.twig' %}

{% block title %} {{ 'About us'|trans }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

<div class="container xl-mt-8">
    <div class="row mb-5 sm-p-0">
        <div class="col-lg-4 sm-p-0">
            <div class="about-us-bg text-center">
                <img src="{{ asset('assets/img/about_avatar.jpg') }}" class="rounded-circle" height="473" width="100%" alt="...">
                <small class="text-secondary">https://unsplash.com/de/fotos/wCIDfKBMDHE</small>
            </div>
            
        </div>
        <div class="col-lg-8">
            <h4>Duis autem vel eum iriure dolor in hendrerit</h4>
            <p>Hn vulputate velit esse molestie consequat, vel illum
                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                erat volutpat. <br>
                Ut wisi enim ad minim veniam
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim assum.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <div class="pt-2">
                <div class="pt-0"> 
                    <a href="#" class="pe-4"><i class="bi bi-twitter"></i></a> 
                    <a href="#" class="pe-4"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="pe-4"><i class="biu bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}