{% extends 'base.html.twig' %}

{% block title %} {{ 'Contact us'|trans }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

<div class="container xl-mt-8">
    <div class="row mb-5 sm-p-0">
        <div class="col-md-6 sm-p-0">
            <div class="contact-form-bg color-w">
                <h4 class="contact-form text-20">{{ 'Feel Free To Contact Us'|trans }}</h4>
                <p class="contact-form-p"><b>{{ 'Phone'|trans }}:</b> {{ phoneNumber }}</p>
                <p class="contact-form-p"><b>{{ 'E-mail'|trans }}: </b> {{ info_email }}</p>
                <p class="contact-form-p"><b>{{ 'Address'|trans }}: </b> {{ address }} </p>
                <p class="contact-form-p"><b>{{ 'Website'|trans }}:</b> {{ app.request.httpHost }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <form class="row g-2" action="{{ path('app_contact_form_new') }}" method="post">
                <div class="col-12">
                    <label for="inputName" class="form-label">{{ 'Name'|trans }}: <span
                            class="text-danger">*</span></label>
                    <input type="text" name="name" id="inputName" class="form-control"
                        placeholder="{{ 'Type name'|trans }}" required autofocus>
                </div>
                <div class="col-12">
                    <label for="inputEmail" class="form-label">{{ 'E-mail Address'|trans }}: <span
                            class="text-danger">*</span></label>
                    <input type="email" name="email" id="inputEmail" class="form-control"
                        placeholder="{{ 'Type email address'|trans }}" autocomplete="email" required>
                </div>
                <div class="col-12">
                    <label for="inputSubject" class="form-label">{{ 'Subject'|trans }}: <span
                            class="text-danger">*</span></label>
                    <input type="text" name="subject" id="inputSubject" class="form-control"
                        placeholder="{{ 'Type subject'|trans }}" required>
                </div>
                <div class="col-12">
                    <label for="inputMessage" class="form-label">{{ 'Message'|trans }}: <span
                            class="text-danger">*</span></label>
                    <textarea class="form-control" name="message" id="inputMessage" rows="3"
                        placeholder="{{ 'Type message'|trans }}"></textarea>
                </div>
                <div class="col-12">
                    <label for="inputSecurityCode" class="form-label">
                        {{ 'Security Code'|trans }}: <span class="text-danger">*</span>
                    </label>
                    <span class="float-end pointer" id="reloadSecurityCode">
                        <img src="{{ asset('assets/img/svg/arrow-clockwise.svg') }}" alt="Icon">
                    </span>
                    <input type="text" name="code" id="inputSecurityCode" class="form-control"
                        placeholder="{{ numbers[0] }} + {{ numbers[1] }} = ?" required>
                </div>
                <div class="col-12">
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="copyToEmail" name="sendCopyToEmail">
                        <label class="form-check-label" for="copyToEmail">{{ 'Send me a copy to my email'|trans
                            }}</label>
                    </div>
                </div>
                <div class="col-12">
                    <p>{{ 'By submitting the form, you agree to save and process your data'|trans }}.</p>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">{{ 'Send Message'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}