{% extends 'base.html.twig' %}

{% block title %} {{ 'Privacy Policy'|trans }} {% endblock %}

{% block body %}

    {% include 'layout/header.html.twig' %}

    <div class="container mt-3" style="margin-bottom: 550px">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ 'Privacy Policy'|trans }}</h4>
            </div>
        </div>
    </div>

    {% include 'layout/footer.html.twig' %}

{% endblock %}
