<div class="row mb-5">
    <div class="col-md-12">
        {% include 'component/back_to_route.html.twig' with {
        routeName: 'app_profile_index',
        linkText: 'Back to Profile'|trans
        } %}
    </div>
</div>