{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'User Setting'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Users Setting'|trans }}</h4>
            </div>
            <div class="col-4">
                <div class="breadcrumb float-right"></div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% if userSetting is defined and userSetting %}
                {% include "admin/user/setting/partial/table_content.html.twig" %}
            {% else %}
                {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}

            {% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}