{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'User Setting Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="m-0 h4-title">{{ 'User Setting Details'|trans }}</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    {% if userSetting is defined and userSetting %}
                    <a href="{{ path('app_admin_user_setting_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if userSetting is defined and userSetting and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-6 mb-3">
                {% set userId = userSetting.user.id %}
                <form action="{{ path('app_admin_user_setting_store') }}" method="post">
                    <div class="form-group">
                        <div class="row">
                            {% if paginationLimits is defined and paginationLimits %}
                            <div class="form-group col">
                                <label for="paginationLimit">
                                    {{ 'Pagination Limit'|trans }}: <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" id="paginationLimit" name="paginationLimit">
                                    {% for paginationLimit in paginationLimits %}
                                    <option value="{{ paginationLimit }}" {{ userSetting.paginationLimit == paginationLimit ? 'selected' : null }}>
                                        {{ paginationLimit }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            {% if logsLimit is defined and logsLimit %}
                            <div class="form-group col">
                                <label for="logsLimitSelect">
                                    {{ 'Log-Activities Limit'|trans }}: <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" id="logsLimitSelect" name="logsLimit">
                                    {% for log in logsLimit %}
                                    <option value="{{ log }}" {{ userSetting.logsLimit == log ? 'selected' : null }}>
                                        {{ log }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="sendLog" name="sendLog" {{
                            userSetting.logSending ? 'checked' : null }}>
                        <label class="form-check-label" for="sendLog">
                            {{ 'Send Log vie Email to user when Login'|trans }}
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="autoDeleteNotifications"
                            name="autoDeleteNotifications" {{ userSetting.shouldAutoDeleteNotifications ? 'checked' :
                            null }}>
                        <label class="form-check-label" for="autoDeleteNotifications">
                            {{ 'Delete old Notification after a while'|trans }}
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isNotificationSending" name="informUser" {{
                            userSetting.isNotificationSending ? 'checked' : null }}>
                        <label class="form-check-label" for="isNotificationSending">
                            {{ 'Inform user via Email when a new Notification sent'|trans }}
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-dark">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" value="{{ userId }}" name="uID">
                    <input type="hidden" value="{{ userSetting.id }}" name="uSettingId">
                </form>

                <div class="my-3 p-3 bg-white">
                    <div class="py-2">
                        <h5 class="h5-title">Enalbe / Disable Two Step Verification</h5>
                        <form action="{{path('app_admin_user_setting_store_2fa')}}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="2fa" name="2fa" {{ auth and
                                    auth.isEnabled ? 'checked' : '' }} onchange="this.closest('form').submit();">
                                <label class="form-check-label" for="2fa">
                                    Two Step Verification is {{ auth and auth.isEnabled ? 'Enabled' : 'Disabled' }}
                                </label>
                                <input type="hidden" value="{{ userId }}" name="uId">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="my-3 p-3 bg-white">
                    <div class="py-2">
                        <h5 class="h5-title">Force user to reset the password</h5>
                        <form action="{{path('app_admin_user_setting_force_reset_pw')}}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="reset" name="reset"
                                    onchange="this.closest('form').submit();">
                                <label class="form-check-label" for="reset">
                                    Yes do it
                                </label>
                                <input type="hidden" value="{{ userId }}" name="uId">
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-6 mb-3">
                <div class="bg-white pl-3 pr-3 pt-3 pb-3">

                    {% set email = userSetting.user.email %}

                    <p><span class="text-bold mr-2">{{ 'User'|trans }}:</span>
                        {{ userSetting.user.username|capitalize }}
                        <span title="{{ email }}">({{ secureEmail(email) }})</span>
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Pagination Limit'|trans }}:</span>
                        {{ userSetting.paginationLimit }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Logs Limit'|trans }}:</span>
                        {{ userSetting.logsLimit }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Send Log'|trans }}:</span>
                        {{ userSetting.logSending ? faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Auto Delete Notification'|trans }}:</span>
                        {{ userSetting.shouldAutoDeleteNotifications ? faCircle('text-success') :
                        faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Notify user when a new Notification sent via Admin'|trans
                            }}:</span>
                        {{ userSetting.isNotificationSending ? faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p title="{{ userSetting.createdAt|date }}"><span class="text-bold mr-2">{{ 'Created at'|trans
                            }}:</span>
                        {{ userSetting.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>

                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_user_setting_index',
                    linkText: 'Back to User Setting'|trans
                    } %}
                </div>

            </div>
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}