{% extends 'base.html.twig' %}

{% block title %} {{ 'Log in'|trans }}! {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Welcome back'|trans }}!</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            {% include 'component/message/custom_type_message.html.twig' %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="row g-2" method="post">
                <div class="col-12">
                    <label for="inputEmail" class="form-label">{{ 'E-mail Address'|trans }}:</label>
                    <input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control"
                        placeholder="{{ 'Type email address'|trans }}" autocomplete="email" required autofocus>
                </div>
                <div class="col-12">
                    <label for="inputPassword" class="form-label">{{ 'Password'|trans }}:</label>
                    <span class="float-end"><a href="{{ path('app_forgot_password_request') }}" class="a-animate">
                            {{ 'Forgot Password?'|trans }}
                        </a>
                    </span>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        autocomplete="current-password" placeholder="{{ 'Type password'|trans }}" required>
                    {% include 'component/form_show_hide_password.html.twig' %}
                </div>
                <div class="col-12">
                    <div class="mb-2 form-check" title="{{ 'Not your Device? let it uncheckt'|trans }}">
                        <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
                        <label class="form-check-label" for="rememberMe">{{ 'Keep me logged in'|trans }}</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">{{ 'Sign in'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4">
            <p>{{ 'Need an account?'|trans }} <a href="{{ path('app_register') }}" class="a-animate">
                    {{ 'Create one'|trans }}</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <p>{% include 'component/back_to_homepage_link.html.twig' %}</p>
        </div>
    </div>
</div>

{% endblock %}