<!-- Password Requirements Modal -->
<div class="modal fade" id="strongPasswordModalCenter" tabindex="-1" aria-labelledby="strongPasswordModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="strongPasswordModalCenterTitle">
                    {{ 'Strong Password Requirements'|trans }}</h5>
            </div>
            <div class="modal-body">
                <p><b>{{ 'Please choose a strong password to protect your account'|trans }}</b></p>
                <ul>
                    <li>{{ 'It should be at least 8 characters long'|trans }}</li>
                    <li>{{ 'It should be a mix of letters, numbers and special characters'|trans }}</li>
                    <li>
                        {{ 'It should NOT contain your name, phone number, birthday, email address or any personal data'|trans }}.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    {{ 'Okay, Got It'|trans }}!
                </button>
            </div>
        </div>
    </div>
</div>