{% if categories is defined and categories %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Title'|trans }}</th>
                <th scope="col">{{ 'RelatedArticlesCount'|trans }}</th>
                <th scope="col">{{ 'Updated'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        </thead>
        <tbody>
            {% for row in categories %}
            <tr class="tr-over-bg font-size-14">
                <td>{{ row.title|capitalize }}</td>

                <td class="text-bold">{{count(row.getArticles)}}</td>

                <td title="{{ row.updatedAt|date('Y-m-d H:i') }}">{{ timeAgo(row.updatedAt) }}</td>

                <td title="{{ row.createdAt|date('Y-m-d H:i') }}">{{ timeAgo(row.createdAt) }}</td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_blog_category_edit', {id:row.id}) }}">
                            <span class="fa fa-edit fa-sm text-primary pointer mr-3" title="{{ 'Edit'|trans }}"></span>
                        </a>
                    {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
    {% include 'admin/component/no_data_found.html.twig' %}
{% endif %}