{% if contacts is defined and contacts %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Name'|trans }}</th>
                <th scope="col">{{ 'Email'|trans }}</th>
                <th scope="col">{{ 'Subject'|trans }}</th>
                <th scope="col">{{ 'Message'|trans }}</th>
                <th scope="col"><span title="{{ 'Copy Sent'|trans }}">{{ 'Copy'|trans }}</span></th>
                <th scope="col">{{ 'IP'|trans }}</th>
                <th scope="col">{{ 'Modified'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr class="tr-over-bg font-size-14">
                <td>{{ contact.name|capitalize }}</td>
                <td title="{{ contact.email }}"><span class="fa fa-envelope text-secondary pointer"></span></td>
                <td title="{{ contact.subject }}">{{ contact.subject ? contact.subject|slice(0, 15) ~ '...' : dash() }}
                </td>
                <td title="{{ contact.message }}">{{ contact.message|slice(0, 15) ~ '...' }}</td>
                <td>{{ contact.isCopySent ? 'Yes' : 'No' }}</td>
                <td title="{{ contact.ip }}">{{ contact.ip|slice(0, 15) ~ '...' }}</td>
                <td title="{{ contact.updatedAt|date }}">{{ timeAgo(contact.updatedAt) }}</td>
                <td title="{{ contact.createdAt|date }}">{{ timeAgo(contact.createdAt) }}</td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_admin_contact_edit', {id:contact.id}) }}">
                        <span class="fa fa-edit fa-sm text-primary pointer mr-3" title="{{ 'Edit'|trans }}"></span>
                    </a>

                    {% if app.request.get('_route') != 'app_admin_contacts_search_show' %}
                    {# <div class="pointer">
                        <span class="fa fa-reply fa-sm text-success mr-3 contactId" data-toggle="modal"
                            title="{{ 'Reply'|trans }}"></span>
                    </div> #}
                    {% endif %}
                    {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}