<div class="modal fade" id="twoFactorAuthModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="twoFactorAuthModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="twoFactorAuthModalLabel">{{ auth and auth.isEnabled ? 'Disable'|trans :
                    'Enable'|trans }}
                    {{ 'Two-Factor Authentication'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_security_2fa_enable_disable') }}" method="post">
                <div class="modal-body">

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="mb-2">
                        <a data-bs-toggle="collapse" href="#collapseAlternativeEmail" role="button"
                            aria-expanded="false" aria-controls="collapseAlternativeEmail">
                            {{ 'Configure 2FA with an alternative email?'|trans }}
                        </a>

                        <div class="collapse multi-collapse" id="collapseAlternativeEmail">
                            <div class="ps-1">
                                <label for="alternativeEmail" class="col-form-label">
                                    {{ 'Alternative E-mail address'|trans }}:
                                </label>
                                <input type="text" class="form-control" id="alternativeEmail" name="aEmail"
                                    placeholder="{{ auth and auth.alternativeEmail ? 'Configured: ' ~ auth.alternativeEmail :'Type an alternative email for 2fa'|trans }}">
                                <small class="text-secondary">{{ 'OTP will be sent to this email'|trans }}.</small>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <a data-bs-toggle="collapse" href="#collapseSms" role="button" aria-expanded="false"
                            aria-controls="collapseSms">
                            {{ 'Configure your phone number?'|trans }}
                        </a>

                        <div class="collapse multi-collapse" id="collapseSms">
                            <div class="ps-1">
                                <label for="phoneNumber" class="col-form-label">{{ 'Phone Number'|trans }}: <span
                                        class="text-danger">({{ 'Not Available now'|trans }})</span></label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="{{ 'Type your phone-number'|trans }}" disabled>
                                <small class="text-secondary">{{ 'OTP will be sent to this phone number'|trans
                                    }}.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        {% set description = auth and auth.isEnabled ? 'Two-Factor Auth (unchecked) will be
                        disabled'|trans : 'Two-Factor Auth (checked) will be enabled'|trans %}
                        {% include 'component/field/checkbox_as_switch.html.twig' with {
                            name:'twoFa',
                            text:description,
                            checked:auth and not auth.isEnabled
                        } %}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">
                        {{ auth and auth.isEnabled ? 'Disable'|trans : 'Enable'|trans }}
                    </button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>