<div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">{{ 'Update Password'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_personal_data_password') }}" method="post">
                <div class="modal-body">

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="mb-2">
                        <label for="newPassword" class="col-form-label">{{ 'New Password'|trans }}:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                            placeholder="{{ 'Type new password'|trans }}" required>
                        {% include 'component/form_show_hide_password.html.twig' with {id:'newPassword'} %}

                        {% include 'component/password_requirements_info.html.twig' with {id: 'prSignupId', mt:'-125px'}
                        %}
                    </div>

                    <div class="mb-2">
                        <label for="confirmPassword" class="col-form-label">{{ 'Confirm New Password'|trans }}:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            placeholder="{{ 'Confirm your new password'|trans }}" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Change Password'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>