<div class="modal fade" id="changeNameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="changeNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeNameModalLabel">{{ 'Update Username'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_personal_data_username') }}" method="post">
                <div class="modal-body">

                    <div class="mb-2">
                        <label for="newUsername" class="col-form-label">{{ 'New Username'|trans }}:</label>
                        <input type="text" class="form-control" id="newUsername" name="newUsername"
                               placeholder="{{ 'Type new username'|trans }} ({{ app.user.username|capitalize }})" 
                               required autofocus>
                        <small class="text-secondary">({{ 'Min. 3, max 15 chars.'|trans }})</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>