<div class="modal fade" id="avatarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="avatarModalLabel">{{ 'Upload Avatar'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_change_avatar') }}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-2">
                        <p class="text-muted">{{ 'Image size max. 1 MB & only'|trans }}
                            <span class="status text-danger">.png</span>,
                            <span class="status text-danger">.jpeg</span> {{ 'or'|trans }}
                            <span class="status text-danger">.jpg</span>
                        </p>
                    </div>

                    <div class="mb-2">
                        <input class="form-control" type="file" id="avatarFile" name="avatar">
                    </div>

                    <div class="mb-2">
                        {% include 'component/message/info_this_field_required.html.twig' %}
                    </div>

                    {% set isUploaded = profile is defined and profile and profile.isUploaded %}

                    {% if isUploaded %}
                    {% include 'component/field/checkbox_as_switch.html.twig' with {
                        name:'removeAvatar',
                        text:'Remove Avatar'|trans} 
                    %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">
                        {{ isUploaded ? 'Save changes'|trans : 'Upload Avatar'|trans }}
                    </button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>