<div class="modal fade" id="changeEmailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="changeEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailModalLabel">{{ 'Update E-mail Address'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_personal_data_email') }}" method="post">
                <div class="modal-body">

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="mb-2">
                        <label for="newEmail" class="col-form-label">{{ 'New E-mail'|trans }}: <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="newEmail" name="newEmail"
                            placeholder="{{ 'Type new email'|trans }}" required>
                        <small class="text-muted">{{ 'Make sure the email typed correctly'|trans }}</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Send me the Link'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>