<div class="modal fade" id="deleteDevicesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteDevicesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDevicesModalLabel">{{ 'Delete Verified Devices'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_security_delete_devices') }}" method="post">
                <div class="modal-body">
                    <div class="mb-2">
                        <p>{{ 'Are you sure to delete all trusted devices?'|trans }}</p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <input type="hidden" name="delete" value="on">
                    <button type="submit" class="btn btn-danger">{{ 'Delete All'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>