<div class="modal fade" id="disableAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="disableAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableAccountModalLabel">{{ 'Disable Account'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_account_setting_disable_account') }}" method="post">

                <div class="modal-body">

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="col-12">
                        {% include 'component/field/checkbox_as_switch.html.twig' with {
                            name:'disableAccount',
                            text:'Disable my account'|trans, 
                            required:true } 
                        %}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Disable Now'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>