<div class="modal fade" id="resendOtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="resendOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resendOtpModalLabel">{{ 'Resend OTP'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_profile_security_2fa_resend_otp') }}" method="post">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="configuredEmail" class="col-form-label">{{ 'E-mail address'|trans }}:</label>
                        <input type="text" class="form-control" id="configuredEmail" name="cEmail"
                            placeholder="{{ 'Type configured email'|trans }}" required autofocus>
                    </div>

                    <div class="mb-2">
                        {% include 'component/message/info_this_field_required.html.twig' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Resend'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>