<div class="p-4 d-flex align-items-center box-shadow">
    <img src="{{ asset('assets/uploads/avatar/' ~ auther.user.profile.name) }}" class="rounded-circle flex-shrink-0" 
    width="120" height="120" alt="Avatar">

    <div class="ps-4">
        <h4>{{ auther.username|capitalize }}</h4>
        <p>{{ auther.about }}</p>
        <div class="pt-0"> 
            <a href="#" class="pe-2"><i class="bi bi-twitter"></i></a> 
            <a href="#" class="pe-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="pe-2"><i class="biu bi-instagram"></i></a>
        </div>
    </div>
</div>