<div class="col">
    <div class="card box-shadow">
        <div title="{{ article.title }}">
            <img class="card-img-top" width="700" height="250"
                src="{{asset('assets/uploads/article/' ~ article.headImage)}}" alt="{{ article.title }}">
        </div>
        <div class="card-body">

            <div class="small text-muted mb-1">
                <span class="bi bi-calendar-date me-1"></span> {{article.updatedAt|date('M. d Y')}}
                <span class="ps-3 pe-3 text-secondary">|</span>
                <span class="bi bi-clock me-1"></span> {{article.readTime}} Read
            </div>

            <h2 class="card-title h4">{{article.title}}</h2>

            {% set text = article.content|raw %}

            <div class="card-text mb-2">
                {{ stripTags(text)|slice(0, 120) ~ '...' }}
            </div>
            
            <a href="{{ path('app_blog_view', {slug:slug(article.title)}) }}">
                Read more →
            </a>
        </div>
    </div>
</div>