<div class="row mt-4 mb-4">

    <div class="col-lg-12">

        <h3 class="py-2">Related Articles</h3>

        <div class="row row-cols-1 row-cols-md-2 g-4 g-lg-4 mb-3">

            {% for article in relatedPosts %}
                <div class="col">
                    <div class="card box-shadow">
                        <div title="{{ article.title }}">
                            <img class="card-img-top" height="250"
                                src="{{asset('assets/uploads/article/' ~ article.headImage)}}"
                                alt="{{ article.title }}">
                        </div>
                        <div class="card-body">

                            <div class="small text-muted mb-1">
                                <span class="bi bi-calendar-date me-1"></span> {{ article.updatedAt|date('M. d Y') }}
                                <span class="ps-3 pe-3 text-secondary">|</span>
                                <span class="bi bi-clock me-1"></span> {{ article.readTime }} Read
                            </div>

                            <h2 class="card-title h4">{{ article.title }}</h2>
                            
                            <p class="card-text">
                                {{ stripTags(article.content|raw)|slice(0, 120) ~ '...' }}
                                <a href="{{ path('app_blog_view', {slug:slug(article.title)}) }}" class="ms-1">
                                    Read more →
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
