 <div class="col-lg-4">
    
    <div class="card mb-4 pb-4 box-shadow">
        <div class="card-header pt-4">Search</div>
        <div class="card-body pt-1">
            <form action="{{ path('app_blog_search_q') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="input-group">
                    <input class="form-control" type="search" id="iSearch" placeholder="Enter search term..." 
                        aria-label="Enter search term..." 
                        aria-describedby="button-search" 
                        name="search"
                        required>
                    <button class="btn btn-primary" id="bSearch" type="submit">
                        <span class="bi bi-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if categories is defined and categories %}
        <div class="card mb-4 pb-4 box-shadow">
            <div class="card-header pt-4">Categories</div>
            <div class="card-body pt-1">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            {% for category in categories %}
                            
                                {% set articlesCount = count(category.getArticles) %}

                                {% if articlesCount > 0 %}
                                    <li><a href="{{ path('app_blog_category_index', {'title':category.title|lower}) }}" class="text-dark">{{category.title}}</a>
                                        <span class="text-secondary">({{ articlesCount }})</span>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if recentArticles is defined and recentArticles %}
        <div class="card mb-4 pb-4 box-shadow">
            <div class="card-header pt-4">Recent Articles</div>
            <div class="card-body pt-1">
                <ul class="list-unstyled mb-0">

                    {% for article in recentArticles %}
                        <li>
                            <a href="{{ path('app_blog_view', {slug:slug(article.title)}) }}">
                                <span class="bi bi-arrow-right-square-fill me-1"></span> {{article.title}}
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    {% endif %}
    
    {% if tags is defined and tags %}
        <div class="card mb-4 pb-4 box-shadow">
            <div class="card-header pt-4">Tags</div>
            <div class="card-body pt-1">
                {% include 'blog/partial/sidebar_tags.html.twig' %}
            </div>
        </div>
    {% endif %}
</div>