<h3 class="py-2">{{ comments is defined and comments ? count(comments) : 'No' }} Comments</h3>

{# Show List Comments #}
{% if comments is defined and comments %}
<div class="mt-4 mb-4 p-3 box-shadow">
    <div id="output"></div>
</div>
{% endif %}

<input type="hidden" id="articleId" value="{{ article is defined ? article.id : 0 }}">

{# Add Comment #}
<div class="p-3 box-shadow" style="background-color: #fff6ba;">
    <h4 class="mt-2">Leave a Reply</h4>

    {% if not app.user %}
    <p>Please <a href="{{ path('app_login') }}">Login</a> or
        <a href="{{ path('app_register') }}">Create an Account</a> to post your comment.
    </p>
    {% else %}
    <form id="fComment">
        <div class="form-group mb-2">
            <label for="iComment">Comment:</label>
            <textarea type="text" class="form-control" id="iComment" rows="5" placeholder="{{ 'Your Comment *'|trans }}"
                name="iComment" autocomplete="false" required></textarea>
            <input type="hidden" name="aId" value="{{ article.id }}">
            <button type="button" id="bComment" class="btn btn-primary mt-2">
                Post Comment
            </button>
            <span class="ms-2" id="cMessage"></span>
        </div>
    </form>
    {% endif %}
</div>