{# Pagination Links #}
{% if pagination is defined and pagination %}

    {% set paginationLimit = paginationLimit is defined and paginationLimit ? paginationLimit : 8 %}

    {% if pagination.totalPages is defined and pagination.totalPages > 1 %}
        
    {% set request_uri = uri %}

        <hr class="mt-4" style="color: #ccc;">

        <nav aria-label="Pagination">
            {% if pagination.totalPages > 1 %}
            {# Number of page around current page+1 #}
            {% set nearbyPagesLimit = 3 %}
            <ul class="pagination justify-content-center pagination-radius-0">
                {% if pagination.page != 1 %}
                    <li class="page-item">
                        <a href="{{ path(request_uri, { 'page': 1 }) }}" class="page-link">{{ 'Newer'|trans }}</a>
                    </li>
                {% endif %}
                {% for i in 1..pagination.totalPages %}
                    {% if 0 == (pagination.page - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="disabled page-item"><a href="#" class="page-link">...</a></li>
                    {% elseif 0 == (pagination.page + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="disabled page-item"><a href="#" class="page-link">...</a></li>
                    {% elseif 0 < (pagination.page - nearbyPagesLimit) - loop.index %} {# hide all before #}
                    {% elseif 0 > (pagination.page + nearbyPagesLimit) - loop.index %} {# hide all after #}
                    {% else %}
                        <li {% if pagination.page == loop.index %} class="page-item active"{% endif %}>
                            <a href="{{ path(request_uri, { 'page': loop.index }) }}"
                                class="page-link">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if pagination.page != pagination.totalPages %}
                    <li class="page-item">
                        <a href="{{ path(request_uri, { 'page': pagination.totalPages }) }}"
                            class="page-link">{{ 'Older'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>

    {% endif %}

{% endif %}