{% if tags is defined and tags %}
    {% for row in tags %}
        <a href="{{ path('app_blog_tags_index', {tag:row.name|lower}) }}" class="btn btn-outline-secondary btn-sm mb-1">
            {{ row.name|capitalize }}
        </a>
    {% endfor %}
{% endif %}