{% if socialShare is defined and socialShare %}

    <div class="p-4 d-flex box-shadow mb-4">
        <div class="align-items-center pt-1">
            <span class="me-2">Share Article on: </span>

            {% for row in socialShare %}
                <div class="social-share-link d-inline-block" style="user-select: none;">
                    <a href="{{ row.url }}" 
                        title="{{row.name == 'Email' ? 'Share via' : 'Share on' }} {{ row.name|capitalize }}">
                        <span class="bi {{ row.icon }} me-1 ms-1" style="color: {{row.color}};"></span>
                        <span class="me-2" style="color: #454545; font-size: 15px;">{{ row.name|capitalize }}</span>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endif %}