{% if faq is defined and faq %}
  <section class="container-fluid mb-5">
    <div class="container py-5">
      <div class="row bg-light justify-content-center pt-5 pb-5 mb-5 mt-3">
        <div class="col-md-8">
            <div class="text-center mb-4">
              <h3>{{ 'Frequently Asked Questions'|trans }}</h3>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushFaq">
              {% for row in faq %}
              {% set id = hash(row.id + 7) %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading-{{ id }}">
                    <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" 
                      data-bs-target="#flush-collapse-{{ id }}" 
                      aria-expanded="false" 
                      aria-controls="flush-collapse-{{ id }}">
                      <span class="bolder me-2">:::</span>{{ row.title }}
                    </button>
                  </h2>
                  <div id="flush-collapse-{{ id }}" class="accordion-collapse collapse" 
                    aria-labelledby="flush-heading-{{ id }}" 
                    data-bs-parent="#accordionFlushFaq">
                    <div class="accordion-body">
                      <p>{{ replaceLinkWithHref(row.description)|raw }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}       
            </div>
    
            <div class="text-center mt-4">
              <p class="mt-3 mb-3 tet-center">{{ 'Can not find your answers?'|trans }} 
                <a href="mailto:{{ supportEmail() }}">{{ 'Email us'|trans }}!</a>
              </p>
            </div>
        </div>
      </div>    
    </div>
  </section>
{% endif %}