{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-8">
                <h2 class="m-0 t2-title">{{ 'Dashboard'|trans }}</h2>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-sm-right sm-d-none">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_index') }}">{{ 'Home'|trans }}</a></li>
                    <li class="breadcrumb-item">{{ 'Dashboard'|trans }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="row">

            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ activeUsers }}</h3>
                        <p>{{ 'Active Users'|trans }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="{{ path('app_admin_user_index') }}" class="small-box-footer">
                        {{ 'More info'|trans }} <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ disabledAccounts }}</h3>
                        <p>{{ 'Disabled Accounts'|trans }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-alt-slash"></i>
                    </div>
                    <a href="{{ path('app_admin_user_disabled_accounts_index') }}" class="small-box-footer">
                        {{ 'More info'|trans }} <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ deletedAccount }}</h3>
                        <p>{{ 'Deleted Accounts'|trans }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-minus"></i>
                    </div>
                    <a href="{{ path('app_admin_user_deleted_accounts_index') }}" class="small-box-footer">
                        {{ 'More info'|trans }}
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ count(notifications) }}</h3>
                        <p>{{ 'New Notifications'|trans }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bell"></i>
                    </div>
                    <a href="{{ path('app_admin_notification_index') }}" class="small-box-footer">
                        {{ 'More info'|trans }} <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

        </div>
        {% else %}
            <b>Please read this carefully before you add any Article</b>

            <p>How the Title of an Article must be:</p>

            <ul>
                <li>It must be short and informative</li>
                <li>The max. words is 7</li>
                <li>No comma in title and no space at end</li>
            </ul>

            <p>What about Image (Head Image)</p>
            <ul>
                <li>It must descripe the Article</li>
                <li>The scale is 850x350 widith/height</li>
                <li>Extension is better to be .jpeg</li>
                <li>Allowed Extension are .jpeg, .jpg, .png</li>
            </ul>
            .<br>
            .<br>
            .
        {% endif %}

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}