{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="referenceModel" tabindex="-1" role="dialog" aria-labelledby="referenceModelLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="referenceModelLabel">
                    {{ 'Add New Reference'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_reference_new') }}" method="post" enctype="multipart/form-data">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="modal-body">

                    <p>
                        {{'Make sure the data are correct typed.'|trans }}
                    </p>

                    <div class="form-group">
                        <input type="text" class="form-control" name="title" id="title"
                            placeholder="{{ 'Title'|trans }}" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="url" class="form-control" name="url" id="url" placeholder="{{ 'URL'|trans }}">
                    </div>

                    <div class="mb-3">
                        <input class="form-control upload-avatar" type="file" id="formFile" name="avatar"
                            title="{{ 'Upload new Reference Image 1856x932'|trans }}">
                    </div>


                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isPublished" name="isPublished" checked>
                        <label class="form-check-label" for="isPublished">
                            {{ 'Publish directly after create'|trans}}</label>
                    </div>

                    <div class="mb-2 text-right">
                        <small class="text-info">Only Ref-image is required.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Add Reference'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}