{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deactivateAllModal" tabindex="-1" role="dialog" aria-labelledby="deactivateAllLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deactivateAllLabel">
                    {{ 'Deactivate all Teams-member'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_references_job_deactivate') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="modal-body">
                    <div class="form-group">
                        <p class="text-muted fs-15">
                            {{'Deactivate all references means the Reference-Section will not be shown anywhere.'|trans}}
                        </p>

                        {% include 'component/form_current_password_field.html.twig' %}

                        {% include 'component/form_current_password_field.html.twig' %}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light sm-d-none" data-dismiss="modal">
                        {{ 'Cancel'|trans}}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Deactivate them'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}