{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="uploadImageLabel">
                    {{ 'Upload Reference Image'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{path('app_admin_reference_job_upload_image_store')}}" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="mb-3">
                            <input class="form-control upload-avatar" type="file" id="formFile" name="image"
                                aria-describedby="avatarHelpBlock" required>
                            <div id="avatarHelpBlock" class="small text-secondary">
                                Image size 1856x932 and ext. (.jpg, .jepg or .png)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light sm-d-none" data-dismiss="modal">
                        {{ 'Cancel'|trans }}</button>
                    <input type="hidden" value="{{reference.id}}" name="id">
                    <button type="submit" class="btn btn-success">{{ 'Upload'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}