{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Testimonial Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Testimonial Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if testimonial is defined and testimonial %}
                    <a href="{{ path('app_admin_testimonial_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if testimonial is defined and testimonial %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_testimonial_store') }}" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputFirstName">{{ 'First Name'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                    placeholder="{{ 'First Name (required)'|trans }}"
                                    value="{{ testimonial.firstName }}" required>
                            </div>

                            <div class="form-group col">
                                <label for="inputLastName">{{ 'Last Name'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputLastName" name="lastName"
                                    placeholder="{{ 'Last Name (required)'|trans }}" value="{{ testimonial.lastName }}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName">{{ 'Email'|trans }}:</label>
                        <input type="text" class="form-control" id="inputEmail" name="email"
                            placeholder="{{ 'Email'|trans }}" value="{{ testimonial.email }}">
                    </div>

                    <div class="form-group">
                        <label for="inputPositionName">{{ 'Position'|trans }}: <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputPositionName" name="position"
                            placeholder="{{ 'Position (required)'|trans }}" value="{{ testimonial.position }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputDescription">{{ 'Description'|trans }}: <span
                                class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" id="inputDescription" name="description" rows="5"
                            placeholder="{{ 'Description (required)'|trans }}"
                            required>{{ testimonial.description }}</textarea>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" {{ testimonial.isPublished ? 'checked' : '' }}
                            id="isPublished" name="isPublished">
                        <label class="form-check-label" for="isPublished">{{ 'Update [isPublished] flag'|trans
                            }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" {{ testimonial.isDeleted ? 'checked' : '' }}
                            id="isDeleted" name="isDeleted">
                        <label class="form-check-label" for="isDeleted">{{ 'Update [isDeleted] flag'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="removeAvatar" name="removeAvatar">
                        <label class="form-check-label" for="removeAvatar">
                            {{ 'Remove Image'|trans }}
                        </label>
                    </div>

                    <button type="submit" class="btn btn-dark mt-2">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="avatar" value="{{ testimonial.avatar }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" value="{{ testimonial.token }}" name="token">
                    <input type="hidden" value="{{ testimonial.id }}" name="id">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">

                    <div class="py-3">
                        <img src="{{ asset('assets/img/testimonial/' ~ testimonial.avatar) }}" alt="" height="120"
                            width="120">

                        <div class="pointer rounded-pill float-right" style="width: 43px; background-color: #fafafa;">
                            <span class="fa fa-plus fa-sm p-3 text-warning" title="{{'upload image 70x70'}}"
                                data-toggle="modal" data-target="#uploadImageModal"></span>
                        </div>
                    </div>

                    <p><span class="text-bold mr-2">{{ 'First Name'|trans }}:</span>
                        {{ testimonial.firstName|capitalize }}
                        # {{ testimonial.id }}</p>

                    <p><span class="text-bold mr-2">{{ 'Last Name'|trans }}:</span>
                        {{ testimonial.lastName|capitalize }}</p>

                    <p><span class="text-bold mr-2">{{ 'Email'|trans }}:</span>
                        {{ testimonial.email|capitalize }}</p>

                    <p><span class="text-bold mr-2">{{ 'Position'|trans }}:</span>
                        {{ testimonial.position ? testimonial.position|capitalize : dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Description'|trans }}:</span>
                        {{ testimonial.description ? replaceLinkWithHref(testimonial.description)|raw : dash()}}</p>

                    <p><span class="text-bold mr-2">{{ 'Is published'|trans }}:</span>
                        {{ testimonial.isPublished ? faThumbsUp() : faThumbsDown() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Token'|trans }}:</span>
                        {{ testimonial.token ? testimonial.token : dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Is deleted'|trans }}:</span>
                        {{ testimonial.isDeleted ? faThumbsUp() : faThumbsDown() }}</p>

                    <p title="{{ testimonial.updatedAt|date }}"><span class="text-bold mr-2">
                            {{ 'Updated at'|trans }}:</span>{{ testimonial.updatedAt|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ testimonial.createdAt|date }}"><span class="text-bold mr-2">
                            {{ 'Created at'|trans }}:</span>{{ testimonial.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_testimonial_index',
                    linkText: 'Back to Testimonial'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/testimonial/modal/upload_image.html.twig' %}

{% endblock %}