{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Testimonial'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 h4-title">{{ 'Testimonial'|trans }}</h4>
            </div>
            <div class="col-8">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="breadcrumb float-right mt-1">
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#testimonialModal"
                        title="{{ 'Add New Testimonial'|trans }}">
                        <span class="fas fa-plus text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'New Testimonial'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#inviteCustomerTestimonialModal"
                        title="{{ 'Invite Customer to Add a Testimonial'|trans }}">
                        <span class="fas fa-envelope text-warning pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Invite Customer'|trans }}</span>
                    </button>

                    {% if testimonials is defined and testimonials %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportTestimonialsModal"
                        title="{{ 'Export'|trans }}">
                        <span class="fas fa-download text-primary fa-sm pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deleteTestimonialModal"
                        title="{{ 'Delete All'|trans }}">
                        <span class="fas fa-trash text-danger fa-sm pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete all'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoTestimonialModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/testimonial/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/testimonial/modal/add.html.twig' %}
{% include 'admin/testimonial/modal/export.html.twig' %}
{% include 'admin/testimonial/modal/delete.html.twig' %}
{% include 'admin/testimonial/modal/infos.html.twig' %}

{% include 'admin/testimonial/modal/api/invite_customer_to_add_testimonial.html.twig' %}

{% endblock %}