{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Reference Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Reference Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if reference is defined and reference %}
                    <a href="{{ path('app_admin_references_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if reference is defined and reference %}
            <div class="col-md-6">
                <form class="pb-3" action="{{path('app_admin_reference_store')}}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-group col">
                        <label for="inputTitle">{{ 'Title'|trans }}: </label>
                        <input type="text" class="form-control" id="inputTitle" name="title"
                            placeholder="{{ reference.title ? reference.title|capitalize : dash() }}"
                            value="{{ reference.title }}">
                    </div>

                    <div class="form-group col">
                        <label for="inputUrl">{{ 'URL'|trans }}: </label>
                        <input type="text" class="form-control" id="inputUrl" name="url"
                            placeholder="{{ reference.url ? reference.url|capitalize : dash() }}"
                            value="{{ reference.url }}">
                    </div>

                    <div class="form-group form-check mt-2">
                        <input type="checkbox" class="form-check-input" {{ reference.isPublished ? 'checked' : '' }}
                            id="isPublished" name="isPublished">
                        <label class="form-check-label" for="isPublished">
                            {{ 'Update [isPublished] flag'|trans }}
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isDeleted" name="isDeleted">
                        <label class="form-check-label" for="isDeleted">
                            {{ 'Delete Reference permenently'|trans }}</label>
                    </div>

                    <button type="submit" class="btn btn-dark mt-2">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="image" value="{{ reference.refImage }}">
                    <input type="hidden" value="{{ reference.id }}" name="id">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">

                    <div class="py-3">
                        <img src="{{ asset('assets/img/ref/' ~ reference.refImage) }}" alt="" height="240" width="340">

                        <div class="pointer rounded-pill float-right" style="width: 43px; background-color: #fafafa;">
                            <span class="fa fa-plus fa-sm p-3 text-warning" title="{{'upload image 675x675'}}"
                                data-toggle="modal" data-target="#uploadImageModal"></span>
                        </div>
                    </div>

                    <p><span class="text-bold mr-2">{{ 'Title'|trans }}:</span>
                        {{ reference.title ? reference.title|capitalize : dash() }}
                        # {{ reference.id }}</p>

                    <p><span class="text-bold mr-2">{{ 'URL'|trans }}:</span>
                        {{ reference.url ? reference.url : dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Is Published'|trans }}:</span>
                        {{ reference.isPublished ? faThumbsUp() : faThumbsDown() }}</p>

                    <p title="{{ reference.updatedAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Updated at'|trans }}:</span>{{ reference.updatedAt|date }}
                    </p>

                    <p title="{{ reference.createdAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Created at'|trans }}:</span>{{ reference.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_references_index',
                    linkText: 'Back to References'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/reference/modal/upload_image.html.twig' %}

{% endblock %}