{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'References'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 h4-title">{{ 'References'|trans }}</h4>
            </div>
            <div class="col-8">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="breadcrumb float-right mt-1">
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#referenceModel"
                        title="{{ 'Add New Reference'|trans }}">
                        <span class="fas fa-plus text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'New Reference'|trans }}</span>
                    </button>

                    {% if references is defined and references %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#deactivateAllModal"
                        title="{{ 'Deactivate all References'|trans }}">
                        <span class="fas fa-eye-slash text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Deactivte'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportModal"
                        title="{{ 'Export Teams Data'|trans }}">
                        <span class="fas fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/reference/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/reference/modal/add.html.twig' %}
{% include 'admin/reference/modal/export.html.twig' %}
{% include 'admin/reference/modal/deactivate.html.twig' %}
{% include 'admin/reference/modal/infos.html.twig' %}

{% endblock %}