{% extends 'base.html.twig' %}

{% block title %} {{ 'Reset Password'|trans }} {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Reset Password'|trans }}</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <p>{{ 'If an Account matching your email exists, then an email was just sent that contains a link that you
                can use to reset your password. This link will expire in 30 Min.'|trans }}.</p>
            <p>{{ 'If you do not receive an email please check your spam folder or'|trans }}
                <a href="{{ path('app_forgot_password_request') }}" class="a-animate">{{ 'try again'|trans }}</a>.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 mt-4 mb-4">
            {% include 'component/back_to_homepage_link.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}