{% extends 'base.html.twig' %}

{% block title %} {{ 'Reset your password'|trans }} {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Reset your password'|trans }}</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <p>{{ 'Enter your email address, and we will send you a link to reset your password'|trans }}.</p>
            {% include 'component/message/custom_type_message.html.twig' %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="row g-2" action="{{ path('app_forgot_password_request_check') }}" method="post">
                <div class="col-12">
                    <label for="inputEmail" class="form-label">{{ 'E-mail Address'|trans }}:</label>
                    <input type="email" name="email" id="inputEmail" class="form-control"
                        placeholder="{{ 'Type email address'|trans }}" autocomplete="email" required autofocus>
                </div>

                <div class="mb-2">
                    {% include 'component/message/info_this_field_required.html.twig' %}
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">{{ 'Send password reset email'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mt-4 mb-4">
            {% include 'component/back_to_homepage_link.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}