{% extends 'base.html.twig' %}

{% block title %} {{ 'Reset your password'|trans }} {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            {% include 'component/form_logo.html.twig' %}
            <h4 class="mt-3 mb-2">{{ 'Reset your password'|trans }}</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            {% include 'component/message/custom_type_message.html.twig' %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="row g-2" action="{{ path('app_forgot_password_request_store') }}" method="post">
                <div class="col-12">
                    <label for="inputNewPassword" class="form-label">{{ 'New Password'|trans }}:</label>
                    <input type="password" name="newPassword" id="inputNewPassword" class="form-control"
                        placeholder="{{ 'Type a new password'|trans }}" required autofocus>
                    {% include 'component/form_show_hide_password.html.twig' with {id:'inputNewPassword'} %}
                </div>

                <div class="col-12">
                    <label for="inputConfirmPassword" class="form-label">{{ 'Confirm Password'|trans }}:</label>
                    <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control"
                        placeholder="{{ 'Confirm a new password'|trans }}" required>
                </div>

                <div class="mb-2">
                    {% include 'component/message/info_all_fields_required.html.twig' %}
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">{{ 'Reset password'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mt-4 mb-4">
            {% include 'component/back_to_homepage_link.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}