{% if systemLogs is defined and systemLogs %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Event'|trans }}</th>
                <th scope="col">{{ 'Message'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>

            {% for systemLog in systemLogs %}
            <tr class="tr-over-bg font-size-14">
                <td>{{ systemLog.event|capitalize }}</td>
                <td>{{ systemLog.message }}</td>
                <td title="{{ systemLog.createdAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(systemLog.createdAt) }}
                </td>

                <td class="d-flex">

                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                        {% set riderectRoute = app.request.get('_route') %}

                        {% if app.request.get('_route') != 'app_admin_system_logs_archive_index' %}
                        <div class="pointer mr-3">
                            <a href="{{ path('app_admin_system_logs_show', {id:systemLog.id}) }}">
                                <span class="fa fa-eye fa-sm text-primary"></span>
                            </a>
                        </div>

                        <div class="pointer mr-3">
                            <form action="{{ path('app_admin_system_logs_archive_store') }}" method="post">
                                <span class="fa fa-archive fa-sm text-secondary"
                                    onclick="this.closest('form').submit();"></span>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="hidden" name="logId" value="{{ systemLog.id }}">
                                <input type="hidden" name="route" value="{{ riderectRoute }}">
                            </form>
                        </div>
                        {% endif %}

                        <div class="pointer mr-3">
                            <form action="{{ path('app_admin_system_logs_archive_delete') }}" method="post">
                                <span class="fa fa-trash fa-sm text-danger" onclick="this.closest('form').submit();"></span>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="hidden" name="id" value="{{ systemLog.id }}">
                                <input type="hidden" name="route" value="{{ riderectRoute }}">
                            </form>
                        </div>
                    {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

{% include 'admin/component/no_data_found.html.twig' %}

{% endif %}

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}