{% if socialLinks is defined and socialLinks %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Name'|trans }}</th>
                <th scope="col">{{ 'Icon'|trans }}</th>
                <th scope="col">{{ 'Color'|trans }}</th>
                <th scope="col">{{ 'URL'|trans }}</th>
                <th scope="col">{{ 'Modified'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in socialLinks %}
            <tr class="tr-over-bg font-size-14">
                <td>{{ row.name|capitalize }}</td>

                <td>{{ row.icon }}</td>

                <td><span class="fa fa-circle" style="color:{{row.color}};"></span></td>

                <td>{{ row.url }}</td>

                <td title="{{ row.updatedAt|date('Y-m-d H:i') }}">{{ timeAgo(row.updatedAt) }}</td>

                <td title="{{ row.createdAt|date('Y-m-d H:i') }}">{{ timeAgo(row.createdAt) }}</td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <form action="{{ path('app_admin_blog_social_share_links_edit', {id: row.id}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span class="text-primary pointer mr-3" onclick="this.closest('form').submit();">
                                <span class="fa fa-edit fa-sm text-primary pointer mr-3" 
                                    title="{{ 'Edit'|trans }}">
                                </span>
                            </span>
                            <input type="hidden" value="{{ row.id }}" name="id">
                            <input type="hidden" value="{{ backToRoute is defined ? backToRoute : '' }}" name="route">
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    {% include 'admin/component/no_data_found.html.twig' %}
{% endif %}