@font-face {
    font-family: 'Lato';
    font-weight: normal;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

html, body {
    font-family: 'Lato', sans-serif;
}

/* reset default */
.form-control, .form-select, .btn, .alert, .modal-content, .card-body, .navbar-toggler, .dropdown-menu, .card {
    border-radius: 0;
}

.page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 0;
}

.accordion-item:first-of-type, .accordion-item:last-of-type {
    border-radius: 0;
}

.modal-header {
    border-bottom: 0;
}

.small{
    font-size: 13px;
}

.modal-footer {
    border-top: 0;
}

.text-muted {
    user-select: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

::placeholder {
    color: #aeaeae !important;
    font-size: 15px;
}

.form-control, .form-select, input:focus, textarea:focus {
    box-shadow: none !important;
    outline: none
}

.form-label {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

div > .col-form-label {
    padding-bottom: 0.1rem;
}

.dropdown-divider {
    opacity: 0.5;
    border-top: 1px solid #dadada;
}

.spinner-grow {
    --bs-spinner-animation-speed: 1.5s;
}

.dropdown-item:focus, .dropdown-item:visited, .dropdown-item:active {
    background-color: #eee;
    opacity: 1;
}

/* end reset default */

.txt-muted {
    color: #817979;
    opacity: 0.9;
}

.txt-muted > img {
    margin-top: -3px;
}

.alert-fixed-z-index {
    position: fixed;
    top: 11px;
    right: 1px;
    z-index: 1030
}

.form-password-eye {
    margin-top: -28px;
    float: right;
    padding-right: 15px;
    cursor: pointer;
    position: sticky
}

.text-12 {
    font-size: 12px;
    word-spacing: 0;
    opacity: 0.7;
    text-transform: uppercase;
}

.text-13 {
    font-size: 13px;
    word-spacing: 3px;
    opacity: 0.9;
    text-transform: uppercase;
}

.text-14 {
    font-size: 14px;
    word-spacing: 3px;
    opacity: 0.9;
    text-transform: uppercase;
}

.text-15 {
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.9;
    word-spacing: 3px;
}

.text-20 {
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0.9;
    word-spacing: 3px;
}

.h4-title {
    font-size: 20px;
    letter-spacing: 0;
    opacity: 0.9;
    color: #525252;
    font-weight: 600;
    user-select: none;
}

.modal-header > .modal-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
    word-spacing: 3px;
}

.pointer {
    cursor: pointer;
}

.avatar {
    border: 5px solid #e9dede;
}

.contact-form-bg {
    opacity: 0.7;
    background: repeating-linear-gradient(45deg, #f12b2b, #bf1717 15%, #d74141 40%);
    height: 573px !important;
    width: 100% !important;
}

.about-us-bg {
    opacity: 0.7;
    background: repeating-linear-gradient(45deg, #edebeb, #ffffff 15%, #fbf6f6 40%);
    height: 473px !important;
    width: 100% !important;
}

.color-w {
    color: #ffffff;
}

.contact-form {
    padding-top: 100px;
    padding-left: 50px;
}

.contact-form-p {
    padding-top: 30px;
    padding-left: 50px;
}

.shadow-b {
    box-shadow: 0 0 5px 0 #dddddd !important;
}

.shadow-t {
    box-shadow: 0 0 5px 0 #dddddd !important;
}

.pagination-row {
    margin-top: -11px;
}

.alert-success {
    background-color: #bff1cb;
    color: #0f401b;
    border: none;
    border-left: 3px solid #0f401b;
}

.alert-warning {
    color: #81620b;
    background-color: #f9e7af;
    border: none;
    border-left: 3px solid #bd9319;
}

.alert-info {
    color: #1d5a64;
    background-color: #d1ecf1;
    border: none;
    border-left: 3px solid #0d6c7a;
}

.card-img-left-container {
    padding-left: 38%;
    user-select: none;
}

.card-img-left {
    margin-top: 15px;
    border-radius: 50px;
    padding: 14px;
    width: 55px;
    height: 55px;
}

.card-img-right {
    padding-top: 30px;
    padding-right: 10px;
    user-select: none;
}

.card-img-left-bg-light-blue {
    background: #e6f0ff;
}

.card-img-left-bg-light-green {
    background: #deffe3;
}

.card-img-left-bg-light-yellow {
    background: #fbf5a5;
}

.card-img-left-bg-light-red {
    background: #ffe2e4;
}

.a-animate, .a-animate-red {
    text-decoration: none;
    position: relative;
}

.a-animate:hover, .a-animate-red:hover {
    text-decoration: none;
}

.a-animate:hover:after, .a-animate-red:hover:after {
    width: 100%;
}

.a-animate:after, .a-animate-red:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 0.4s;
}

.a-animate:after {
    border-bottom: 2px solid #86a4f3;
}

.a-animate-red:after {
    border-bottom: 2px solid #dc3545;
}

.card-shadow:hover {
    box-shadow: 0 0 5px 0 #b2afaf !important;
}

.status, .code {
    background: #eee;
    padding: 1px 10px;
    border-radius: 50px;
    font-size: 13px;
    font-style: italic;
}

.link:hover{
    box-shadow: 0 0 5px 0 #ccc !important;
    border-radius: 50px;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.logs-limit-bg{
    background-color: #f0feff;
}

.xl-mt-8 {
    margin-top: 45px;
}

.modal-header > .btn-close:hover {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    background-color: #ece7e7;
    border-radius: 50px;
}

.border-left-5 {
    border-left: 5px solid #28b5df;
    padding-left: 15px;
}

::-moz-selection{
    background-color:#ffdf00;color:#000
}

::selection{
    background-color:#fd0;color:#000
}

.box-shadow {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px 0 #ddd8d8;
}

.card-header{
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.social-share-link {
    margin: 2px;
    padding: 3px 5px;
    border:1px solid #dfdfdf;
}

.chevron-icon {
    color: #aeaeae;
    border-radius: 50px;
    padding: 12px 14px;
    background-color: #f7f7f7;
}

.chevron-icon:hover {
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 13px 15px;
    color: #28b5df;
    background-color: #f7f7f7;
}

@media (max-width: 500px) {
    .sm-d-none {
        display: none;
    }

    .contact-form {
        padding-left: 15px;
    }

    .contact-form-p {
        padding-left: 15px;
    }

    .contact-form-bg {
        margin-bottom: 25px;
    }

    .about-us-bg, .about-us-bg > img{
        height: 400px !important;
    }

    .about-us-bg {
        margin-bottom: 30px !important;
    }

    .pagination-row {
        margin-top: 2px;
    }

    .sm-pl-45 {
        padding-left: 45px;
    }
}

@media (max-width: 800px) {
    .contact-form-img {
        height: 34em;
    }

    .sm-p-0 {
        padding: 0;
    }

    .xl-mt-8 {
        margin-top: 0;
    }
}

/* comments */
.b-left {
    border-left: 1px solid #e9e8e8;
    padding-left: 10px;
    background-color: #fff;
}

.b-radius {
    border-radius: 50px;
}

.reply-text {
    color: #727272;
}