<!DOCTYPE html>
<html lang="en">

<head>
    {% set __route = app.request.get('_route') %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin Dashboard</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="noindex,nofollow" name="robots">
    <meta name="author" content="{{ appAuthor() }}">
    <meta name="publisher" content="{{ appName() }}" />
    <meta name="created" content="{{ appCreated() }}" />
    <meta content="{{ app.request.schemeAndHttpHost }}" itemprop="name" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="notranslate" name="google" />
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="copyright" content="© {{ year() }} {{ appName() }}" />
    <link rel="canonical" href="{{ app.request.schemeAndHttpHost }}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('src/css/fontawesome-free/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('src/css/adminlte.min.css') }}">
        <link rel="stylesheet" href="{{ asset('src/css/main.css') }}" media="all">

        {% if __route == 'app_admin_blog_article_new' or  __route == 'app_admin_blog_article_edit' %}
            <link href="{{ asset('assets/quill/monokai-sublime.min.css?ver=1.0.0') }}" rel="stylesheet" />
            <link href="{{ asset('assets/quill/quill.snow.css?ver=1.3.6') }}" rel="stylesheet" />
        {% endif %}
   
    {% endblock %}

</head>

<body class="hold-transition sidebar-mini layout-fixed">

    {% include 'component/message/admin_lte_custom_type_message_top_fixed.html.twig' %}

    <div class="wrapper">

        {% include 'admin/layout/navbar.html.twig' %}

        {% include 'admin/layout/sidebar.html.twig' %}
        
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>

        {% include 'admin/layout/footer.html.twig' %}

    </div>

    {% block javascripts %}
    <script type="application/javascript" src="{{ asset('src/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('src/js/bootstrap.bundle.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('src/js/adminlte.js') }}"></script>
    <script type="application/javascript" src="{{ asset('src/js/main.js') }}"></script>

    {% if __route == 'app_admin_blog_article_new' or __route ==  'app_admin_blog_article_edit' %}
        <script type="application/javascript" src="{{ asset('assets/quill/highlight.min.js?ver=9.18.1') }}"></script>
        <script type="application/javascript" src="{{ asset('assets/quill/quill.js?ver=1.3.6') }}"></script>
        <script type="application/javascript" src="{{ asset('assets/quill/quill-config.js?ver=1.0.0') }}"></script>
    {% endif %}

    {% endblock %}

</body>

</html>