<footer class="main-footer" style="font-size: 14px;">
    <span>&copy; {{ year() }} . {{ appName() }} . {{ 'All Rights Reserved'|trans }}. </span>
    <div class="float-right d-none d-sm-inline-block">
        <p class="text-muted">
            Made with <span class="fa fa-heart text-danger pl-1 pr-1"></span>
            by <a href="{{ madeByURL() }}" target="_blank" rel="nofollow,noindex">
                {{ madeBy() }}
            </a> Team
            | {{ 'Version'|trans }} {{ version() }}
        </p>
    </div>
</footer>