<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light">

    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_home') }}" class="nav-link">{{ 'Home'|trans }}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_profile_index') }}" class="nav-link">{{ 'Profile'|trans }}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_contact_form_index') }}" class="nav-link">{{ 'Contact'|trans }}</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    {% if searchRoute is defined and searchRoute and is_granted('ROLE_SUPER_ADMIN') %}
    <form class="form-inline ml-3" action="{{ path(searchRoute) }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar border-r-none" type="search"
                placeholder="{{ 'Search'|trans }}" aria-label="Search" name="keyword" required>
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                    <input type="hidden" name="route" value="{{ app.request.get('_route') }}">
                </button>
            </div>
        </div>
    </form>
    {% else %}
    <form class="form-inline ml-3" title="{{ 'search is not available'|trans }}">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar border-r-none" type="search"
                placeholder="{{ 'Search'|trans }}" aria-label="Search" required disabled>
            <div class="input-group-append">
                <button class="btn btn-navbar" type="button" disabled>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    {% endif %}

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <!-- Notifications Dropdown Menu -->
        <li class="mr-2 nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">{{ count(notifications) }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                <span class="dropdown-item dropdown-header bg-light">{{ 'Notification'|trans }}</span>
                {% for notification in notifications %}
                <div class="dropdown-divider"></div>
                <div class="dropdown-item small">
                    <i class="fas fa-circle mr-1 text-success fa-sm"></i>
                    {{ notification.subject|slice(0, 20) ~ '...' }}
                    <span class="float-right text-muted text-sm small">{{ timeAgo(notification.createdAt) }}</span>
                </div>
                {% else %}
                <div class="my-5 mx-3 text-center">
                    <span class="fa fa-bell-slash text-warning mb-3"></span>
                    <p>{{ 'No notification available right now'|trans }}</p>
                    <p class="pt-2 pb-3 small">{{ 'if they arrive, it will be shown here'|trans }}</p>
                </div>
                {% endfor %}

                {% if count(notifications) > 0 %}
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_admin_notification_index') }}" class="dropdown-item dropdown-footer">
                    {{ 'See All Notifications'|trans }}</a>
                {% endif %}
            </div>
        </li>
    </ul>

    <a href="#" class="nav-link" title="{{ 'Logout'|trans }}">
        <i class="fa fa-power-off text-secondary" data-toggle="modal" data-target="#LogoutModalCenter"></i>
    </a>
</nav>

{% include 'admin/user/modal/logout_confirmation.html.twig' %}