<aside class="main-sidebar sidebar-dark-primary elevation-4">

    {% set cUri = app.request.get('_route') %}

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if profile is defined and profile %}
                <img src="{{ asset('assets/uploads/avatar/' ~ profile.name) }}" class="img-circle"
                    alt="User Image">
                {% endif %}
            </div>
            <div class="info">
                <a href="{{ path('app_profile_index') }}" class="d-block">{{ app.user.username|capitalize }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{{ path('app_admin_index') }}" class="nav-link bg-warning">
                        <i class="nav-icon fas fa-tachometer-alt fs-15"></i>
                        <p>{{ 'Dashboard'|trans }}</p>
                    </a>
                </li>

                <li class="nav-header sidebar-header sm-d-none">{{ 'CONTENTS'|trans }}</li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}

                {% set isUserTreeOpen = 'app_admin_user_setting_index' == cUri or
                'app_admin_user_deleted_accounts_index' == cUri or
                'app_admin_user_disabled_accounts_index' == cUri or
                'app_admin_user_index' == cUri
                %}
                <li class="nav-item {{ isUserTreeOpen ? 'menu-is-opening menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users fs-15"></i>
                        <p>
                            {{ 'Users'|trans }}
                            <i class="right fas fa-angle-left fs-15"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview {{ isUserTreeOpen == cUri ? 'active' : '' }}">
                        <li class="nav-item {{ 'app_admin_user_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_user_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-success fs-15"></i>
                                <p>{{ 'Users'|trans }}</p>
                            </a>
                        </li>
                        <li
                            class="nav-item {{ 'app_admin_user_disabled_accounts_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_user_disabled_accounts_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning fs-15"></i>
                                <p>{{ 'Accounts Disabled'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_user_deleted_accounts_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_user_deleted_accounts_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger fs-15"></i>
                                <p>{{ 'Accounts Deleted'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_user_setting_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_user_setting_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-info fs-15"></i>
                                <p>{{ 'Setting'|trans }}</p>
                            </a>
                        </li>
                    </ul>
                </li>

                {% set isContactTreeOpen = 'app_admin_contacts_index' == cUri or
                'app_admin_contacts_archived_index' == cUri or
                'app_admin_contacts_deleted_contacts_index' == cUri
                %}

                <li class="nav-item {{ isContactTreeOpen ? 'menu-is-opening menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-envelope fs-15"></i>
                        <p>
                            {{ 'Contacts'|trans }}
                            <i class="fas fa-angle-left right fs-15"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview {{ isContactTreeOpen == cUri ? 'active' : '' }}">
                        <li class="nav-item {{ 'app_admin_contacts_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_contacts_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-success fs-15"></i>
                                <p>{{ 'Messages'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_contacts_archived_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_contacts_archived_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning fs-15"></i>
                                <p>{{ 'Archived'|trans }}</p>
                            </a>
                        </li>
                        <li
                            class="nav-item {{ 'app_admin_contacts_deleted_contacts_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_contacts_deleted_contacts_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger fs-15"></i>
                                <p>{{ 'Deleted'|trans }}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% set isBlogTreeOpen = 'app_admin_blog_authers_index' == cUri or
                'app_admin_blog_categories_index' == cUri or
                'app_admin_blog_articles_index' == cUri or
                'app_admin_blog_tags_index' == cUri or
                'app_admin_blog_social_share_links_index' == cUri %}

                <li class="nav-item {{ isBlogTreeOpen ? 'menu-is-opening menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blog fs-15"></i>
                        <p>
                            {{ 'Blog'|trans }}
                            <i class="fas fa-angle-left right fs-15"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview {{ isBlogTreeOpen == cUri ? 'active' : '' }}">
                        <li class="nav-item {{ 'app_admin_blog_authers_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_blog_authers_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-success fs-15"></i>
                                <p>{{ 'Authers'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_blog_categories_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_blog_categories_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger fs-15"></i>
                                <p>{{ 'Categories'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_blog_tags_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_blog_tags_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning fs-15"></i>
                                <p>{{ 'Tags'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_blog_articles_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_blog_articles_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-info fs-15"></i>
                                <p>{{ 'Articles'|trans }}</p>
                            </a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li
                            class="nav-item {{ 'app_admin_blog_social_share_links_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_blog_social_share_links_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-secondary fs-15"></i>
                                <p>{{ 'Social Links'|trans }}</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% set isNewsletterTreeOpen = 'app_admin_newsletter_subscribers_index' == cUri %}

                <li class="nav-item {{ isNewsletterTreeOpen ? 'menu-is-opening menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-newspaper fs-15"></i>
                        <p>
                            {{ 'Newsletter'|trans }}
                            <i class="fas fa-angle-left right fs-15"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview {{ isNewsletterTreeOpen == cUri ? 'active' : '' }}">
                        <li
                            class="nav-item {{ 'app_admin_newsletter_subscribers_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_newsletter_subscribers_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-success fs-15"></i>
                                <p>{{ 'Subscribers'|trans }}</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {{ 'app_admin_notification_index' == cUri ? 'menu-open' : '' }}">
                    <a href="{{ path('app_admin_notification_index') }}" class="nav-link">
                        <i class="fas fa-bell nav-icon fs-15"></i>
                        <p>{{ 'Notifications'|trans }}</p>
                    </a>
                </li>

                <li class="nav-header sidebar-header sm-d-none">{{ 'SECTIONS'|trans }}</li>

                <li class="nav-item {{ 'app_admin_teams_index' == cUri ? 'menu-open' : '' }}">
                    <a href="{{ path('app_admin_teams_index') }}" class="nav-link">
                        <i class="fas fa-user-friends nav-icon"></i>
                        <p>{{ 'Teams'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'app_admin_references_index' == cUri ? 'menu-open' : '' }}">
                    <a href="{{ path('app_admin_references_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-images fs-15"></i>
                        <p class="text">{{ 'References'|trans }}</p>
                    </a>
                </li>

                <li class="nav-item {{ 'app_admin_testimonial_index' == cUri ? 'menu-open' : '' }}">
                    <a href="{{ path('app_admin_testimonial_index') }}" class="nav-link">
                        <i class="fas fa-quote-left nav-icon fs-15"></i>
                        <p>{{ 'Testimonials'|trans }}</p>
                    </a>
                </li>

                {% if isFaqEnalbed() %}
                <li class="nav-item {{ 'app_admin_faq_index' == cUri ? 'menu-open' : '' }}">
                    <a href="{{ path('app_admin_faq_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-question fs-15"></i>
                        <p class="text">{{ 'Fa Questions'|trans }}</p>
                    </a>
                </li>
                {% endif %}

                <li class="nav-header sidebar-header sm-d-none">{{ 'EXTRA'|trans }}</li>

                {% set isSystemLogTreeOpen = 'app_admin_log_index' == cUri or
                'app_admin_system_logs_archive_index' == cUri
                %}

                <li class="nav-item  {{ isSystemLogTreeOpen ? 'menu-is-opening menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file fs-15"></i>
                        <p>
                            {{ 'System Logs'|trans }}
                            <i class="fas fa-angle-left right fs-15"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview  {{ isNewsletterTreeOpen == cUri ? 'active' : '' }}">
                        <li class="nav-item {{ 'app_admin_log_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_log_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger fs-15"></i>
                                <p>{{ 'Logs'|trans }}</p>
                            </a>
                        </li>
                        <li class="nav-item {{ 'app_admin_system_logs_archive_index' == cUri ? 'item-active' : '' }}">
                            <a href="{{ path('app_admin_system_logs_archive_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning fs-15"></i>
                                <p>{{ 'Archived'|trans }}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

            </ul>
        </nav>

    </div>
</aside>