<div class="modal fade" id="infoAutherModal" tabindex="-1" role="dialog" aria-labelledby="infoAutherModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoAutherModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Auther'|trans }}:</h5>
                    <ul>
                        <li>{{ 'To give the user Role Editor, please do it in users setting'|trans }}</li>
                        <li>{{ 'Before you remove the Editor Role, please transfar his/her Articles to another Auther.' }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>