{% if tags is defined and tags %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Name'|trans }}</th>
                <th scope="col">{{ 'Updated'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tags %}
            <tr class="tr-over-bg font-size-14">
                <td>{{ row.name|capitalize }}</td>

                <td title="{{ row.updatedAt|date('Y-m-d H:i') }}">{{ timeAgo(row.updatedAt) }}</td>

                <td title="{{ row.createdAt|date('Y-m-d H:i') }}">{{ timeAgo(row.createdAt) }}</td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <form action="{{ path('app_admin_blog_tag_delete', {id: row.id}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span class="text-primary pointer mr-3" onclick="this.closest('form').submit();">
                                <span class="fa fa-trash fa-sm text-danger pointer mr-3" 
                                    title="{{ 'Delete'|trans }} ({{ row.name|capitalize }} Tag)">
                                </span>
                            </span>
                            <input type="hidden" value="{{ row.id }}" name="id">
                            <input type="hidden" value="{{ backToRoute is defined ? backToRoute : '' }}" name="route">
                        </form>
                    {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
    {% include 'admin/component/no_data_found.html.twig' %}
{% endif %}