{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Notifications'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="m-0 pt-1 h4-title">{{ 'Notifications'|trans }}</h4>
            </div>
            <div class="col-8">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="breadcrumb float-right mt-1">
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#notificationModal"
                        title="{{ 'Add Notification'|trans }}">
                        <span class="fas fa-plus text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Notification'|trans }}</span>
                    </button>

                    {% if allNotifications is defined and allNotifications %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteAllNotificationModal" title="{{ 'Delete all Notifications'|trans }}">
                        <span class="fas fa-trash text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoNotificationsModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/notification/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if users is defined and users %}
{% include 'admin/notification/modal/add_notification.html.twig' with {users:users} %}
{% include 'admin/notification/modal/delete_one_or_all.html.twig' %}
{% include 'admin/notification/modal/delete_all.html.twig' %}
{% include 'admin/notification/modal/general_infos.html.twig' %}
{% endif %}

{% endblock %}