{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Notification Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Notification Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if notification is defined and notification %}
                    <a href="{{ path('app_admin_notification_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            
            {% if notification is defined and notification and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-12">
                <div class="bg-white pl-3 pr-3 pt-3 pb-3">
                    {% set email = notification.user.email %}
                    <p><span class="text-bold mr-2">{{ 'User'|trans }}:</span>
                        {{ notification.user.username|capitalize }}
                        <span title="{{ email }}">({{ secureEmail(email) }})</span>
                    </p>
                    <p><span class="text-bold mr-2">{{ 'Subject'|trans }}:</span>{{ notification.subject }}</p>
                    <p><span class="text-bold mr-2">{{ 'Message'|trans }}:</span>{{
                        replaceLinkWithHref(notification.message)|raw }}</p>
                    <p title="{{ notification.createdAt|date }}"><span class="text-bold mr-2">{{ 'Created at'|trans
                            }}:</span>{{ notification.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>

                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                        routeName: 'app_admin_notification_index',
                        linkText: 'Back to Notifications'|trans
                    } %}
                </div>
            </div>
            {% endif %}
            
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}