{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit Auther Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit Auther Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if auther is defined and auther %}
                        <a href="{{ path('app_admin_blog_authers_index') }}">
                            <span class="fa fa-window-close fa-lg text-secondary pointer" title="{{ 'Close'|trans }}"></span>
                        </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if auther is defined and auther %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_blog_auther_store') }}" method="post">

		    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="form-group">
                        <label for="inputName">{{ 'Username'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputName" name="username"
                            placeholder="{{ 'Enter username'|trans }}" value="{{ auther.username }}" required>
                        <small class="text-muted">This will not change your username account and will be public.</small>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="inputAbout">{{ 'About Auther'|trans }}: <span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" id="inputAbout" name="about"
                            placeholder="{{ 'Type description'|trans }}" required>{{ auther.about }}</textarea>
                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="form-group">
                        <label for="inputCount">{{ 'Article Count'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputCount" name="count"
                            placeholder="{{ 'Enter count'|trans }}" value="{{ auther.articlesCount }}" required>
                    </div>
                    {% else %}
                        <input type="hidden" name="count" value="{{ auther.articlesCount }}">
                    {% endif %}

                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="isProfilePublic" name="isProfilePublic"
                            {{ auther.isProfilePublic ? 'checked' : '' }}>
                        <label class="form-check-label" for="isProfilePublic">
                            {{ 'User profile, such as username, about-author and avatar on articles, are displayed publicly if this checked. If not, then it will be shown anonymously.'|trans }}
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-dark">{{ 'Save Changes'|trans }}</button>

                    <input type="hidden" value="{{ route }}" name="route">
                    <input type="hidden" value="{{ auther.id }}" name="id">
                    <input type="hidden" value="{{ auther.user.id }}" name="uId">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Auther'|trans }}:</span>
                        {{ auther.username }} ({{auther.user.email}}) # {{ auther.id }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'About Auther'|trans }}:</span>
                        {{ auther.about }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Cout Articles written by Auther'|trans }}:</span>
                        {{ auther.articlesCount }}
                    </p>

                    <p title="{{ auther.updatedAt|date }}"><span class="text-bold mr-2">
                        {{ 'Updated at'|trans }}:</span>{{ auther.updatedAt|date('Y-m-d H:i:s') }}
                    </p>

                    <p title="{{ auther.createdAt|date }}"> <span class="text-bold mr-2">
                        {{ 'Created at'|trans }}:</span>
                        {{ auther.createdAt|date('Y-m-d H:i:s') }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                        routeName: 'app_admin_blog_authers_index',
                        linkText: 'Back to Authers'|trans
                    } %}
                </div>
            </div>
            {% else %}
                {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}
