{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Authers'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Authers'|trans }}</h4>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-right">
                    {% if authers is defined and authers and is_granted('ROLE_SUPER_ADMIN') %}
                        <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoAutherModal">
                            <span class="fa fa-info-circle text-info pointer"></span>
                            <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                        </button>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/blog/auther/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/blog/auther/modal/infos.html.twig' %}

{% endblock %}