{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Team Member Details'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Team Member Details'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if team is defined and team %}
                    <a href="{{ path('app_admin_teams_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if team is defined and team %}
            <div class="col-md-6">
                <form class="pb-3" action="{{path('app_admin_team_store')}}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputFirstName">{{ 'First Name'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                    placeholder="{{ 'First Name (required)'|trans }}" value="{{ team.firstName }}"
                                    required>
                            </div>

                            <div class="form-group col">
                                <label for="inputLastName">{{ 'Last Name'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputLastName" name="lastName"
                                    placeholder="{{ 'Last Name (required)'|trans }}" value="{{ team.lastName }}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPositionName">{{ 'Position'|trans }}: <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputPositionName" name="position"
                            placeholder="{{ 'Position (required)'|trans }}" value="{{ team.position }}" required>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="inputEmail">{{ 'Email'|trans }}:</label>
                            <input type="text" class="form-control" id="email" name="email"
                                placeholder="{{ 'Email (optional)'|trans }}" value="{{ team.email }}">
                        </div>

                        <div class="form-group col">
                            <label for="inputPhone">{{ 'Phone'|trans }}:</label>
                            <input type="text" class="form-control" id="inputPhone" name="phone"
                                placeholder="{{ 'Phone (optional)'|trans }}" value="{{ team.phone }}">
                        </div>
                    </div>

                    <div class="form-group form-check mt-2">
                        <input type="checkbox" class="form-check-input" {{ team.isActive ? 'checked' : '' }}
                            id="isActive" name="isActive">
                        <label class="form-check-label" for="isActive">
                            {{ 'Update [isPublished] flag'|trans }}
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="removeAvatar" name="removeAvatar">
                        <label class="form-check-label" for="removeAvatar">
                            {{ 'Remove Image'|trans }}
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isDeleted" name="isDeleted">
                        <label class="form-check-label" for="isDeleted">{{ 'Delete team member permenently'|trans
                            }}</label>
                    </div>

                    <button type="submit" class="btn btn-dark mt-2">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="avatar" value="{{ team.image }}">
                    <input type="hidden" value="{{ team.id }}" name="id">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">

                    <div class="py-3">
                        <img src="{{ asset('assets/img/team/' ~ team.image) }}" alt="" height="120" width="120">

                        <div class="pointer rounded-pill float-right" style="width: 43px; background-color: #fafafa;">
                            <span class="fa fa-plus fa-sm p-3 text-warning" title="{{'upload image 375x375'}}"
                                data-toggle="modal" data-target="#uploadImageModal"></span>
                        </div>
                    </div>

                    <p><span class="text-bold mr-2">{{ 'First Name'|trans }}:</span>
                        {{ team.firstName|capitalize }}
                        # {{ team.id }}</p>

                    <p><span class="text-bold mr-2">{{ 'Last Name'|trans }}:</span>
                        {{ team.lastName|capitalize }}</p>

                    <p><span class="text-bold mr-2">{{ 'Email'|trans }}:</span>
                        {{ team.email ? team.email|capitalize : dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Telephone'|trans }}:</span>
                        {{ team.phone ? team.phone : dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Position'|trans }}:</span>
                        {{ team.position|capitalize }}</p>

                    <p><span class="text-bold mr-2">{{ 'Is Active'|trans }}:</span>
                        {{ team.isActive ? faThumbsUp() : faThumbsDown() }}</p>

                    <p title="{{ team.updatedAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Updated at'|trans }}:</span>{{ team.updatedAt|date }}
                    </p>

                    <p title="{{ team.createdAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Created at'|trans }}:</span>{{ team.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_teams_index',
                    linkText: 'Back to Teams'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/team/modal/upload_image.html.twig' %}

{% endblock %}