{% if name is defined and name %}
    {% set switchId = hash() %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="{{ switchId }}"
               name="{{ name }}"
               {{ asSubmit is defined and asSubmit ? 'onclick="this.closest(\'form\').submit();"'|raw : '' }}
               {{ checked is defined and checked ? 'checked' : '' }}>
        <label class="form-check-label" for="{{ switchId }}">
            {{ text is defined ? text : '' }}
            {% if required is defined and required %}
                <span class="text-danger">*</span>
            {% endif %}
        </label>
    </div>
{% endif %}