{% extends 'base.html.twig' %}

{% block title %} {{ appName() }} :: {{ categoryTitle is defined ? categoryTitle|capitalize : '' }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

<header class="bg-light mb-4">
    <div class="container py-2">
        <div class="row pt-2 d-flex">
            <div class="col-4">
                <h4>Blog</h1>
            </div>
            <div class="col-8">
                <div class="pt-1 float-end">
                    <p>
                        <a href="#">Home</a> <span class="pe-2 ps-2">/</span> Blog
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <div class="row row-cols-1 row-cols-md-2 g-4 g-lg-4 mb-3">
                
                {% if articles is defined and articles %}
                    {% for article in articles %}
                        {% include 'blog/partial/article_read_more.html.twig' %}
                    {% endfor %}
                {% else %}
                    {% include 'blog/partial/no_data.html.twig' %}
                {% endif %}

            </div>

            {% include 'blog/partial/pagination_for_articles.html.twig' with {'uri': app.request.get('_route')} %}
            
        </div>

        {% include 'blog/partial/blog_sidebar.html.twig' %}

    </div>
</div>


{% include 'layout/footer.html.twig' %}

{% endblock %}