{% extends 'base.html.twig' %}

{% block title %} {{ appName() }} :: {{ searchTerm }} {% endblock %}

{% block body %}

{% include 'layout/header.html.twig' %}

<header class="bg-light mb-4">
    <div class="container py-2">
        <div class="row pt-2 d-flex">
            <div class="col-4">
                <h4>Blog</h1>
            </div>
            <div class="col-8">
                <div class="pt-1 float-end">
                    <p>
                        <a href="#">Home</a> <span class="pe-2 ps-2">/</span> Blog
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <h3 class="mb-5">Search Result for "<i class="text-muted">{{ searchTerm }}</i>"</h3>

            {% if articles is defined and articles %}
                {% for article in articles %}
                    <a href="{{ path('app_blog_view', {slug:slug(article.title)}) }}">
                        <h4>{{ article.title }}</h4>
                    </a>

                    <p>{{ stripTags(article.content|raw)|slice(0, 120) ~ '...' }}</p>

                    <small class="text-secondary">
                        {% if article.auther.isProfilePublic %}
                            <span class="bi bi-person-circle pe-1"></span> {{ article.auther.username|capitalize }}
                            <span class="ps-2 pe-2">|</span>
                        {% endif %}
                        <span class="bi bi-calendar-date pe-1 ms-2"></span> {{ article.updatedAt|date('M. d Y') }}
                        <span class="ps-2 pe-2">|</span>
                        <span class="bi bi-clock pe-1 ms-2"></span> {{ article.readTime }} Read
                    </small>

                    <hr style="color: #ccc;">
                {% endfor %}
            {% else %}
                <p>No search results for your keyword ..</p>
            {% endif %}

        </div>

        {% include 'blog/partial/blog_sidebar.html.twig' %}

    </div>
</div>


{% include 'layout/footer.html.twig' %}

{% endblock %}