{% extends 'base.html.twig' %}

{% block title %} {{ appName() }} :: {{ article is defined and article ? article.title : '' }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<header class="bg-light mb-4">
    <div class="container py-2">
        <div class="row pt-2 d-flex">
            <div class="col-4">
                <h4>Blog Details</h1>
            </div>
            <div class="col-8">
                <div class="pt-1 float-end">
                    <p>
                        <a href="#">Home</a>
                        <span class="pe-2 ps-2">/</span>
                        <a href="#">Blog</a>
                        <span class="pe-2 ps-2">/</span>
                        Blog Details
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

        {% if article is defined and article %}
            <div class="col-lg-8">
                <div class="card mb-4 box-shadow">
                    <div title="{{article.title}}">
                        <img class="card-img-top" width="850" height="350"
                            src="{{ asset('assets/uploads/article/' ~ article.headImage) }}" alt="{{article.title}}">
                    </div>
                    <div class="card-body">
                        <div class="small text-muted">
                            <span class="bi bi-calendar-date me-1"></span> {{article.updatedAt|date('M. d Y')}}
                            <span class="ps-3 pe-3 text-secondary">|</span>
                            <span class="bi bi-clock me-1"></span> {{article.readTime}} Read
                        </div>

                        <h2 class="card-title my-2">{{article.title}}</h2>

                        <div class="ql-container ql-snow">
                            <div class="ql-editor">{{ article.content|raw }}</div>
                        </div>

                        <hr style="color: #ccc;">

                        <p class="pt-2">
                            <span class="bi bi-layers me-1"></span>{{article.category.title|capitalize}}
                            <span class="ps-3 pe-3 text-secondary">|</span>
                            <span class="bi bi-tags me-1"></span>{{article.tags}}
                        </p>
                    </div>
                </div>

                {% include 'blog/partial/social_share_links.html.twig' %}

                {% if auther is defined and auther and auther.isProfilePublic %}
                    {% include 'blog/partial/about_auther.html.twig' %}
                {% endif %}

                {% if article.isCommentsAllowed %}
                    <div class="mt-4 mb-4">
                        {% include 'blog/partial/comment_system.html.twig' %}
                    </div>
                {% endif %}

                {% if relatedPosts is defined and relatedPosts %}
                    {% include 'blog/partial/article_related_posts.html.twig' %}
                {% endif %}
            </div>
        {% endif %}

        {% include 'blog/partial/blog_sidebar.html.twig' %}

    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}