{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="newTagModal" tabindex="-1" role="dialog" aria-labelledby="newTagModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="newTagModalLabel">{{ 'Add new Tag'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_blog_tag_new') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputTageName">Tag Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputTageName"
                            placeholder="{{ 'Type Tag name'|trans }}" name="name" required autofocus>
                        <small class="text-muted">{{ 'Min. 3 Chars'|trans }}</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Add Tag'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}