<div class="modal fade" id="infoTagModal" tabindex="-1" role="dialog" aria-labelledby="infoTagModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoTagModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Tag'|trans }}:</h5>
                    <ul>
                        <li>{{ 'When Auther add a new Article, the already defined Tags can be used.'|trans }}</li>
                        <li>{{ 'Auther can add new Tag in his Article, the Admin should then add it to exisitance Tags.' }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>