{% if references is defined and references %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-bg">
                <tr class="font-size-14">
                    <th scope="col">{{ 'Image'|trans }}</th>
                    <th scope="col">{{ 'Published'|trans }}</th>
                    <th scope="col">{{ 'Title'|trans }}</th>
                    <th scope="col">{{ 'Url'|trans }}</th>
                    <th scope="col">{{ 'Modified'|trans }}</th>
                    <th scope="col">{{ 'Created'|trans }}</th>
                    <th scope="col">{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {% for row in references %}

                <tr class="tr-over-bg font-size-14">
                    <td>
                        <img src="{{ asset('assets/img/ref/' ~ row.refImage) }}" alt="" height="28" width="28">
                    </td>

                    <td>{{ row.isPublished ? faThumbsUp() : faThumbsDown() }}</td>

                    <td>{{ row.title ? row.title|slice(0, 15) ~ '...'|capitalize : dash() }}</td>

                    <td>
                        {% if row.url %}
                        <a href="{{row.url}}">
                            <span class="fa fa-external-link-alt fa-sm ms-1" title="{{row.url}}"></span>
                        </a>
                        {% else %}
                        {{dash()}}
                        {% endif %}
                    </td>

                    <td><span title="{{ row.updatedAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(row.updatedAt) }}
                        </span>
                    </td>

                    <td><span title="{{ row.createdAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(row.createdAt) }}
                        </span>
                    </td>

                    <td class="d-flex">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_references_show', {id:row.id}) }}">
                            <span class="fa fa-edit text-primary pointer mr-3"
                                title="{{ 'View & Edit?'|trans }}"></span>
                        </a>
                        {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}