<div class="modal fade" id="infoCategoryModal" tabindex="-1" role="dialog" aria-labelledby="infoCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoCategoryModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Category'|trans }}:</h5>
                    <ul>
                        <li>{{ 'Adding new Category will appear in the sidebar'|trans }}</li>
                        <li>{{ 'RelatedArticlesCount means how many Articles belong to x Category' }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>