{% if teams is defined and teams %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-bg">
                <tr class="font-size-14">
                    <th scope="col">{{ 'Image'|trans }}</th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Surname'|trans }}</th>
                    <th scope="col">{{ 'Email'|trans }}</th>
                    <th scope="col">{{ 'Phone'|trans }}</th>
                    <th scope="col">{{ 'Postion'|trans }}</th>
                    <th scope="col">{{ 'Active'|trans }}</th>
                    <th scope="col">{{ 'Modified'|trans }}</th>
                    <th scope="col">{{ 'Created'|trans }}</th>
                    <th scope="col">{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {% for row in teams %}

                <tr class="tr-over-bg font-size-14">
                    <td>
                        <img src="{{ asset('assets/img/team/' ~ row.image) }}" class="sm-img" alt="..."
                            onclick="window.open(this.src)">
                    </td>

                    <td>{{ row.firstName|capitalize }}</td>

                    <td>{{ row.lastName|capitalize }}</td>

                    <td>
                        {% if row.email %}
                        <span class="fa fa-envelope text-secondary" title=" {{ row.email }}"></span>
                        {% else %}
                        {{dash()}}
                        {% endif %}
                    </td>

                    <td>
                        {% if row.phone %}
                        <span class="fa fa-phone text-warning" title=" {{ row.phone }}"></span>
                        {% else %}
                        {{dash()}}
                        {% endif %}
                    </td>

                    <td>{{ row.position|capitalize }}</td>

                    <td>{{ row.isActive ? faThumbsUp() : faThumbsDown() }}</td>

                    <td><span title="{{ row.updatedAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(row.updatedAt) }}
                        </span>
                    </td>

                    <td><span title="{{ row.createdAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(row.createdAt) }}
                        </span>
                    </td>

                    <td class="d-flex">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_team_show', {id:row.id}) }}">
                            <span class="fa fa-edit text-primary pointer mr-3" title="{{ 'View & Edit?'|trans }}"></span>
                        </a>
                        {% else %}
                        {% include 'admin/component/no_permission.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}