{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="testimonialModalLabel">{{ 'Add New Testimonial'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_testimonial_new') }}" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    placeholder="{{ 'First Name'|trans }} *" autofocus required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    placeholder="{{ 'Last Name'|trans }} *" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="position" id="position"
                                    placeholder="{{ 'Position'|trans }} *" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input class="form-control upload-avatar" type="file" id="formFile" name="avatar"
                                    title="{{ 'Upload User Image 70x70'|trans }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="description" name="description" rows="3"
                            placeholder="{{ 'Testimonial'|trans }} *" required></textarea>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isPublished" name="isPublished">
                        <label class="form-check-label" for="isPublished">
                            {{ 'Publish this Testimonial directly after create'|trans}}</label>
                    </div>

                    <div class="mb-2 text-right">
                        <small class="text-info">Fields with (*) are required.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Add Testimonial'|trans }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}