{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteTestimonialModal" tabindex="-1" role="dialog" aria-labelledby="deleteTestimonialLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteTestimonialLabel">
                    {{ 'Delete Un-Published Testimonials'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_testimonial_delete') }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            {{'Delete all of them permanentely that have not been published yet or has been deleted?'|trans }}
                        </p>

                        {% include 'component/form_current_password_field.html.twig' %}

                        {% include 'admin/component/action_undone_info.html.twig' %}
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light sm-d-none" data-dismiss="modal">{{ 'Cancel'|trans
                        }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                    <input type="hidden" id="nId" name="tId">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}