<!-- Info Testimonial Modal -->
<div class="modal fade" id="infoTestimonialModal" tabindex="-1" role="dialog"
    aria-labelledby="infoTestimonialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoTestimonialModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Testimonial'|trans }}:</h5>
                    <ul>
                        <li>{{ 'Search is not availabe.'|trans }}</li>
                        <li>{{ 'No Pagination implemented'|trans }}</li>
                        <li>{{ 'The Testimonial will be published when the flag [isPublished] true is'|trans }}</li>
                        <li>{{ 'The Testimonial that has [isDeleted] flag will not be seen (published)'|trans }}</li>
                        <li>{{ 'You can delete all Testimonial that have the [isDeleted] flag at once'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>