{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit or Delete Social Link'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 class="m-0 h4-title">{{ 'Edit or delete Social Link'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if socialLink is defined and socialLink %}
                        <a href="{{ path('app_admin_blog_social_share_links_index') }}">
                            <span class="fa fa-window-close fa-lg text-secondary pointer" title="{{ 'Close'|trans }}"></span>
                        </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            {% if socialLink is defined and socialLink %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_blog_social_share_links_store') }}" method="post">
                    <div class="form-group">
                        <label for="inputName">{{ 'Name'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputName" name="name"
                            placeholder="{{ 'Enter name (required)'|trans }}" value="{{ socialLink.name }}" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputIcon">{{ 'Icon'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputIcon" name="icon"
                            placeholder="{{ 'Enter icon (required)'|trans }}" value="{{ socialLink.icon }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputColor">{{ 'Logo-color'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputColor" name="color"
                            placeholder="{{ 'Enter color (required)'|trans }}" value="{{ socialLink.color }}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputColor">{{ 'URL'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputColor" name="url"
                            placeholder="{{ 'Enter url (required)'|trans }}" value="{{ socialLink.url }}" required>
                    </div>

                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="del" name="delete">
                        <label class="form-check-label" for="del">
                            {{ 'Delete this social link'|trans }}
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-dark">{{ 'Submit'|trans }}</button>

                    <input type="hidden" value="{{ socialLink.id }}" name="id">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Name'|trans }}:</span>
                        {{ socialLink.name }} # {{ socialLink.id }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Icon'|trans }}:</span>
                        <span class="bi {{socialLink.icon}}" style="color:{{socialLink.color}};"></span> ({{ socialLink.icon }})
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Logo-color'|trans }}:</span>
                        {{ socialLink.color }}
                   </p>

                   <p><span class="text-bold mr-2">{{ 'URL'|trans }}:</span>
                    {{ socialLink.url }}
                    </p>

                    <p title="{{ socialLink.updatedAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                        {{ 'Updated at'|trans }}:</span>{{ socialLink.updatedAt|date }}
                    </p>

                    <p title="{{ socialLink.createdAt|date('Y-m-d H:i:s') }}"> <span class="text-bold mr-2">
                        {{ 'Created at'|trans }}:</span>
                        {{ socialLink.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                        routeName: 'app_admin_blog_social_share_links_index',
                        linkText: 'Back to Social Links'|trans
                    } %}
                </div>
            </div>
            {% else %}
                {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}