{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Social Media Share Links'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0 pt-1 h4-title">{{ 'Social Media Share Links'|trans }}</h4>
            </div>
            <div class="col-4">
                <ol class="breadcrumb float-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Add new Social Media Share Link'|trans }}"
                        data-toggle="modal" data-target="#newSocialLinkModal">
                        <span class="fa fa-plus fa-sm text-success pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Add new share Link'|trans }}</span>
                    </button>

                    {% if socialLinks is defined and socialLinks %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#exportSocialLinksModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteAllSocialLinksModal">
                        <span class="fa fa-trash text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>
                    {% endif %}

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoSocialModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/blog/social/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/blog/social/modal/add.html.twig' %}
{% include 'admin/blog/social/modal/export.html.twig' %}
{% include 'admin/blog/social/modal/delete_all.html.twig' %}
{% include 'admin/blog/social/modal/infos.html.twig' %}

{% endblock %}