<p class="{{ class is defined ? class : '' }}">
    <a href="{{ routeName is defined ? path(routeName) : '#' }}"
       rel="nofollow,noindex">
        <img src="{{ asset('assets/img/svg/arrow-left.svg') }}" alt="Icon">
        <b class="text-12 ms-1">{{ linkText is defined and linkText ? linkText : 'Back'|trans }}</b>
    </a>
</p>