{% if title is defined and title %}
    <div class="row mb-2">
        <div class="col-8">
            <h4 class="h4-title">{{ title }}</h4>
        </div>
        <div class="col-4" title="{{ 'Close'|trans }}">
            <a href="{{ path(route is defined and route ? route : 'app_profile_index') }}">
                <img src="{{ asset('assets/img/svg/x-circle.svg') }}" class="float-end link" alt="close icon">
            </a>
        </div>
    </div>
{% endif %}