{% set currentPasswordId = hash() %}

<div class="mb-2">
    <label for="{{ currentPasswordId }}" class="col-form-label">{{ 'Current Password'|trans }}: <span
                class="text-danger">*</span></label>
    <input type="password" class="form-control" id="{{ currentPasswordId }}" name="currentPassword"
           placeholder="{{ 'Type current password'|trans }}" required autofocus>
</div>