<img class="form-password-eye" src="{{ asset('assets/img/svg/eye.svg') }}" alt="Eye"
     onclick="showHidePassword();">

<script defer>
    function showHidePassword() {
        let inputPasswordId = '{{ id is defined and id ? id : 'inputPassword' }}',
            input = document.querySelector('#' + inputPasswordId),
            img = document.querySelector('.form-password-eye');
            
        if ("password" === input.type) {
            input.type = "text";
            img.setAttribute('src', '{{ '/assets/img/svg/eye-slash.svg' }}');
        } else {
            input.type = "password";
            img.setAttribute('src', '{{ '/assets/img/svg/eye.svg' }}');
        }
    }
</script>
