<a data-bs-toggle="collapse" href="#{{ id }}" role="button"
   class="float-end {{ class is defined and class ? class : '' }}"
   aria-expanded="false" aria-controls="{{ id }}">
    <img src="{{ asset('assets/img/svg/gray_info_exclamation-circle.svg') }}"
         alt="Info" style="{{ mt is defined and mt ? 'margin-top: ' ~ mt : '' }}">
</a>

<div class="collapse multi-collapse" id="{{ id }}">
    <div class="card card-body" style="border:none; border-left: 1px solid #c7c7c7;">
        <b class="text-14 mb-1">{{ 'Password Requirements'|trans }}:</b>
        - {{ 'min 8, max 255 chars'|trans }}, <br>
        - {{ 'one lowercase alphabetic chars'|trans }},<br>
        - {{ 'one uppercase alphabetic chars'|trans }},<br>
        - {{ 'one numeric chars'|trans }}<br>
        - {{ 'and one special chars'|trans }} $_+%*?=@~!#
    </div>
</div>