{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteCommentsAndRepliesyModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteCommentsAndRepliesyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteCommentsAndRepliesyModalLabel">
                    {{ 'Delete Comments & Replies'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_blog_articles_job_delete_comment_and_its_replies') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="form-group">
                        <p>{{ 'Sure to delete all Comments and Replies Permanently!'|trans }}</p>

                        {% include 'component/form_current_password_field.html.twig' %}

                        {% include 'admin/component/action_undone_info.html.twig' %}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <input type="hidden" value="{{article.id}}" name="id">
                    <button type="submit" class="btn btn-danger">{{ 'Delete them'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}