{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteArticlesModal" tabindex="-1" role="dialog" 
    aria-labelledby="deleteArticlesModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteArticlesModalLabel">
                    {{ 'Delete Articles Permanently'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_blog_article_delete') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="rofm-group">
                        <p>
                            {{'Articles that have been removed with all related comments as well as replies to each comment will be deleted permanently!'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="emptyBin" name="emptyBin" required>
                            <label class="form-check-label" for="emptyBin">
                                {{ 'I confirm'|trans }}
                            </label>
                        </div>
                    </div>

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Empty Bin Now'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}