<div class="modal fade" id="infoArticleModal" tabindex="-1" role="dialog" aria-labelledby="infoArticleModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoArticleModal">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Article'|trans }}:</h5>
                    <ul>
                        <li>{{ 'When Auther add a new Article, the Admin must approve it to be published'|trans }}</li>
                        <li>{{ 'Each Auther will see his/her own Articles'|trans }}</li>
                        <li>{{ 'Published Articles cannot be modified by Editor (Auther)'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>