{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="restoreArticlesModal" tabindex="-1" role="dialog" 
    aria-labelledby="restoreArticlesModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="restoreArticlesModalLabel">
                    {{ 'Restore deleted Articles'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="rofm-group">
                        <p class="text-danger">
                            {{'All removed articles will be restored. Are you sure to do this?'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}
                    <small>No implemented yet!</small>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Restore Now'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}