{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="transferArticlesModal" tabindex="-1" role="dialog"
    aria-labelledby="transferArticlesModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="transferArticlesModalLabel">
                    {{ 'Transfer Articles'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if authers is defined and authers %}
            <form action="{{path('app_admin_blog_articles_job_transfer_articles')}}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="form-group">
                        <p>
                            {{ 'Transfer Articles to another Auther; please make sure that the Articles will be transfered to correct Auther.'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}


                    <div class="form-group">
                        <label for="fromUser">{{ 'From Auther'|trans }}: <span class="text-danger">*</span></label>
                        <select class="form-control" id="fromUser" name="fromAuther">
                            <option value="" selected>---</option>
                            {% for row in authers %}
                            <option value="{{ row.id }}">{{row.username}} ({{row.user.email}}) [{{row.articlesCount}}]</option>
                            {% endfor %}
                        </select>
                        <small class="text-muted">The one who has Article(s)!</small>
                    </div>

                    <div class="form-group">
                        <label for="toUser">{{ 'To Auther'|trans }}: <span class="text-danger">*</span></label>
                        <select class="form-control" id="toUser" name="toAuther">
                            <option value="" selected>---</option>
                            {% for row in authers %}
                            <option value="{{ row.id }}">{{row.username}} ({{row.user.email}}) [{{row.articlesCount}}]</option>
                            {% endfor %}
                        </select>
                        <small class="text-muted">The one who will be owner of Article(s)!</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Transfer Articles'|trans }}</button>
                </div>
            </form>
            {% else %}
            <div class="form-group">
                <p class="text-danger">
                    {{ 'No authers has been found on the system.!'|trans }}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}