{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="updateImageModal" tabindex="-1" role="dialog" aria-labelledby="updateImageLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="updateImageLabel">
                    {{ 'Update Article Image'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{path('app_admin_blog_articles_job_update_image')}}" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">
                    <div class="form-group">
                        <p>The old image of the Article will be deleted permanently!</p>
                    </div>

                    <div class="form-group">
                        <input class="form-control upload-avatar" type="file" id="formFile" name="image"
                            aria-describedby="imageHelpBlock" required>
                        <div id="imageHelpBlock" class="small text-secondary">
                            Image size 850x350 and ext. (.jpg, .jepg or .png)
                        </div>
                    </div>

                    {% include 'admin/component/action_undone_info.html.twig' %}
                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light sm-d-none" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <input type="hidden" value="{{article.id}}" name="id">
                    <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endif %}