<!DOCTYPE html>
{# General one with keywords, descriptions .. #}

{% set __route = app.request.get('_route') %}
{% set home = path('app_home') %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="language" content="en">

    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="sf-template, symfony login, user registration system and Admin Dashboard">
    <meta name="description" content="User registration, user login system, Admin Dashboard and Blog system">
    <meta content="noindex,nofollow" name="robots">

    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ home }}">
    <meta property="og:site_name" content="{{ appName() }}">
    <meta property="og:title" content="{{ appName() }} - sf-template">
    <meta property="og:image" itemprop="image primaryImageOfPage"
          content="{{ asset('assets/img/favicon/android-chrome-192x192.png') }}">

    <meta content="{{ appName() }} - PHP Template built with Symfony Framework v6" name="apple-mobile-web-app-title">
    <meta content="{{ appName() }}" name="application-name">
    <meta name="author" content="{{ appAuthor() }}">
    <meta name="publisher" content="{{ appName() }}"/>
    <meta name="created" content="{{ appCreated() }}"/>
    <meta content="{{ app.request.schemeAndHttpHost }}" itemprop="name"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="notranslate" name="google"/>
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="copyright" content="© {{ year() }} {{ appName() }}"/>
    <link rel="canonical" href="{{ app.request.schemeAndHttpHost }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/android-chrome-192x192.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/android-chrome-384x384.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ asset('assets/img/favicon/apple-touch-icon-precomposed.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('assets/img/favicon/safari-pinned-tab.svg') }}" color="#f94d0a">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{ asset('assets/img/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css?v=5.2') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-icons.css?v=1.9') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css?v=1.0') }}">

        {% if __route == 'app_home' or  __route == 'app_blog_view' %}
            <link href="{{ asset('assets/quill/monokai-sublime.min.css?ver=1.0.0') }}" rel="stylesheet" />
            <link href="{{ asset('assets/quill/quill.snow.css?ver=1.3.6') }}" rel="stylesheet" />
            <link href="{{ asset('assets/quill/quill-style.css?ver=1.0.0') }}" rel="stylesheet" />
        {% endif %}

    {% endblock %}

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset('assets/js/app.min.js?v=5.2') }}"></script>
    
    {% if __route == 'app_blog_view' %}
        <script type="application/javascript" src="{{ asset('assets/quill/highlight.min.js?ver=9.18.1') }}"></script>
        <script type="application/javascript" src="{{ asset('assets/quill/quill.js?ver=1.3.6') }}"></script>
        <script type="application/javascript" src="{{ asset('assets/js/comment.min.js?v=1.0') }}"></script>
    {% endif %}

{% endblock %}

</body>
</html>