{% extends 'base.html.twig' %}

{% block title %} {{ 'Home'|trans }} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<header class="bg-light mb-4">
    <div class="container py-2">
        <div class="row pt-2 d-flex">
            <div class="col-4">
                <h4>Blog</h1>
            </div>
            <div class="col-8">
                <div class="pt-1 float-end">
                    <p>
                        <a href="#">Home</a> <span class="pe-2 ps-2">/</span> Blog
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">

            {% if headArticle is defined and headArticle %}
            <div class="card mb-4 box-shadow">
                <div title="{{headArticle.title}}">
                    <img class="card-img-top" width="850" height="350"
                        src="{{ asset('assets/uploads/article/' ~ headArticle.headImage) }}"
                        alt="{{headArticle.title}}">
                </div>
                <div class="card-body">

                    <div class="small text-muted mb-1">
                        <span class="bi bi-calendar-date me-1"></span> {{headArticle.updatedAt|date('M. d Y')}}
                        <span class="ps-3 pe-3 text-secondary">|</span>
                        <span class="bi bi-clock me-1"></span> {{headArticle.readTime}}
                    </div>


                    <h2 class="card-title">{{headArticle.title}}</h2>

                    {% set text = headArticle.content|raw %}

                    <div class="card-text mb-3">{{ stripTags(headArticle.content)|slice(0, 200)|raw ~ '...' }}</div>

                    <a class="btn btn-primary" href="{{ path('app_blog_view', {slug:slug(headArticle.title)}) }}">
                        Read more →
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="row row-cols-1 row-cols-md-2 g-4 g-lg-4 mb-3">

                {% if articles is defined and articles %}
                {% for article in articles %}
                {% include 'blog/partial/article_read_more.html.twig' %}
                {% endfor %}
                {% endif %}

                {% if headArticle is not defined and articles is not defined %}
                <p class="text-muted" style="margin-bottom: 450px;">No Articles has been found!</p>
                {% endif %}

            </div>

            {% include 'blog/partial/pagination_for_articles.html.twig' with {'uri': app.request.get('_route')} %}

        </div>

        {% if articles is defined and articles %}
        {% include 'blog/partial/blog_sidebar.html.twig' %}
        {% endif %}

    </div>
</div>

{% include 'home/faq_section.html.twig' %}

{% include 'layout/footer.html.twig' %}

{% endblock %}