{% if users is defined and users %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Avatar'|trans }}</th>
                <th scope="col">{{ 'Username'|trans }}</th>
                <th scope="col">{{ 'Email'|trans }}</th>
                <th scope="col">{{ 'Temp Email'|trans }}</th>
                <th scope="col">{{ 'Token'|trans }}</th>
                <th scope="col">{{ 'Otp'|trans }}</th>
                <th scope="col"><span title="{{ 'Login counts'|trans }}">{{ 'Counts'|trans }}</span></th>
                <th scope="col">{{ 'Verified'|trans }}</th>
                <th scope="col"><span title="{{ 'Last logged in'|trans }}">LLI</span></th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>

            {% for user in users %}
            <tr class="tr-over-bg font-size-14">
                <td>
                    {% if user.profile %}
                    <img src="{{ asset('assets/uploads/avatar/' ~ user.profile.name) }}" alt="..." class="sm-img"
                        onclick="window.open(this.src)">
                    {% endif %}
                </td>
                <td>
                    {{ user.username|capitalize }}

                    {% if isAdmin(user) %}
                    <span class="fa fa-user-ninja text-success" title="User is Admin"></span>
                    {% endif %}

                    {% if user.isWriter %}
                    <span class="fa fa-blog text-primary" title="User is Auther"></span>
                    {% endif %}
                </td>
                <td title="{{ user.email }}"><span class="fa fa-envelope text-secondary pointer"></span></td>
                <td>

                    {% if user.tempEmail %}
                    <span title="{{ user.tempEmail }}" class="fa fa-envelope pointer" style="color: #3d9970;"></span>
                    {% else %}
                    {{ dash() }}
                    {% endif %}

                </td>
                <td>{{ user.token ? 'Yes'|trans : dash() }}</td>
                <td>
                    {% if user.getTwoFactorAuths[0].otp %}
                    <span class="code">{{ user.getTwoFactorAuths[0].otp }}</span>
                    {% else %}
                    {{ dash() }}
                    {% endif %}
                </td>
                <td>{{ user.loginCounts }}</td>
                <td>{{ user.verified ? faThumbsUp() : faThumbsDown() }}</td>
                <td title="{{ user.lastLoggedIn|date('Y-m-d H:i') }}">
                    {{ user.lastLoggedIn ? timeAgo(user.lastLoggedIn) : dash() }}
                </td>
                <td title="{{ user.createdAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(user.createdAt) }}
                </td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <form action="{{ path('app_admin_users_edit', {id: user.id}) }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <span class="fa fa-edit fa-sm text-primary pointer mr-3"
                            onclick="this.closest('form').submit();"></span>
                        <input type="hidden" value="{{ backToRoute is defined ? backToRoute : '' }}" name="route">
                    </form>
                    {% if app.request.get('_route') == 'app_admin_user_deleted_accounts_index' %}
                    <div class="pointer mr-3">
                        <span class="fa fa-trash fa-sm text-danger uId" data-toggle="modal"
                            data-target="#deleteUserModal"
                            data-description="{{ backToRoute is defined ? backToRoute : '' }}"
                            data-id="{{ user.id }}"></span>
                    </div>
                    {% endif %}
                    {% else %}
                    {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}