<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Image'|trans }}</th>
                <th scope="col">{{ 'User'|trans }}</th>
                <th scope="col">{{ 'Pagination Limit'|trans }}</th>
                <th scope="col">{{ 'Logs Limit'|trans }}</th>
                <th scope="col">{{ 'Send Log'|trans }}</th>
                <th scope="col">
                    <span title="{{ 'Auto Delete Notifications'|trans }}">{{ 'ADN'|trans }}</span>
                </th>
                <th scope="col">{{ 'Notify User'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>

            {% for setting in userSetting %}
            <tr class="tr-over-bg font-size-14">
                <td>
                    <img src="{{ asset('assets/uploads/avatar/' ~ setting.user.profile.name) }}" alt="..." class="sm-img"
                        onclick="window.open(this.src)">
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <form action="{{ path('app_admin_users_edit', {id:setting.user.id}) }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <span class="text-primary pointer" onclick="this.closest('form').submit();">

                            <span class="mr-1">{{ setting.user.username|capitalize }}</span>

                            {% if isAdmin(setting.user) %}
                            <span class="fa fa-user-ninja text-success" title="User is Admin"></span>
                            {% endif %}

                            {% if setting.user.isDeleted %}
                            <span class="fa fa-user-slash text-danger" title="User has [isDeleted] flag active."></span>
                            {% endif%}

                            {% if setting.user.isDisabled %}
                            <span class="fa fa-user-minus text-warning"
                                title="User has [isDisabled] flag active."></span>
                            {% endif%}

                            {% if setting.user.isWriter %}
                            <span class="fa fa-blog text-primary" title="User is Auther"></span>
                            {% endif %}

                        </span>
                        <input type="hidden"
                            value="{{ backToRoute is defined ? backToRoute : 'app_admin_user_setting_index' }}"
                            name="route">
                    </form>
                    {% else %}
                    {{ setting.user.username|capitalize }}
                    {% endif %}
                </td>
                <td>{{ setting.paginationLimit }}</td>
                <td>{{ setting.logsLimit }}</td>
                <td>{{ setting.logSending ? faThumbsUp() : faThumbsDown() }}</td>
                <td>{{ setting.shouldAutoDeleteNotifications ? faThumbsUp() : faThumbsDown() }}</td>
                <td>{{ setting.isNotificationSending ? faThumbsUp() : faThumbsDown() }}</td>
                <td title="{{ setting.createdAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(setting.createdAt) }}
                </td>

                <td class="d-flex">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_admin_user_setting_show', {id:setting.id}) }}">
                        <span class="fa fa-edit fa-sm text-primary pointer mr-3"></span>
                    </a>
                    {% else %}
                    {% include 'admin/component/no_permission.html.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>