<div class="modal fade" id="newFAQModal" tabindex="-1" role="dialog" aria-labelledby="newFAQModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="newFAQModalLabel">
                    {{ 'New FAQ'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_faq_new') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputTitle">{{ 'Title'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="title" id="inputTitle"
                            placeholder="{{ 'Lorem ipsum dolor sit amet?'|trans }}" autofocus required>
                        <span class="small text-secondary">({{ 'min.5 max.15 Words'|trans }})</span>
                    </div>

                    <div class="form-group">
                        <label for="description">{{ 'Description'|trans }}: <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="description" name="description" rows="7"
                            placeholder="Duis autem vel eum iriure dolor in hendrerit on https://example.de in vulputate velit esse molestie."
                            rows="5" required></textarea>
                        <span class="small text-secondary">({{ 'Description could contain links'|trans }})</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Add FAQ'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>