{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteAllFaqModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllFaqModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteAllFaqModalLabel">
                    {{ 'Delete All FAQs'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{path('app_admin_faq_job_delete_all')}}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="modal-body">

                    <div class="form-group">
                        <p>{{ 'Sure to detete all FAQs Permanently?'|trans }}</p>

                        {% include 'component/form_current_password_field.html.twig' %}

                        {% include 'admin/component/action_undone_info.html.twig' %}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Delete them'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}