<!-- Info Faq Modal -->
<div class="modal fade" id="infoFaqModal" tabindex="-1" role="dialog" aria-labelledby="infoFaqModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoFaqModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Faq'|trans }}:</h5>
                    <ul>
                        <li>{{ 'Search is not availabe.'|trans }}</li>
                        <li>{{ 'No Pagination implemented'|trans }}</li>
                        <li>{{ 'Adding new entry will be published directly'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>