{% if allNotifications is defined and allNotifications %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-bg">
                <tr class="font-size-14">
                    <th scope="col">{{ 'Image'|trans }}</th>
                    <th scope="col">{{ 'User'|trans }}</th>
                    <th scope="col">{{ 'Subject'|trans }}</th>
                    <th scope="col">{{ 'Message'|trans }}</th>
                    <th scope="col">{{ 'Created'|trans }}</th>
                    <th scope="col">{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {% for notification in allNotifications %}

                <tr class="tr-over-bg font-size-14">
                    <td>
                        <img src="{{ asset('assets/uploads/avatar/' ~ notification.user.profile.name) }}" alt="..." class="sm-img"
                            onclick="window.open(this.src)">
                    </td>
                    <td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <form action="{{ path('app_admin_users_edit', {id:notification.user.id}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span class="text-primary pointer" onclick="this.closest('form').submit();">
                                {{ notification.user.username|capitalize }}
                            </span>
                            <input type="hidden"
                                value="{{ backToRoute is defined ? backToRoute : 'app_admin_notification_index' }}"
                                name="route">
                        </form>
                        {% else %}
                            <span>{{ notification.user.username|capitalize }}</span>
                        {% endif %}
                    </td>
                    <td>{{ notification.subject|slice(0, 15) ~ '...' }}</td>
                    <td>
                        <span title="{{ notification.message }}">
                            {{ notification.message|slice(0, 45) ~ '...' }}
                        </span>
                    </td>
                    <td><span title="{{ notification.createdAt|date('Y-m-d H:i') }}">
                            {{ timeAgo(notification.createdAt) }}
                        </span>
                    </td>
                    <td class="d-flex">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_admin_notification_show', {id:notification.id}) }}">
                            <span class="fa fa-eye text-primary pointer mr-3" title="{{ 'View?'|trans }}"></span>
                        </a>
                        <form action="{{ path('app_admin_notification_delete') }}" method="post">
                            <span class="fa fa-trash fa-sm text-danger pointer mr-3 nId" title="{{ 'Delete'|trans }}"
                                data-toggle="modal" data-id="{{ notification.id }}"
                                data-target="#deleteNotificationModal"></span>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="delete" value="on">
                            <input type="hidden" name="nId" value="{{ notification.id }}">
                        </form>
                        {% else %}
                            {% include 'admin/component/no_permission.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

{% else %}
{% include 'admin/component/no_data_found.html.twig' %}
{% endif %}