<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="nofollow,noindex" name="robots"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>

    <title>500 | {{ 'Internal Error'|trans }}</title>

    <style>
        html, body {
            font-family: sans-serif;
            font-style: normal;
            user-select: none;
        }

        b {
            font-size: 17px;
            color: #454545;
        }

        p {
            font-size: 15px;
            color: #454545;
        }

        .txt-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>

</head>
<body>

<div class="txt-center">
    <b>500 | {{ 'Internal Error'|trans }}</b>
    <p>{{ 'Oops! something bad is happened'|trans }}</p>
    <p>{{ 'The Error has been sent, and it will be fixed asap'|trans }}.</p>
</div>

</body>
</html>