{% if faq is defined and faq %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-head-bg">
            <tr class="font-size-14">
                <th scope="col">{{ 'Title'|trans }}</th>
                <th scope="col">{{ 'Description'|trans }}</th>
                <th scope="col">{{ 'Created'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>

            {% for row in faq %}
            <tr class="tr-over-bg font-size-14">
                <td title="{{ row.title }}">{{ row.title|capitalize|slice(0, 15) ~ '...' }}</td>
                <td title="{{ row.description }}">{{ row.description|slice(0, 90) ~ '...' }}</td>
                <td title="{{ row.createdAt|date('Y-m-d H:i') }}">
                    {{ timeAgo(row.createdAt) }}
                </td>

                <td class="d-flex">
                    <a href="{{ path('app_admin_faq_show', {id:row.id}) }}">
                        <span class="fa fa-edit fa-sm text-primary pointer mr-3" title="{{ 'Edit'|trans }}"></span>
                    </a>
                    <div>
                        <span class="fa fa-trash fa-sm text-danger pointer mr-3 fId" title="{{ 'Delete'|trans }}"
                            data-toggle="modal" data-id="{{ row.id }}" data-target="#deleteFaqModal"></span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

{% include 'admin/component/no_data_found.html.twig' %}

{% endif %}