{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="newSocialLinkModal" tabindex="-1" role="dialog" aria-labelledby="newSocialLinkModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="newSocialLinkModalLabel">{{ 'Add new Social share Link'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_blog_social_share_links_new') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iSocialName">Name:</label>
                                <input type="text" class="form-control" id="iSocialName"
                                    placeholder="{{ 'e.g: twitter'|trans }}" name="name" required autofocus>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="iSocialColor mt-0 pt-0">Logo Color:</label>
                                <input type="text" class="form-control" id="iSocialColor"
                                    placeholder="{{ 'e.g: #007bff'|trans }}" name="color" required>
                                    <input type="color" class="float-right" value="#ff5900" title="Choose color" id="color" style="width: 30px; height:25px;border:none;background-color: #fff;margin-top: -32px; margin-right: 10px;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="iSocialIcon">Icon:</label>
                        <span class="float-end float-right">
                            <a href="https://icons.getbootstrap.com/" class="float-end" target="_blank">Bootstrap-icons?</a>
                        </span>
                        <input type="text" class="form-control" id="iSocialIcon"
                            placeholder="{{ 'e.g: bi-twitter'|trans }}" name="icon" required>
                    </div>

                    <div class="form-group">
                        <label for="iSocialUrl">URL:</label>
                        <input type="text" class="form-control" id="iSocialUrl"
                            placeholder="{{ 'Type url'|trans }}" name="url" required>
                        <small class="text-secondary">Examples:
                            <ul>
                                <li>https://twitter.com/intent/tweet?url=URL&text=TEXT</li>
                                <li>https://www.facebook.com/sharer/sharer.php?u=URL</li>
                                <li>https://pinterest.com/pin/create/button/?url=URL&description=TEXT</li>
                                <li>https://www.linkedin.com/shareArticle?mini=true&url=URL</li>
                                <li>mailto:?&subject=TEXT&body=URL</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Add new Link'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let iColor = document.getElementById("color");
    iColor.onchange = function() {
        document.getElementById("iSocialColor").value = iColor.value
    }
</script>

{% endif %}