<div class="modal fade" id="infoSocialModal" tabindex="-1" role="dialog" aria-labelledby="infoSocialModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoSocialModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Social Share-Links'|trans }}:</h5>
                    <ul>
                        <li>{{ 'There are enough Infos on *Add new Share-Link* Modal - take a look'|trans }}</li>
                        <li>{{ 'There are only two placeholder: TEXT and URL'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>