<p class="{{ class is defined ? class : '' }}">
    <a href="{{ routeName is defined ? path(routeName) : '#' }}" rel="nofollow,noindex">
        <span class="fa fa-arrow-left text mr-2"></span>
        <span class="text">{{ linkText is defined and linkText ? linkText : 'Back'|trans }}</span>
    </a>
</p>