{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="archiveContactModal" tabindex="-1" role="dialog" aria-labelledby="archiveContactModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="archiveContactModalLabel">{{ 'Archive Contact'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_contact_archive') }}" method="post">
                <div class="modal-body">
                    <p class="text-muted">{{ 'Are you sure to archive Contact?'|trans }}
                        <br> <span class="code">IS_ARCHIVED = true</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-secondary">{{ 'Archive'|trans }}</button>
                    <input type="hidden" name="contactId" id="contactId">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}