{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="archiveAllModal" tabindex="-1" role="dialog" aria-labelledby="archiveAllModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="archiveAllModalLabel">
                    {{ 'Archive all Messages'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_contacts_job_archive_all') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="form-group">
                        <p>{{ 'Are you sure to archive all messages?'|trans }}</p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-secondary">{{ 'Archive them'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}