{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="deleteContactModalPermanently" tabindex="-1" role="dialog"
    aria-labelledby="deleteContactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="deleteContactModalLabel">
                    {{ 'Delete messages'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_contacts_delete_permanently') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">

                    <div class="form-group">
                        <p>
                            {{'The Messages that older than last six months will be deleted permanently.'|trans }}
                        </p>
                    </div>

                    <div class="form-group">
                        <p>{{'Are you sure to execute the job?'|trans }}</p>
                    </div>

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <input type="hidden" name="deleteOlder" value="on">
                    <button type="submit" class="btn btn-warning">{{ 'Clean Up'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}