<!-- Info Contacts Modal -->
<div class="modal fade" id="infoContactsModal" tabindex="-1" role="dialog" aria-labelledby="infoContactsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="infoContactsModalLabel">{{ 'Infos'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="h5-title">{{ 'General Infos related to Contacts'|trans }}:</h5>
                    <ul>
                        <li>{{ 'All IP Address can be deleted from Messages'|trans }}</li>
                        <li>{{ 'Search is not availabe in details Page'|trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>