{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="removeIPsModal" tabindex="-1" role="dialog" aria-labelledby="removeIPsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="removeIPsModalLabel">
                    {{ 'Remove All IPs'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_contacts_clear_its_ip_addresses') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="modal-body">
                   
                    <p>
                        {{'All IP Addresses from all messages will be cleared. This action cannot be undone!'|trans }}
                    </p>
                    
                    <p>{{ 'Are you sure to remove all IPs?'|trans }}</p>

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Remove All IPs'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}