{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="modal fade" id="transformDataModal" tabindex="-1" role="dialog" aria-labelledby="transformDataModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-upper" id="transformDataModalLabel">
                    {{ 'Transform Data'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_admin_contacts_transform') }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="modal-body">

                    <div class="form-group">
                        <p class="pr-1 pl-1">
                            {{ 'This action will transform name and email of contacts that older than last six months.'|trans }}
                        </p>
                    </div>

                    {% include 'component/form_current_password_field.html.twig' %}

                    {% include 'admin/component/action_undone_info.html.twig' %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light cancel" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                    <button type="submit" class="btn btn-danger">{{ 'Transform Data'|trans }}</button>
                    <input type="hidden" name="transformDeleted" value="on">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}