{% extends 'base.html.twig' %}

{% block title %} {{ 'Feedback'|trans }} :: {{appName()}} {% endblock %}

{% block body %}

{% include 'component/message/custom_type_message_top_fixed.html.twig' %}

{% include 'layout/header.html.twig' %}

<section class="bg-light mb-4 sm-d-none">
    <div class="container py-2">
        <div class="row pt-3 d-flex">
            <div class="col-4">
                <p>{{ 'Feedback'|trans }}</p>
            </div>
            <div class="col-8">
                <div class="float-end">
                    <p>
                        <a href="{{ path('app_home') }}">Home</a> <span class="bi bi-chevron-right small"></span>
                        <span class="text-muted">{{ 'Feedback'|trans }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container fade-in mt-3" style="margin-bottom: 150px">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4 class="py-3">{{ 'Feedback'|trans }}</h4>
            <p class="fade-in">Please feel free to add your Feedback exactly how you feel about our services.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="{{path('app_api_testimonial_store')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="row">
                    <div class="row mb-3">
                        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                value="{{testimonial.firstName}}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" id="inputLastName" name="lastName"
                                value="{{testimonial.lastName}}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPosition" class="col-sm-2 col-form-label">Position</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" id="inputPosition" name="position" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputFile" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="file" class="form-control" id="inputFile" name="avatar"
                                aria-describedby="avatarHelpBlock">
                            <div id="avatarHelpBlock" class="small text-secondary">
                                Image size 75x75 and ext. (.jpg, .jepg or .png)
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputFeedback" class="col-sm-2 col-form-label">Feedback</label>
                        <div class="col-md-6 col-sm-10">
                            <textarea type="text" class="form-control" id="inputFeedback" name="description" rows="7"
                                required></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputFeedback" class="col-sm-2 col-form-label"></label>
                        <div class="col-md-6 col-sm-10">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="agreement" name="agreement"
                                    required>
                                <label class="form-check-label text-secondary" for="agreement">
                                    {{ 'By submitting the form, you agree to save, use and process your data'|trans }}.
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="token" value="{{token}}">
                    </div>

                    <div class="row mb-3">
                        <label for="inputFeedback" class="col-sm-2 col-form-label"></label>
                        <div class="col-md-6 col-sm-10">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success rounded-pill py-3 px-5">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}