<section class="container-fluid bg-light bg-gradient mt-4">
  <aside class="container rounded-3 pt-4 pb-4 pt-sm-5 mt-5">
      <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
          <div class="mb-4 mb-xl-0">
              <div class="fs-3 fw-bold text-dark-50">New products, delivered to you.</div>
              <div class="text-dark-50">Sign up for our newsletter for the latest updates.</div>
          </div>
          <div class="ms-xl-4">
              <form action="{{ path('app_newsletter_new') }}" method="post">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                  <div class="input-group mb-2">
                      <input class="form-control" type="email" placeholder="Email address..."
                             aria-label="Email address..." aria-describedby="button-newsletter" name="email">
                      <button class="btn btn-secondary" id="button-newsletter" type="submit">Sign up</button>
                  </div>
              </form>
              <div class="small text-dark-50">We care about privacy, and will never share your data.</div>
          </div>
      </div>
  </aside>
</section>

<div class="text-center bg-light py-5">
  <div
    class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
    <div class="d-flex flex-column align-items-center align-items-lg-start">
      <div class="text-muted"> © {{ year() }} {{ appName() }}. {{ 'All Rights Reserved'|trans }}</div>
      <div class="credits">
        <a href="{{ path('app_meta_cookies') }}" class="text-muted">Cookies</a>
        <span class="ps-1 pe-1 small">.</span>
        <a href="{{ path('app_meta_privacy_policy') }}" class="text-muted">Privacy Policy</a>
        <span class="ps-1 pe-1 small">.</span>
        <a href="{{ path('app_contact_form_index') }}" class="text-muted">Contact</a>
      </div>
    </div>
    <div class="order-first order-lg-last mb-3 mb-lg-0">
      <a href="#"><i class="bi bi-twitter text-muted me-3"></i></a>
      <a href="#"><i class="bi bi-instagram text-muted me-3"></i></a>
      <a href="#"><i class="bi bi-skype text-muted me-3"></i></a>
      <a href="#"><i class="bi bi-linkedin text-muted me-3"></i></a>
    </div>
  </div>
</div>