<nav class="navbar navbar-expand-lg shadow-b">
    <div class="container">
        <a class="navbar-brand pt-3 pb-3" href="{{ path('app_home') }}">
            <img src="{{ asset('assets/img/favicon/favicon-16x16.png') }}" width="23" height="23" alt="{{ appName() }}">
            <span class="font-monospace ms-1">{{ appName() }}</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {% set currentUri = app.request.requestUri %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ currentUri == path('app_home') ? 'active' : '' }}" aria-current="page"
                       href="{{ path('app_home') }}" rel="nofollow,noindex,noopnner">{{ 'Home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ currentUri == path('app_contact_form_index') ? 'active' : '' }}"
                       href="{{ path('app_contact_form_index') }}"
                       rel="nofollow,noindex,noopnner">{{ 'Contact us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about_us_index') }}" rel="nofollow,noindex,noopnner">{{ 'About us'|trans }}</a>
                </li>
            </ul>
            <div class="navbar-text">
                {% if app.user %}
                    <li class="nav-link dropdown">
                        <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.username|capitalize }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if handelTwoStepVerification(app.user) %}
                                <li><a class="dropdown-item" href="{{ path('app_profile_security_2fa_index') }}"
                                       rel="nofollow,noindex,noopnner">{{ 'Authenticate'|trans }}</a>
                                </li>
                            {% else %}
                                {% if is_granted('ROLE_EDITOR') %}
                                    <li><a class="dropdown-item" href="{{ path('app_admin_index') }}"
                                           rel="nofollow,noindex,noopnner">{{ 'Dashboard'|trans }}</a></li>
                                {% endif %}

                                <li><a class="dropdown-item" href="{{ path('app_profile_index') }}"
                                       rel="nofollow,noindex,noopnner">{{ 'Profile'|trans }}</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}"
                                       rel="nofollow,noindex,noopnner,noopnner">{{ 'Logout'|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-link">
                        <a class="nav-item" href="{{ path('app_login') }}" rel="nofollow,noindex,noopnner">
                            {{ 'Login'|trans }}
                        </a>
                    </li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>