{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Archived Contact Form Messages'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h4 class="m-0 h4-title">{{ 'Archived Contact Form Messages'|trans }}</h4>
            </div>
            <div class="col-6">

                <ol class="breadcrumb float-right">
                    {% if contacts is defined and contacts and is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Export all Messages'|trans }}"
                        data-toggle="modal" data-target="#exportMessagesModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export All'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoContactsModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}

                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% if contacts is defined and contacts %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-head-bg">
                        <tr class="font-size-14">
                            <th scope="col">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'E-mail'|trans }}</th>
                            <th scope="col">{{ 'Subject'|trans }}</th>
                            <th scope="col">{{ 'Message'|trans }}</th>
                            <th scope="col">{{ 'Copy Sent'|trans }}</th>
                            <th scope="col">{{ 'IP'|trans }}</th>
                            <th scope="col">{{ 'Created At'|trans }}</th>
                            <th>{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr class="tr-over-bg font-size-14">
                            <td>{{ contact.name|capitalize }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.subject ? contact.subject|slice(0, 15) ~ '...' : dash() }}</td>
                            <td>{{ contact.message|slice(0, 15) ~ '...' }}</td>
                            <td>{{ contact.isCopySent ? 'Yes' : 'No' }}</td>
                            <td>{{ contact.ip|slice(0, 15) ~ '...' }}</td>
                            <td>{{ contact.createdAt|date('Y-m-d H:i') }}</td>

                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_admin_contact_edit', {id:contact.id}) }}">
                                    <span class="fa fa-edit fa-sm text-primary pointer mr-3"
                                        title="{{ 'Edit'|trans }}"></span>
                                </a>
                                {% else %}
                                {% include 'admin/component/no_permission.html.twig' %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/contact/modal/export.html.twig' %}
{% include 'admin/contact/modal/general_infos.html.twig' %}

{% endblock %}