{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Contact Form Messages'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h4 class="m-0 pt-1 h4-title">{{ 'Contact Form Messages'|trans }}</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb float-right">

                    {% if contacts is defined and contacts and is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Export all Messages'|trans }}"
                        data-toggle="modal" data-target="#exportMessagesModal">
                        <span class="fa fa-download text-primary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Export All'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Remove all IPs from Messages'|trans }}"
                        data-toggle="modal" data-target="#removeIPsModal">
                        <span class="fa fa-window-close text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Remove IPs'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Archive all Messages'|trans }}"
                        data-toggle="modal" data-target="#archiveAllModal">
                        <span class="fa fa-archive fa-sm text-secondary pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Archive all'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoContactsModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}

                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/contact/partial/table_content.html.twig' %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% include 'admin/contact/modal/remove_ip_addresses.html.twig' %}
{% include 'admin/contact/modal/export.html.twig' %}
{% include 'admin/contact/modal/archive.html.twig' %}
{% include 'admin/contact/modal/general_infos.html.twig' %}

{% endblock %}