{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Deleted Contact Form Messages'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h4 class="m-0 pt-1 h4-title">{{ 'Deleted Contact Form Messages'|trans }}</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb float-right">

                    {% if contacts is defined and contacts and is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#transformDataModal">
                        <span class="fa fa-user-secret fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Transform Data'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteContactModalPermanently">
                        <span class="fas fa-cog text-warning pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Cean Up'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" title="{{ 'Delete all Messages'|trans }}"
                        data-toggle="modal" data-target="#deleteAllMessagesModal">
                        <span class="fa fa-trash fa-sm text-danger pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Delete All'|trans }}</span>
                    </button>

                    <button class="btn bg-white btn-sm mr-1" data-toggle="modal" data-target="#infoContactsModal">
                        <span class="fa fa-info-circle text-info pointer"></span>
                        <span class="sm-md-d-none ml-1 pr-1">{{ 'Info'|trans }}</span>
                    </button>
                    {% endif %}

                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% if contacts is defined and contacts %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-head-bg">
                        <tr class="font-size-14">
                            <th scope="col">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'E-mail'|trans }}</th>
                            <th scope="col">{{ 'Subject'|trans }}</th>
                            <th scope="col">{{ 'Message'|trans }}</th>
                            <th scope="col">{{ 'Copy Sent'|trans }}</th>
                            <th scope="col">{{ 'IP'|trans }}</th>
                            <th scope="col">{{ 'Created At'|trans }}</th>
                            <th>{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr class="tr-over-bg font-size-14">
                            <td>{{ contact.name|capitalize }}</td>
                            <td>

                                {% if contact.email %}
                                <span title="{{ contact.email }}" class="fa fa-envelope text-secondary"></span>
                                {% else %}
                                {{ dash() }}
                                {% endif %}

                            </td>
                            <td>{{ contact.subject ? contact.subject|slice(0, 15) ~ '...' : dash() }}</td>
                            <td>{{ contact.message|slice(0, 15) ~ '...' }}</td>
                            <td>{{ contact.isCopySent ? 'Yes'|trans : 'No'|trans }}</td>
                            <td>{{ contact.ip|slice(0, 15) ~ '...' }}</td>
                            <td>{{ contact.createdAt|date('Y-m-d H:i') }}</td>

                            <td class="d-flex">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div>
                                    <a href="{{ path('app_admin_contact_edit', {id:contact.id}) }}">
                                        <span class="fa fa-edit fa-sm text-primary pointer mr-3"
                                            title="{{ 'Edit'|trans }}"></span>
                                    </a>
                                </div>
                                <div class="pointer">
                                    <span class="fa fa-trash fa-sm text-danger contactId" data-toggle="modal"
                                        data-target="#deleteContactModal" data-id="{{ contact.id }}"
                                        title="{{ 'Delete'|trans }}">
                                    </span>
                                </div>
                                {% else %}
                                {% include 'admin/component/no_permission.html.twig' %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include 'admin/component/pagination/links.html.twig' with {'uri': app.request.get('_route')} %}

            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% if contacts is defined and contacts %}
{% include 'admin/contact/modal/delete_contact.html.twig' %}
{% include 'admin/contact/modal/delete_all.html.twig' %}
{% include 'admin/contact/modal/delete_contacts_permanently.html.twig' %}
{% include 'admin/contact/modal/transform_data.html.twig' %}
{% include 'admin/contact/modal/general_infos.html.twig' %}
{% endif %}

{% endblock %}