{% extends 'admin/layout/base.html.twig' %}

{% block title %} Admin Dashboard :: {{ 'Edit Contact Form Message'|trans }} {% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h5 class="m-0 h4-title">{{ 'Edit'|trans }}</h4>
            </div>
            <div class="col-2">
                <ol class="breadcrumb float-right">
                    {% if contact is defined and contact %}
                    <a href="{{ path('app_admin_contacts_index') }}">
                        <span class="fa fa-window-close fa-lg text-secondary pointer"
                            title="{{ 'Close'|trans }}"></span>
                    </a>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            {% if contact is defined and contact and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-6">
                <form class="pb-3" action="{{ path('app_admin_contact_store') }}" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputName">{{ 'Name'|trans }}: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputName" name="name"
                                    placeholder="{{ 'Enter name (required)'|trans }}" value="{{ contact.name }}"
                                    readonly required>
                            </div>

                            <div class="form-group col">
                                <label for="inputEmail">{{ 'E-mail Address'|trans }}: <span
                                        class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="inputEmail" name="email"
                                    placeholder="{{ 'Enter email (required)'|trans }}" value="{{ contact.email }}"
                                    readonly required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSubject">{{ 'Subject'|trans }}: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="inputSubject" name="subject"
                            placeholder="{{ 'Enter subject (required)'|trans }}" value="{{ contact.subject }}" readonly
                            required>
                    </div>

                    <div class="form-group">
                        <label for="inputMessage">{{ 'Message'|trans }}: <span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" id="inputMessage" name="message" rows="5"
                            placeholder="{{ 'Enter Message (required)'|trans }}" readonly
                            required>{{ contact.message }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="inputIP">{{ 'IP'|trans }}:</label>
                        <textarea type="text" class="form-control" id="inputIP" name="ip"
                            placeholder="{{ 'IP is not available'|trans }}">{{ contact.ip }}</textarea>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputUpdated">{{ 'Modified'|trans }}:</label>
                                <input type="text" class="form-control" id="inputUpdated" name="updated"
                                    placeholder="{{ 'Y-m-d H:i' }}" value="{{ contact.updatedAt|date('Y-m-d H:i') }}"
                                    required>
                            </div>

                            <div class="form-group col">
                                <label for="inputCreated">{{ 'Created'|trans }}:</label>
                                <input type="text" class="form-control" id="inputCreated" name="created"
                                    placeholder="{{ 'Y-m-d H:i:s' }}" value="{{ contact.createdAt|date('Y-m-d H:i') }}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="copySent" disabled {{ contact.copySent
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="copySent">{{ 'Is copy from Message sent'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="archived" name="archived" {{
                            contact.archived ? 'checked' : null }}>
                        <label class="form-check-label" for="archived">{{ 'Is Archived'|trans }}</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="deleted" name="deleted" {{ contact.deleted
                            ? 'checked' : null }}>
                        <label class="form-check-label" for="deleted">{{ 'Is Deleted'|trans }}</label>
                    </div>

                    <button type="submit" class="btn btn-dark">{{ 'Save changes'|trans }}</button>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" value="{{ contact.id }}" name="contactId">
                    <input type="hidden" name="copySent" value="{{ contact.copySent ? 'on' : 'off' }}">
                </form>
            </div>
            <div class="col-md-6">
                <div class="mt-3 bg-white pl-3 pr-3 pt-3 pb-3">
                    <p><span class="text-bold mr-2">{{ 'Name'|trans }}:</span>{{ contact.name|capitalize }}
                        ({{ contact.email }}) # {{ contact.id }}</p>

                    <p><span class="text-bold mr-2">{{ 'Subject'|trans }}:</span>{{ contact.subject }}</p>

                    <p><span class="text-bold mr-2">{{ 'Message'|trans }}:</span>
                        {{ replaceLinkWithHref(contact.message)|raw }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'IP'|trans }}:</span>{{ contact.ip ?: dash() }}</p>

                    <p><span class="text-bold mr-2">{{ 'Is copy from Message sent'|trans }}:</span>
                        {{ contact.copySent ? faCircle('text-success') : dash() }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Is Archived'|trans }}:</span>{{ contact.archived ?
                        faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p><span class="text-bold mr-2">{{ 'Is Deleted'|trans }}:</span>
                        {{ contact.deleted ? faCircle('text-success') : faCircle('text-danger') }}
                    </p>

                    <p title="{{ contact.updatedAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Modified'|trans }}:</span>{{ contact.updatedAt|date }}
                    </p>

                    <p title="{{ contact.createdAt|date('Y-m-d H:i:s') }}"><span class="text-bold mr-2">
                            {{ 'Datetime'|trans }}:</span>{{ contact.createdAt|date }}
                    </p>
                </div>
                <div class="mt-3">
                    {% include 'admin/component/back_to_route.html.twig' with {
                    routeName: 'app_admin_contacts_index',
                    linkText: 'Back to Contacts'|trans
                    } %}
                </div>
            </div>
            {% else %}
            {% include 'admin/component/no_data_found.html.twig' %}
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </div>
</section>

{% endblock %}